[2020-04-06 13:25] GuillaumeAV opened #1 "Créer un gogocarto pour Christian Lefaure et son voyage de 4 mois !"

[2020-04-06 13:28] GuillaumeAV opened #2 "Créer un gogocarto pour Christian Lefaure et son voyage de 4 mois !"

[2020-04-06 13:30] GuillaumeAV opened #3 "Créer un formulaire de contact pour le parcours normand"

[2020-04-06 13:30] GuillaumeAV opened #4 "Intégrer le gogocarto à Wordpress"

[2020-04-06 13:30] GuillaumeAV opened #5 "Développement de la v1 - Overview"
Objectif de livraison : 25 Mars - présentation lors du Faire Système avec Igor (Territoire en communs)
Action à mener :
Intégrer gogocarto à Wordpress
=> Guillaume demande à Simon
=> Lundi 24 Fev (Anniversaire de karine).
Référencer sur Gogocarto des lieux Normandie sur les CDLT
-> Pour les référents du parcours ? (Guillaume va les brieffer)
Créer un article sur wordpress décrivant le cadre du par

[2020-04-06 13:34] GuillaumeAV opened #6 "Mode de transport + cout"

[2020-04-06 13:35] GuillaumeAV opened #7 "Réservation"
En tant que Hugo, je peux effectuer une réservation sur une session de formation.

[2020-04-06 13:35] GuillaumeAV opened #8 "Chatroom"
En tant qu'utilisateur enregistré, j'ai accès à un outil de messagerie directe

[2020-04-06 13:35] GuillaumeAV opened #9 "Appel à compétence"
En tant que Marie, je peux faire appel au réseau pour chercher des compétences pour réaliser un chantier ou une formation

[2020-04-06 13:35] GuillaumeAV opened #10 "Certification"
En tant que Hugo, après avoir suivi un parcours de formation, je peux demander un certificat/une attestation qui prouve que j'ai bien réalisé ce parcours et qui m'apporter de la crédibilité

[2020-04-06 13:36] GuillaumeAV opened #11 "Créer un profil dynamique - Hugo"

[2020-04-06 13:36] GuillaumeAV opened #12 "Autour de chez Marie"
En tant que Hugo (visiteur/chemineur), je peux visualiser les lieux de la transition autour de chez Marie

[2020-04-06 13:36] GuillaumeAV opened #13 "Créer un évènement de type séjour"
En tant que Marie, si j'ai créé mon profil, je peux organiser des séjours

[2020-04-06 13:37] GuillaumeAV opened #14 "Profil dynamique - Marie"

[2020-04-06 13:37] GuillaumeAV opened #15 "Créer profil statique - Hugo"
En tant que Hugo, je peux créer, modifier et supprimer mon profil

[2020-04-06 13:37] GuillaumeAV opened #16 "Créer des évènements similaires - Marie"
En tant que Marie, si j'ai déjà créé un évènement, je peux le dupliquer pour l'enregistrer avec des nouvelles dates

[2020-04-06 13:38] GuillaumeAV opened #17 "Créer un parcours de formation (cf wiki)"

[2020-04-06 13:38] GuillaumeAV opened #18 "Créer une demande/un besoin ponctuel"

[2020-04-06 13:38] GuillaumeAV opened #19 "Créer un évènement de type formation"
En tant que Marie, si j'ai créé mon profil, je peux créer un évènement (non récurrent) de type formation

[2020-04-06 13:39] GuillaumeAV opened #20 "Créer son profil (statique) - Marie"
En tant que Marie, je peux créer, éditer et supprimer mon profil

[2020-04-06 15:56] GuillaumeAV opened #21 "Il manque une catégorie culture"

[2020-04-08 15:32] ircocomat commented on #12
On peut déjà visualiser les lieux autour de chez Marie avec le GogoCarto, en revanche en fonctionnalité spécifique, Semapps .

[2020-04-08 15:35] ircocomat commented on #10
Ne pas confondre certification de parcours et certification/validation de compétences obtenue lors d'un passage sur un lieu .

[2020-04-09 15:29] Mathieu-CdlT opened #22 "Comment MR Taxonomie Gogocarto"
**Réflexions générales sur le panneau de gauche :**
•	Dans le panneau de gauche il y a à mon sens beaucoup trop d’informations qui risquent de rebuter le visiteur. L’idée serait de ne mettre que les informations essentielles qui permettent au visiteur de rapidement visualiser les thématiques proposer et les formes de voyage proposées.
•	D’autant que dans un premier temps et au vu du nombre d’initi

[2020-04-10 13:39] GuillaumeAV opened #23 "Faire une petite vidéo pour remplir le gogocarto"
Expliquer :
* Prioriser les ères, domaines et branches
* Expliquer le mécanisme de saisie ..

[2020-04-10 13:45] GuillaumeAV opened #24 "Rédiger et linker la charte sur le formulaire"

[2020-04-10 13:50] GuillaumeAV opened #25 "Réfléchir au processus de modération"
De nombreuses options sont possibles, y compris le mode modération collaborative par les utilisateurs de la plateforme ..
Il y a donc des choix à faire ..

[2020-04-10 14:00] GuillaumeAV opened #26 "Créer et afficher des parcours préconstruits ?"
Sur le menu ? Nulle part sur le gogocarto mais à partir d'un lien vers le descriptif du parcours sur le wordpress..

[2020-04-12 15:56] ircocomat opened #27 "Dans Culture, média et lien social, ajouter domaines (voir commentaires)"
- arts plastiques (sculpture) ;
- arts visuels (peinture , dessin, etc.) ;
- arts graphiques
- musique ;
- arts littéraires (poésie ou dramaturgie) ;
- arts du spectacle (théâtre, danse, mime, cirque) ;
- arts audiovisuels (cinéma, docus) ;
- arts numériques
- arts industriels
- autres arts

[2020-04-12 16:02] ircocomat opened #28 "Ajouter item -Hétérarchie- dans Modèle social et humain"

[2020-04-12 16:02] ircocomat opened #29 "Retirer catégorie code social dans recherche par filtres"

[2020-04-12 16:03] ircocomat opened #30 "Fiche descriptive lieu - CodeSocial (voir commentaire)"
Notamment ;..
Fiche descriptive lieu - CodeSocial (voir commentaire)
Lorsque l’on affiche la fiche description d’un lieu, est ce possible de retirer la partie code sociale avec modèle rédigé/détaillé si elle n’est pas renseignée durant l’inscription ?

[2020-04-12 16:04] ircocomat opened #31 "Retirer le “on” a la fin de la fiche descriptive des lieux"

[2020-04-12 16:05] ircocomat opened #32 "Mettre une le menu en capital = MENU"

[2020-04-13 09:12] GuillaumeAV opened #33 "Invisibiliser les champs non remplis"
Ce serait quand même beaucoup plus joli ;-)

[2020-04-13 09:30] GuillaumeAV opened #34 "Question de l'attribution de droits aux propriétaires .."
La je remplis des fiches, mais j'aimerais bien passer la main aux propriétaires ... Est-ce possible, pas si sûr !

[2020-04-13 13:11] ircocomat opened #35 "Dans Artisanat et Industrie ajouter les domaines suivants (commentaires)"
Liste des métiers de l’artisanat
Le bâtiment :

    peintre en bâtiment
    maître-tailleur
    peintre en décors
    carreleur
    chauffagiste

    couvreur
    maçon
    plombier
    tapissier

Les services :

    maréchal-ferrant
    taxidermiste
    coiffeur
    esthéticienne

    fleuriste
    tailleur
    gemmologue

La fabrication :

    designer céramique
    cordonnier
    ébéniste
    f

[2020-04-13 13:15] ircocomat commented on #35
Métallurgie : chaudronnerie, soudage ,fonderie, forge

Mécanicien .

[2020-04-13 13:21] ircocomat opened #36 "Santé, Bien-être & SPORT ajouter les domaines (commentaires)"
Art Martiaux
Shiatsu
Pharmacognosie
Ayurvéda
Naturopathie
Yoga
Hypnose
Chi gong
Sophrologie
Réflexologie

[2020-04-13 13:26] ircocomat opened #37 "Agriculture et Alimentation ajouter les domaines suivants (commentaires)"
Aquaculture
Viticulture
Brassicole
Cidricole
Viticole
Pisciculture
Algoculture

[2020-04-13 16:09] bouviermullerp opened #38 "Changer l'appellation type de voyage -> type d'apprentissage"
Et ajouter la possibilité d'avoir des formations "classiques" - même si nous sommes dans une dimensions plus large d'apprentissage.
Exemple, je ne peux pas renseigner de formation au compost, et pourtant je pense que ça rentre dans le cadre des cdlt non ?

[2020-04-15 09:21] Mathieu-CdlT opened #39 "Rubrique compagnonnage"
Remplacer compagnonnage par "Apprentissage long" ou tout du moins se renseigner sur compagnonnage et la façon dont le terme est normé.

[2020-04-15 09:22] GuillaumeAV opened #40 "Visualiser les parcours d'autres utilisateurs"
Possible via la création d'items parcours, référencés sur le wordpress

[2020-04-15 09:24] GuillaumeAV opened #41 "Compagnonage"
Vérifier si on peut utililiser ...

[2020-04-15 09:25] GuillaumeAV opened #42 "Mettre en place les systèmes participatifs de garantie ?"
Ou autre système ...
https://fr.wikipedia.org/wiki/Syst%C3%A8me_de_garantie_participatif

[2020-04-15 09:28] GuillaumeAV opened #43 "Processus d'essaimage"
Faut il faire 3 rdv avec chaque acteur ?
Peut-on sous-traiter via la plateforme ?
Peut envisager un process d'essaimage pair à pair , de proche en proche, avec des ambassadeurs ?

[2020-04-15 13:01] #41 closed, assigned to nobody

[2020-04-15 13:04] Mathieu-CdlT commented on #34
Le propriétaire créé, l'admin rempli

[2020-04-20 10:01] GuillaumeAV opened #45 "Recherche avancée : Créer une page dédiée ?"
En effet, une iterface de recherch simple apparait nécessaire ... Cela dit une interface de recherche avancée pourrait être utile, la créer sur une nouvelle page ?

[2020-04-20 10:37] laurecoplo opened #46 "Proposition de modification de lieux : modif qui n'apparaissent pas"
Hello
Avec Guillaume, nous avons testé de modifier un lieu sur la plateforme. Mais pour l'administrateur, la modif n'apparait pas. il y a seulement possibilité d'accepter ou de refuser cette proposition de modif.

[2020-04-21 12:09] FranckCS opened #47 "CouCou"

[2020-04-21 13:46] ircocomat opened #50 "Modération des membres ? Gestion des administrateurs ."
Je ne peux pas supprimer un lieu après l'avoir renseigné .

[2020-04-21 14:58] GuillaumeAV opened #51 "Actualiser le ReadMe"
Avec les infos spécifiques à la plateforme ...

[2020-04-21 15:11] #47 closed, assigned to FranckCS

[2020-04-21 15:30] #5 closed, assigned to nobody

[2020-04-21 16:06] GuillaumeAV commented on #22
Régies électriques ?
Espace de coliving ?
Catégorie écoféminisme ? => Modèle culturel ?
Arborescence : Méta thématique - Sous thématique.
Voir ce document ! https://drive.google.com/file/d/1jFR15ZVn6u-daFcVH6E4iCuTUc0_WZcP/view?usp=sharing

[2020-04-21 16:12] #21 closed, assigned to nobody

[2020-04-21 16:28] #33 closed, assigned to nobody

[2020-04-21 16:32] ircocomat opened #52 "Créer un glossaire"

[2020-04-22 10:11] GuillaumeAV opened #53 "Construire le process modération des lieux CdlT"
Analyser les potentialités Gogocarto
Construire une ou plusieurs propositions idéalement phasées dans le temps :
* Au début : Co-construction, modération et appropriation collective ?
* Ensuite : Auto-gestion collaborative, via des votes ?

[2020-05-27 16:05] Mathieu-CdlT opened #65 "Finaliser V1 GogoCarto"
Travailler sur GogoCarto de façon à avoir une V1 "stable" sur laquelle on puisse commencer à référencer des initiatives.
Objectif : être prêt, avoir une version aboutie et consensuelle pour 8 jours avant l'AV
Moyens: monter des réunions hebdo sur  GogoCarto et avancer
Ressources : Guillaume en coordinateur de la démarche
Détails: voir issues dans développement plateforme
Dead Line: 10 Juin 2020

[2020-05-28 11:41] Mathieu-CdlT opened #54 "Revoir le formulaire contact Wordpress"
Reprendre et simplifier le formulaire contact. 1 seule case d'écriture quitte à suggérer aux répondants quoi mettre dedans (besoins, compétences, envies...).

Voir pourquoi les mails reçus issus de ces formulaires contacts sont vides souvent (les répondants se contentent de remplir les cases?).

Toutes les cases sont utiles ?

[2020-05-29 10:37] GuillaumeAV commented on #65
Il y a une taxo intéressante dans ce formulaire ;-) https://limesurvey.uclouvain.be/limesurvey319/index.php/515496

[2020-05-29 10:39] GuillaumeAV commented on #54
Oui, il faut surtout changer de plugin ... Mais en effet, une seule case pourrait suffire ..
J'essaie de regarder la semaine prochaine !

[2020-06-04 12:55] Mathieu-CdlT opened #55 "Cahier des Charges v.0.1"
GogoCarto - Wordpress:
5000 € à recevoir de PDGE
3000 € sur GogoCarto WP
Quel travail - réaliser un Cahier des Charges
Intégrer agenda, module de réservation / paiement...
Définir les livrables et calendrier
Intégrer coûts des abonnements éventuels, maintenance
Trouver un développeur

[2020-06-04 12:57] #1 closed, assigned to nobody

[2020-06-04 12:57] #2 closed, assigned to nobody

[2020-06-04 12:57] #3 closed, assigned to nobody

[2020-06-04 13:00] Mathieu-CdlT commented on #20
profil accueillant

[2020-06-04 13:01] #29 closed, assigned to nobody

[2020-06-04 13:09] GuillaumeAV opened #56 "Voir si on peut enlever les flèches du menu déroulant .."

[2020-06-04 13:10] GuillaumeAV opened #57 "Travailler la taxonomie !"
Pour la condenser et la rende plus pertinente ?

[2020-06-04 13:12] #27 closed, assigned to nobody

[2020-06-04 13:13] #28 closed, assigned to nobody

[2020-06-04 13:26] #35 closed, assigned to nobody

[2020-06-04 13:27] #36 closed, assigned to nobody

[2020-06-04 13:28] GuillaumeAV commented on #57
arts plastiques (sculpture) ;
arts visuels (peinture , dessin, etc.) ;
arts graphiques
musique ;
arts littéraires (poésie ou dramaturgie) ;
arts du spectacle (théâtre, danse, mime, cirque) ;
arts audiovisuels (cinéma, docus) ;
arts numériques
arts industriels
autres arts

Modèle social et humain:

* Hétérarchie

Liste des métiers de l’artisanat
Le bâtiment :

peintre en bâtiment
maître-tailleur
pe

[2020-06-04 13:29] #37 closed, assigned to nobody

[2020-06-04 13:35] GuillaumeAV opened #58 "En mode liste ou fenêtre les tags sont répulsifs"
Ca fait un gros paté de tags relativement illisible ...
Il faudrait les enlever

[2020-06-04 13:38] GuillaumeAV opened #59 "En mode liste ou fenêtre, les tags qui s'affichent en haut sont répulsifs"
Ca fait un gros paté de tags relativement illisible ...
Il faudrait les enlever

[2020-06-04 13:38] #58 closed, assigned to nobody

[2020-06-04 13:42] Mathieu-CdlT opened #60 "Fiche lieu (Marie) Modifications"
FICHE LIEU - GOGOCARTO

INFORMATIONS GENERALES – OK

PRESENTATION :
-	Présentation du lieu – ok
-	Activités, métiers, compétences – séparer en :
o	Activités du lieu
o	Compétences proposées

-  Compétences recherchées

CONDITIONS ET MODALITES D’ACCUEIL – OK (ou a peu près)

TYPES DE VOYAGES – OK

THEMATIQUES :
-	Beaucoup trop long
-	Faire disparaitre les thématiques dans la fiche d'affichage du lie

[2020-06-04 13:42] GuillaumeAV opened #61 "Ajouter offres et besoins dans la fiche détail ..."
Quels sont vos besoins ?

Que souhaitez-vous partager ?

[2020-06-05 13:36] #61 closed, assigned to nobody

[2020-06-05 13:38] GuillaumeAV opened #62 "Afficher les entrées des catégories en ligne plutôt qu'en colonne"
Affichage des entrées des catégories en ligne plutôt qu'en colonne ...
On peut le paramétrer à partir des onglets de la fiche détail :

- Liste des champs disponibles (taxonomie / catégorie)
- Liste des filtres disponibles (gogocarto taxonomy)

[2020-06-05 13:42] GuillaumeAV opened #63 "Exporter les taxonomies des cartos gogocarto"
=> Pour les comparer et construire un référentiel métier ..

Sebastian ne peut pas le faire directement ..

Mais on peut rédiger un petit script pour aller chercher les api des différentes cartes puis taper dedans ;)

Par exemple : api des chemins de la transition : https://lescheminsdelatransition.gogocarto.fr/api/taxonomy

[2020-06-08 15:17] GuillaumeAV commented on #57
[Le lien vers le document de travail pour l'enquête](https://docs.google.com/document/d/1SNnrqFoRogwtIAR8nWwVyVliesgB83SOnwiRQ2XOkFs/edit?usp=sharing)

[2020-06-08 15:24] GuillaumeAV commented on #57
Retour de Morgane Luraski (Carrefour des innovations sociales)

Très bien l’enquête, je pense néanmoins que si votre objectif est d’identifier des « métiers » et les « secteurs » vous devriez poser la question plus directement votre questionnaire pour ainsi avoir des réponses plus précises :

Par exemple :

- Quel est votre secteur d’activité ?
Vous pouvez proposer votre liste pour donner des exem

[2020-06-08 15:45] GuillaumeAV commented on #57
Modes de vie, modes de production et modes d'organisation, engagement citoyen, développement territorial sont transversaux

Et mode de consommation ?

[2020-06-16 08:41] bouviermullerp opened #64 "Est-il nécessaire d'être adhérent au CdlT pour avoir accès à la plateforme ?"

[2020-06-16 12:32] #4 closed, assigned to nobody

[2020-06-18 08:52] bouviermullerp commented on #42
Ce sujet n'est pas vraiment lié à Gogocarto, si ?
Dans la discussion d'hier, on a lié la discussion des SPG aux Open Badges !

[2020-06-18 14:40] GuillaumeAV commented on #65
Je kiffe de plus en plus l'idée proposée par Laure :
- De ne pas faire de taxo
- De privilégier le référencement de lieux et la construction de parcours
- Et de catégoriser à posteriori !

Ca nous permettrait d'avoir des tags au lieu d'avoir une taxo, et surtout d'avoir de la donnée et des choses en face !

[2020-06-19 08:59] bouviermullerp commented on #10
Lié à l'issue #42 - Open Badgbe + Système participatif de garantie

[2020-06-19 09:01] bouviermullerp commented on #42
Cette issue sera traité avec la partie Certification #10

[2020-06-19 09:01] #42 closed, assigned to nobody

[2020-06-19 09:03] bouviermullerp commented on #30
@ircocomat à quel commentaire fais tu référence ?

[2020-06-19 09:04] bouviermullerp commented on #11
@GuillaumeAV qu'entends-tu par profil dynamique ?

[2020-06-19 09:08] bouviermullerp commented on #14
Duplicate of #11

[2020-06-19 09:08] #14 closed, assigned to nobody

[2020-06-19 09:11] bouviermullerp commented on #17
Issue lié à #40 et #26

[2020-06-19 09:14] bouviermullerp commented on #43
@GuillaumeAV peux-tu spécifier un peu plus? C'est lié à une forme de modération ? Est-ce que tu penses à quelque chose comme G1/Duniter ou ton profil doit être validé par 5 personnes ?

[2020-06-19 09:47] bouviermullerp commented on #19
Une partie de cette issue sera à traiter dans le commun [SemApps](https://github.com/assemblee-virtuelle/semapps) possibilité de créer des évènements.
La partie spécifique concerne la customisation et les écrans.

[2020-06-20 15:07] GuillaumeAV commented on #64
Je dirais que non, il faut qu'on affine le modèle économique avec @Mathieu-CdlT & @laurecoplo ..

Je crois que la logique du don est à privilégier, comme Framasoft, Vipassana ou toutes les grandes ONG (Greenpeace, MSF etc.) par exemple.

L'adhésion doit à mon sens traduire une volonté d'implication, et une participation à la gouvernance, elle doit donc être optionnelle et basée sur une motivation

[2020-06-21 08:50] GuillaumeAV commented on #43
Hey ! J'avais écrit cette issue quand je rencontrais les acteurs normands :
Je me disais que dans les conditions actuelles, il faut au moins 3 rdv :
- Un pour que les gens comprennent le projet
- Un pour que les gens réflechissent et affinent leur participation aux CdlT
- Un enfin pour les embarquer concrètement ..

La question est du coup, est-ce qu'il faut vraiment 3 rdv ou est-ce qu'on peut "au

[2020-06-22 16:22] GuillaumeAV opened #66 "Documenter le processus de contribution sur la plateforme"

[2020-07-06 16:02] GuillaumeAV opened #67 "Onboarder David sur les outils"

[2020-07-07 14:59] Mathieu-CdlT commented on #55
@GuillaumeAV Ou est le cahier des charges qu'il faut relire?

[2020-07-07 15:08] GuillaumeAV commented on #55
Hey !
On va commencer à réfléchir dans les jours qui viennent (réunion à fixer) avec @J9rem !

[2020-07-10 10:43] J9rem opened #68 "Installer Media Wiki + Semantic Media Wiki"
Suite à la [réunion du 09/07/2020](https://github.com/chemins-de-la-transition/plateforme/wiki/R%C3%A9union-du-9-juillet) sur la plate-forme V1, nous partons sur [Media Wiki](https://www.mediawiki.org/wiki/MediaWiki) + [Semantic Media Wiki](https://www.semantic-mediawiki.org/wiki/Semantic_MediaWiki).

[2020-07-10 10:48] J9rem opened #69 "Mettre en place une passerelle YesWiki vers Gogocarto"
Créer une passerelle pour qu'à la création/modification des fiches sur Chemin de la transition, une fiche soit créée/modifiée sur [GoGoCarto](http://lescheminsdelatransition.org/integration/#/carte/@47.32,0.48,7z?cat=all)

[2020-07-10 10:53] J9rem opened #70 "Mettre en forme MediaWiki"
[Media Wiki une fois installé](https://github.com/chemins-de-la-transition/plateforme/issues/68), mettre ne forme le site pour prendre en compte les travaux UX de Rachel

[2020-07-10 11:00] J9rem commented on #68
C'est pour répondre à l'issue [Finaliser V1 GogoCarto](https://github.com/chemins-de-la-transition/plateforme/issues/65)

[2020-07-10 11:00] J9rem commented on #69
C'est pour répondre à l'issue [Finaliser V1 GogoCarto](https://github.com/chemins-de-la-transition/plateforme/issues/65)

[2020-07-10 11:01] J9rem commented on #70
**Question** : est-ce que les documents des travaux de Rachel sont suffisants pour définir ce sue nous attendons ?

[2020-07-10 11:19] J9rem commented on #68
Sait-on où installer la plate-forme V1 ?

[2020-07-13 09:33] GuillaumeAV commented on #68
Hellooo !

C'est une bonne question ...

Je l'installerais bien sur un serveur dont l'url d'accès pourrait être beta.lescheminsdelatransition.org.. Accessoirement, on est chez OVH pour le moment ... Tu veux les codes d'accès ?

[2020-07-13 09:35] GuillaumeAV commented on #70
Huuum j'aurais tendance à suggérer une approche itérative pour tendre vers / dépasser les travaux de Rachel ?
En jouant le plus rapidement possible avec des données ...

[2020-07-13 09:35] J9rem commented on #68
Salut,
effectivement, je veux bien les codes d'accès pour voir comment faire un proposition de nom dans le canal principal Cdlt.
Merci ;-)

[2020-07-13 09:55] J9rem commented on #70
Effectivement, c'est une bonne idée de s'adapter au CMS Media Wiki.

[2020-07-17 07:45] J9rem commented on #68
[Notes sur l'installation](https://github.com/chemins-de-la-transition/plateforme/wiki/Media-wiki---semantic)

[2020-07-20 15:19] J9rem opened #71 "Faire une présentation du choix de la V1 à toute l'équipe"
Le choix technique de la V1 s'orientait vers wordpress + gogocarto.
L'équipe est curieuse de découvrir ce choix (présentation rapide).
(cf. [CR 9 Juillet](https://github.com/chemins-de-la-transition/plateforme/wiki/R%C3%A9union-du-9-juillet))

[2020-07-20 15:47] J9rem commented on #71
Penser à mettre à jour la page [Plateforme](http://lescheminsdelatransition.org/les-technologies-utilisees-2/)

[2020-07-21 16:02] J9rem commented on #71
J'ai déposé un premier message explicatif sur le canal principal de CdlT pour mettre en lien vers le [CR du 9 juillet](https://github.com/chemins-de-la-transition/plateforme/wiki/R%C3%A9union-du-9-juillet).

[2020-07-28 09:51] pruls commented on #67
C'est fait, à moi de prendre mes marques. Merci!

[2020-07-29 13:55] Mathieu-CdlT opened #72 "Calendrier et mise à jour du site internet (onglet plateforme)"
Je viens de me rendre compte que l'onglet plateforme avec étapes de développement n'est pas du tout à jour sur notre site internet....

Actuellement visible sur notre site:

- Version beta GogoCarto disponible en Mars 2020
- Version V1 SemApps grand public dipso : Septembre 2020

Est ce qu'on pourrait :
1. Mettre à jour avec des échéances tenables
2. Faire un retro planning (réaliste avec des poin

[2020-08-01 14:11] J9rem commented on #71
Une carte a été ouverte sur [ce sujet](https://github.com/chemins-de-la-transition/plateforme/issues/72)

[2020-08-03 15:46] J9rem commented on #71
Proposer sur Matrix une visio de 20 minutes sinon fermer la fiche si pas de demande

[2020-08-03 15:48] J9rem commented on #72
Je me propose de faire la mise à jour à partir de mi-août, une fois la V1 mise en route.

[2020-08-04 09:49] J9rem commented on #68
En raison des discussions de la [Rétrospective du 3 août](https://github.com/chemins-de-la-transition/plateforme/wiki/R%C3%A9trospective-du-3-ao%C3%BBt), nous choisissons finalement d'utiliser [YesWiki](https://github.com/chemins-de-la-transition/plateforme/wiki/YesWiki)
Fermeture de cette issue qui n'est plus d'actualité.

[2020-08-04 09:49] #68 closed, assigned to J9rem

[2020-08-04 09:52] J9rem commented on #70
En raison des discussions de la [Rétrospective du 3 août](https://github.com/chemins-de-la-transition/plateforme/wiki/R%C3%A9trospective-du-3-ao%C3%BBt), nous choisissons finalement d'utiliser [YesWiki](https://github.com/chemins-de-la-transition/plateforme/wiki/YesWiki)
Fermeture de cette issue qui n'est plus d'actualité.

[2020-08-04 09:52] #70 closed, assigned to nobody

[2020-08-04 09:54] J9rem commented on #69
Changement du titre pour tenir compte de la décision du [Rétrospective du 3 août](https://github.com/chemins-de-la-transition/plateforme/wiki/R%C3%A9trospective-du-3-ao%C3%BBt)

[2020-08-04 10:11] J9rem opened #73 "Installer YesWiki Doryphore"
Suite à la [Rétrospective du 3 août](https://github.com/chemins-de-la-transition/plateforme/wiki/R%C3%A9trospective-du-3-ao%C3%BBt), nous décidons de partir sur la technologie [YesWiki](https://github.com/chemins-de-la-transition/plateforme/wiki/YesWiki)

Liste des sous-actions :
- [x] Installer YesWiki Doryphore
- [x] Mettre à jour la [documentation Wiki Github](https://github.com/chemins-de-la-t

[2020-08-04 22:31] J9rem commented on #73
Installation ici : https://lescheminsdelatransition.org/plateforme

[2020-08-04 23:37] J9rem opened #74 "Paramètres de configuration de la plateforme V1"
La [plateforme V1 en YesWiki](https://lescheminsdelatransition.org/plateforme) utilise les paramètres suivants :
[code]

Est-il possible de faire une relecture des mots clés et de la description ?
(c'est le contenu des balises META utilisées par les moteurs de recherche entre autre)

[2020-08-04 23:42] J9rem commented on #74
1. Est-ce que nous faisons simple avec modification ici-même + commentaires ?
2. ou sinon création d'un fichier dans la partir github avec relecture et suivi des modifications ?
(j'ai une préférence pour le choix 2 et vous ?)

[2020-08-05 00:09] J9rem opened #75 "Droits d'accès plateforme V1"
La [plateforme V1 en YesWiki](https://lescheminsdelatransition.org/plateforme) a été configurée pour définir des accès restreints sur certaines pages.

**A faire**:
- [ ] valider la spécification ci-dessous
- [ ] vérifier sa mise en place grâce à ces deux pages [GererUtilisateurs](https://lescheminsdelatransition.org/plateforme/?GererUtilisateurs) et [GererDroits](https://lescheminsdelatransition.

[2020-08-05 00:15] J9rem commented on #75
1. Est-ce que nous faisons simple avec modification ici-même + commentaires ?
2. ou sinon création d'un fichier dans la partir github avec relecture et suivi des modifications ?
(j'ai une préférence pour le choix 2 et vous ?)

[2020-08-05 09:46] GuillaumeAV commented on #74
J'ai une préférence pour ta préférence cher @J9rem ;)

[2020-08-05 10:07] J9rem opened #76 "Importer les fiches lieux dans la V1 depuis GoGocarto et le fichier de contact"
La [plateforme V1](https://lescheminsdelatransition.org/plateforme) peut déjà être complétée avec les données vérifiées issues de:
 - https://lescheminsdelatransition.gogocarto.fr
 - les messages reçus sur Facebook et par e-mails et collectés sur un fichier dans notre drive

[2020-08-05 10:27] GuillaumeAV commented on #76
Génial !!!!
J'ai complété une première fiche !!!
Petite question, ce n'est pas gogocarto pour de super raisons j'imagine ?

Félicitations !!

[2020-08-05 10:33] J9rem commented on #76
C'est encore à valider.... je dois me charger de commencer un cahier des charges (cf. [Issue 55](https://github.com/chemins-de-la-transition/plateforme/issues/55) pour le faire valider.

Deux options sont possibles :
- GoGocarto comme base de données MAIS c'est pas fait pour saisir le volume d'information que nous voulons pour chaque lieu
- ou utiliser YesWiki comme base de données MAIS ça ne prof

[2020-08-05 10:49] J9rem commented on #74
OK, j'ai créé une branche avec le fichier de configuration à valider/mettre à jour.
https://github.com/chemins-de-la-transition/plateforme/blob/J9rem-add-1/src/wakka.config.php
(j'ai bien pensé à retirer tous les paramètres d'identification de la base sql !)
Je vous laisse la modifier, etc .... quand ce sera OK pour revue, nous pourrons la passer en master.

C'est bon en faisant ainsi ?

[2020-08-05 10:51] J9rem commented on #75
Ca vous va si je crée un fichier dans ma branche dans le dossier spec/definition_acls.md pour pouvoir faire la revue etc (je prendrai soin de retirer les prénoms, ...) ?

[2020-08-05 13:23] bouviermullerp commented on #75
Il est également possible de créer un repo privé pour y mettre les fichiers de config !

[2020-08-05 13:24] bouviermullerp commented on #75
Petit point méthodo : on crée plutôt une issue "droits d'accès" et la validation se fait lors de la revue de la pull request.

[2020-08-05 15:55] J9rem commented on #75
Merci pour la clarification du point méthodologique. Ça m'aide bien.
Pour YesWiki, les configurations ACLS sont dans la base SQL, ce n'est pas un fichier de config à proprement dit.
Je pars donc sur une copie du fichier dans un .md à faire évoluer en communauté.
[Gestion Droits d'accès YesWiki Plateforme V1](https://github.com/chemins-de-la-transition/plateforme/blob/J9rem-add-1/spec/Gestion%20Dro

[2020-08-06 08:24] J9rem commented on #76
Le formulaire de création de lieu est maintenant bien avancé (description, etc, ...)

[2020-08-06 08:28] J9rem commented on #75
Toutefois, je peux faire des extractions de la base SQL en fichier texte pour ce qui concerne les droits d'accès que nous mettons dans un dépôt privé pour sauvegarde et aussi relecture. Est-ce que ça va dans le sens de ce que tu évoques Pierre ?

[2020-08-06 08:47] bouviermullerp commented on #75
@J9rem yes, c'est bien ça. Mais c'est comme tu le sens, si ça prend trop de temps et que ça n'apporte pas trop de valeur ajoutée, on peut probablement s'en passer pour le moment ?

[2020-08-06 08:48] J9rem commented on #75
Je regarde ceci après avoir consolidé une première version de la plateforme.

[2020-08-06 10:51] GuillaumeAV commented on #76
Aah ouais en effet félicitations @J9rem !!!

[2020-08-11 08:52] GuillaumeAV opened #77 "Page d'accueil (Feedbacks Guillaume)"
Helloo @J9rem @bouviermullerp  & co !

Tout d'abord j'ai renommé le tag gogocarto en "V1 YesWiki"

Ensuite je me suis amusé à faire une petite maquette pour le coeur de la home page :
https://docs.google.com/presentation/d/1_7nG4t5bKBTCsR1_iHcovoRgt64NX2t7yDNVU5eZ6sQ/edit?usp=sharing

Et j'ai demandé à Margaux et Valentine ce qu'elles en pensaient, elles trouvent ça cool !

Et vous ?
----
- [x] Ou

[2020-08-11 12:19] J9rem commented on #77
@GuillaumeAV , voulais-tu t'adresser à moi ? plutôt que l'autre Jérémy

[2020-08-11 12:22] GuillaumeAV commented on #77
Aah oui en effet cher @J9rem :)
Qu'est-ce que t'en dis ??

[2020-08-11 12:26] J9rem commented on #66
Est-ce que la contenu de cette page est suffisant ?
https://github.com/chemins-de-la-transition/plateforme/wiki/Wiki-de-la-platefome-Chemins-de-la-Transition
ou faut-il créer un document spécifique sur le Drive ?

[2020-08-11 12:27] #67 closed, assigned to J9rem

[2020-08-11 12:30] J9rem commented on #20
En fait, ça ne devrait pas être en 'To do' cette issue ?

[2020-08-11 12:32] J9rem commented on #64
@Mathieu-CdlT et @laurecoplo , est-ce que vous validez cette position ?
pas d'adhésion obligatoire pour pouvoir utiliser la plate-forme mais logique du don.

[2020-08-11 12:39] J9rem commented on #57
Est-ce qu'il faut prendre en compte cette taxonomie pour la V1 ou pour SemApps ?, .... tag à ajouter ?

[2020-08-11 12:41] J9rem commented on #55
Est-ce qu'un document dans Google Drive ?
/Chemins de la Transition/Pplateforme Web CDLT/Cahier des charges plateforme V1.docx
ou plutôt dans GitHub ?
/spec/Cahier des charges plateforme V1.md

Une préférence @GuillaumeAV , @Mathieu-CdlT @bouviermullerp ?

[2020-08-11 12:42] J9rem commented on #24
Si je comprends bien, ce serait créer une page “Charte”, visible dans le bandeau de tête et dans le formulaire ?

[2020-08-11 12:43] J9rem commented on #46
@laurecoplo @GuillaumeAV est-ce toujours d'actualité ?

[2020-08-11 13:10] J9rem opened #78 "Feedbacks Margaux"
1. Page d’accueil
 - [x] Texte d’accueil (« Bienvenue sur … ») pourrait être en plus gros, éventuellement centré ou bien plus sur la droite.
 - [x] Bouton « En savoir plus » pourrait être plus petit et situé avant la mention « Cliquez sur le bouton… » qui pourrait n’être suivi que des deux boutons y faisant référence.
 - [x] Remplacer le bouton « en savoir plus » pour un lien hypertext voire chang

[2020-08-11 13:12] J9rem commented on #78
@MargauxSchulz pour la partie

Est-ce que tu as la possibilité de rédiger du contenu pour m'aider ?

[2020-08-11 13:18] MargauxSchulz commented on #78
yes, je peux faire ça d'ici demain en faisant des résumés de ce qui existe déjà :)

[2020-08-11 13:52] J9rem commented on #24
Source possible : https://drive.google.com/drive/folders/14Gjrk6SoH0IilSfCz-a6Y8oJ_u18MaBM
Suis-je en bonne voie ?

[2020-08-11 13:55] J9rem commented on #72
- [X] mise à jour de https://docs.google.com/document/d/1k_IL6RuUQKxkOMnStVu5AT7AiyNpJpC1ClHz5pTwKRg/edit

[2020-08-12 06:54] bouviermullerp commented on #55
@J9rem plutôt dans github.
De plus, je suggère de ne pas créer de documents de type "cahier des charges" - à la limite un document avec les grandes lignes (spécifications fonctionnelles haut niveau) mais c'est tout.
Les spécifications détaillées sont des issues de github qu'on traite au fur et à mesure et que l'équipe référente ordonne en fonction des besoins.

[2020-08-12 06:55] bouviermullerp commented on #64
Question subsidiaire, est-il nécessaire d'avoir un compte, d'être identifié pour pouvoir accéder aux informations ?

[2020-08-12 06:58] bouviermullerp commented on #78
[Méthodo]: d'ahbitude, on essaye de créer des issues plus petites, avec moins de contenu pour qu'elles puissent être traitées plus rapidement.
Je pense qu'il est intéressant de "casser" cette issue en plus petit morceaux. de laisser les remarques équivoques, qui n'ont pas besoin d'être débattues et qui sont très simple, et de créer une issue par remarque plus substantielle (jouter du contenu d'int

[2020-08-12 07:19] J9rem commented on #55
En fait, le cahier des charges sera un document avec les grandes lignes (spécifications fonctionnelles haut niveau).
C'est un document potentiellement utilisable par @Mathieu-CdlT pour pouvoir répondre aux appels à projets etc, ....
Je suggère, vu que ça ne sera pas un document technique mais plus haut niveau , qu'il soit sur le Drive.
OK pour des spécifications détaillées par Issues

[2020-08-12 07:20] J9rem commented on #78
A la relecture, je vais casser cette issue en plus petites, ...

[2020-08-12 07:27] J9rem commented on #64
@bouviermullerp pour le moment, il n'est pas nécessaire d'avoir un compte pour accéder aux informations,
MAIS si le besoin est demandé, C'EST POSSIBLE.

Après discussion avec @Mathieu-CdlT , il parait nécessaire de trouver un modèle économique pour pérenniser la plate-forme.
Je préconise une solution technique où une partie des informations est accessible gratuitement, mais que certaines fonctionn

[2020-08-12 07:37] bouviermullerp commented on #64
D'accord avec toi. Je pense qu'il serait intéressant de solliciter le groupe de travail "plateformes en commun" de la coop des communs pour avoir leur avis à ce sujet.
Il me semble aussi que la question ne se pose pas pour la plateforme V1-Yeswiki puissequ'on se limite à des fonctionnalités de type "rendre visible" .

Je crois qu'il est important de se poser la question "à qui profite le service"

[2020-08-12 07:39] bouviermullerp commented on #55
@J9rem je n'ai pas d'objection à ce que ça soit sur le drive - même si on essaye de faire notre possible pour que tous les documents textuels soient mis en ligne sur github. Pour information, on fait une session question réponse avec mathieu et laure à ce sujet demain

[2020-08-12 07:51] J9rem commented on #55
@bouviermullerp , veux-tu dire que demain, il y a une réunion entre vous 3 à propos du cahier des charges ?
ou à propos du lieu de stockage des documents ?

En fait, si j'ai bien suivi, l'habitude jusque là est de déposer les fichiers non techniques sur le Drive.
Je crains une duplication source d'erreur si nous commençons à éparpiller les documents non techniques à plusieurs endroits....

[2020-08-12 08:00] bouviermullerp commented on #55
@J9rem il y a une réunion github demain ;)
Il y a l'habitude de déposer tout ce qui passe sur ce drive de format non standard :-)

[2020-08-12 08:21] GuillaumeAV commented on #64
Yop ! A propos du modèle économique, je viens de créer une issue ;) https://github.com/chemins-de-la-transition/gestion-asso/issues/61

[2020-08-12 10:33] J9rem commented on #64
Dans ce cas, la présente Issue n'est plus nécessaire, non ? vu qu'une autre Issue reprendra les mêmes discussions.
@GuillaumeAV est-ce que nous pouvons fermer cette présente issue ?

[2020-08-12 14:42] GuillaumeAV commented on #64
Moi ca me va :)

[2020-08-12 14:48] J9rem commented on #64
et @bouviermullerp OK pour la clôture ?

[2020-08-13 07:44] bouviermullerp commented on #8
Utiliser le chat Startin Blox ?

[2020-08-13 07:44] bouviermullerp commented on #11
@GuillaumeAV quelle différence fais tu entre profil statique et dynamique ?

[2020-08-13 14:18] J9rem opened #79 "Contenu page « Qui sommes-nous ? »"
- [x] étayer le contenu
- [x] Éventuellement ajouter une section du type « Pour aller plus loin » ou « En savoir plus

[2020-08-13 14:21] J9rem opened #80 "Contenu Page « comment ça marche ? »"
- [x] ajouter du contenu d'introduction qui amènerait vers Qui sommes-nous ? »

[2020-08-13 14:22] J9rem opened #81 "page de recherche par type de lieu, type d'hébergement, ...."

[2020-08-13 14:24] J9rem opened #82 "réparer l'affichage de la carte dans le formulaire"
la carte s'affiche mal lors de la saisie d'un lieu

[2020-08-13 14:29] J9rem commented on #77
En mutualisant avec la demande de Margaux
- [x] Ouvrir les détails dans un espace dédié à côté de la carte plutôt que dans la carte
- [x] Implémenté l'affichage proposé par Guillaume

[2020-08-13 14:34] J9rem opened #83 "Quel champ est requis dans le formulaire de saisie des lieux ? (requis = obligatoire à saisir par le lieu)"
Il est possible de rendre des champs requis dans le formulaire de saisie des lieux :
https://lescheminsdelatransition.org/plateforme/?AjouterLieux

Quels sont-ils ?
_Faites vos propositions en commentaires ci-dessous pour que je configure le formulaire_
Merci

[2020-08-13 14:38] J9rem commented on #78
@MargauxSchulz j'ai pris en compte tes remarques.
- j'ai coché celles que j'ai déjà faites : peux-tu vérifier que ça correspond à ce que tu pensais ?
- celles qui ne sont pas prises en compte sont traitées à part dans des Issues séparées, car comme l'a si bien rappelé @bouviermullerp , ce sera plus clair pour ces sujets qui vont amener des discussions.
Peux-tu vérifier que je n'ai rien oublié ?

S

[2020-08-13 14:51] bouviermullerp commented on #83
De mon point de vue:
- _Préférence de contact_ n'est pas requis obligatoirement
- Adresse est requis (si c'est un lieu, il a une adresse)

-> C'est un très joli formulaire, bravo !

[2020-08-13 14:53] J9rem commented on #83
Faite comme Pierre, retirez-vous des personnes assignées une fois que vous avez répondu !

[2020-08-13 14:59] J9rem commented on #24
Charte Ajoutée :
- https://lescheminsdelatransition.org/plateforme/?ChartE
- dans le menu d'entête https://lescheminsdelatransition.org/plateforme/?AccueiL
- et dans le formulaire : https://lescheminsdelatransition.org/plateforme/?AjouterLieux

@GuillaumeAV je mets l'issue en Review pour que tu fermes cette issue si c'est bon pour toi.

[2020-08-13 15:04] GuillaumeAV commented on #66
Je le trouve top ce petit wiki... Par ailleurs, dans la mesure ou c'est un sujet plateforme, je me dis qu'il est à sa place ...

[2020-08-13 15:06] J9rem commented on #66
OK, alors on peut fermer cette Issue non @GuillaumeAV ?

[2020-08-13 15:06] GuillaumeAV commented on #20
Je crois que t'es le mieux placé pour le savoir @J9rem ;)

[2020-08-13 15:25] J9rem commented on #79
Contenu ajouté :
- https://lescheminsdelatransition.org/plateforme/?QuiSommesNous
- https://lescheminsdelatransition.org/plateforme/?Aide_ListeDesThematiques
- et open Badges mentionnées dans la FAQ https://lescheminsdelatransition.org/plateforme/?Aide_FAQ

[2020-08-13 15:27] J9rem commented on #79
@GuillaumeAV @MargauxSchulz , je vous sollicite pour valider le contenu et donc passer cette fiche en Done dès que c'est bon (retirez vous des personnes assignées quand vous avez relue, ou ajoutez quelqu'un d'autre si vous sentez qu'il y en a besoin)

[2020-08-13 16:47] GuillaumeAV commented on #57
Pour moi on a pas besoin de taxonomie pour la v1, si on partu sur une approche itérative telle que décrite [dans ce doc](https://docs.google.com/document/d/1FkuNaDZ3zS6DwABXM25uKWfwMsHjW7-DGd9GroebiWY/edit?usp=sharing) à la section Cycle de conception et de mise en oeuvre des parcours sur les CdlT ; ou dans les annexes 2 et 3 du [pla stratégique](https://docs.google.com/document/d/1IwxB_35mksSjaW3

[2020-08-13 16:51] GuillaumeAV commented on #46
Je crois pas ;) Je la ferme ;)

[2020-08-13 16:51] #46 closed, assigned to nobody

[2020-08-13 17:18] GuillaumeAV commented on #64
Ok je la ferme du coup !

[2020-08-13 17:18] #64 closed, assigned to GuillaumeAV, bouviermullerp, Mathieu-CdlT, laurecoplo

[2020-08-13 17:25] GuillaumeAV commented on #8
Yes !
J'aimerais bien vous partager une vision à ce sujet ..

[2020-08-13 17:26] GuillaumeAV commented on #11
Olala, oui c'est scandaleux ces issues sans explicitation du contexte qui ne veulent rien dire ;)

[2020-08-13 17:26] #11 closed, assigned to bouviermullerp

[2020-08-13 18:43] GuillaumeAV commented on #83
Helloo !
.........
_commentaire déplacé dans une Issue dédiée pour éviter les confusions_

[2020-08-13 18:46] GuillaumeAV commented on #24
C'est super, c'est bon pour moi !

[2020-08-13 18:49] GuillaumeAV commented on #66
C'est super, c'est bon pour moi, je me permets toutefois de mettre @ValentineMathieu dans la boucle dont la mission est de faciliter le onboarding des nouveaux contributeurs ;)

[2020-08-13 19:04] GuillaumeAV commented on #79
Huuum, je centrerais plus sur la question du "Qui sommes nous" et moins sur le "c'est quoi les CdlT"

**Ci-dessous, une proposition à affiner ..**

Les Chemins de la Transition sont une association loi 1901 rassemblant une vingtaine de contributeurs actifs, 12 administrateurs et une quinzaine d'organisations partenaires.

**Conseil d’administration**

Guillaume ROUYER - Président : Fondateur et Di

[2020-08-14 06:58] J9rem commented on #57
- Dans ce cas, nous retirons le tag `V1 YesWiki` et ajoutons le tag `SemApps` ?
- Ensuite, nous pouvons mettre en place une équipe de modération des thématiques pour la V1, de façon à ce qu'elles restent compatibles avec la Taxonomie en cours de définition..... à la condition d'avoir les ressources techniques et humains pour le faire
=> Issue dédiée à créer si vous trouver que c'est une bonne idée

[2020-08-14 07:09] J9rem opened #84 "Formulaire lieu (Feedback Guillaume)"
@GuillaumeAV :

- [x] Limiter la communication sur 4 modalités de parcours
- [x] Retrait de la section tarif
- [x] documenter et décrire les modalités tarifaires associées à chaque parcours
- [x] durées type (à affiner) en fonction des modalités de voyages

[2020-08-14 07:12] J9rem commented on #83
@GuillaumeAV j'ai déplacé ton commentaire dans une Issue dédiée #84 pour éviter les confusions.
L'issue présente #83 concerne le choix des champs du formulaire qu'il faut obligatoirement remplir pour valider une fiche.
Ce que tu proposes est plus large...

[2020-08-14 07:12] #24 closed, assigned to J9rem

[2020-08-14 07:13] MargauxSchulz commented on #78
Hello Jeremy, c'est top merci ! Seul petit commentaire sur la position du prénom : il est mis au milieu des rubriques en dessous, je l'aurai plutôt mis à droite simplement par habitude des autres plateformes. Tout le reste me semble ok !

[2020-08-14 07:13] #66 closed, assigned to GuillaumeAV

[2020-08-14 07:22] MargauxSchulz commented on #83
Salut, je pense qu'il pourrait être requis de choisir le type d'accueil pour valider un lieu, pour être sûr que la fonction d'utilisation de filtres sur la carte soit maximisée.

D'accord avec Pierre pour l'adresse requise.

Préférence de contact pas nécessairement requis mais à condition que soit le mail soit le numéro de tel le soit, avec cette option ça permet aussi à l'hôte de choisir (certain

[2020-08-14 07:29] MargauxSchulz commented on #79
Hello, je me dis que si on peut tomber sur la page de la carte directement depuis un moteur de recherche (et donc sans passer par le site des chemins de la transition au préalable) il est nécessaire d'avoir une micro présentation. Peut-être alors serait-il judicieux d'ajouter une catégorie "organisation" avec les info ci-dessus dans le menu "qui sommes-nous" (à la place de "partenaires"). Qu'en pe

[2020-08-14 07:35] MargauxSchulz commented on #76
Petite question : est-il judicieux de compléter les fiches maintenant alors que nous ne savons pas encore quelles sont les modalités d'accueil choisies par les divers lieux déjà répertoriés ? Si oui, je m'y attèle !

En revanche j'ai tjr ce problème de carte qui ne s'affiche pas au moment de déplacer le curseur pour signaler le lieux (sur la page localisation). Problème avec Google Chrome ?

[2020-08-14 08:01] J9rem commented on #78
En fait, c'est un souci d'affichage plus l'écran est étroit, plus il y des chances quel le prénom glisse en dessous des autres éléments du Menu, .....
J'ai changé le réglage de l'affichage du prénom. Il n'est visible que sur les écrans larges.
Les composants du menu ne se réagencent plus sur différentes lignes.
Qu'en dis-tu ?

[2020-08-14 08:16] MargauxSchulz commented on #78
aah oui en effet, je trouve ça plus lisible comme ça. En revanche, si la V1 a vocation à développer les profils d'apprenant (avec une liste des compétences acquises, des voyages effectués, etc.) alors je pense qu'il serait préférable que la catégorie avec le profil ne puisse pas sauter en fonction de la taille de l'écran (d'autant plus que j'imagine que ça sera accompagné de fonction de mises en f

[2020-08-14 08:47] J9rem commented on #76
Le problème de carte est aussi chez moi, je dois m'en occuper cf #82

[2020-08-14 09:33] GuillaumeAV commented on #83
.... cf. #84

[2020-08-14 09:40] GuillaumeAV commented on #76
Hellooo !

Au sujet de l'import des lieux et de la complétion des fiches, je crois que c'est un peu prématuré :
Les lieux rencontrés en Normandie ne sont pas encore parties prenantes des CdlT : On a eu un premier rdv qui nous a permis de faire connaissance ...

Il faut d'après moi aller plus loin :

- reprendre contact avec eux,
- leur montrer la plateforme,
- leur faire part des évolutions du pro

[2020-08-14 10:03] J9rem commented on #78
euh non pas dans la V1
J'ai retiré le saut

[2020-08-14 10:06] J9rem commented on #83
idem cf. #84

[2020-08-14 10:06] J9rem commented on #84
@GuillaumeAV :

[2020-08-14 12:44] GuillaumeAV commented on #65
Je me permet de fermer cette issue concernant Gogocarto ;)

[2020-08-14 12:44] #65 closed, assigned to GuillaumeAV

[2020-08-14 14:12] #78 closed, assigned to J9rem, MargauxSchulz

[2020-08-14 14:14] MargauxSchulz commented on #78
ok, dans ce cas c'est parfait !

[2020-08-14 21:24] J9rem commented on #83
- [X] Préférence de contact n'est pas requis obligatoirement
- [X] Adresse est requis (si c'est un lieu, il a une adresse)
- [X] Le choix d'une thématique est requis
- [X] Description du lieu est requis

[2020-08-15 09:36] J9rem commented on #22
A vérifier si c'est toujours vrai pour V1 YesWiki

[2020-08-15 09:48] J9rem commented on #51
C'est pour moi (cf. #73)

[2020-08-16 12:39] J9rem commented on #84
Je me demande si ça ne serait pas plus clair pour tous de supprimer la page suivante de la gare Centrale :
http://lescheminsdelatransition.org/garecentrale/?LieU
car il y a déjà sur le Drive un [document](https://docs.google.com/spreadsheets/d/115stOCfn2XsL9hbn3iIhAJu9y77IfZciH_lQUUpCjtc/edit?usp=sharing) qui propose déjà les mêmes idées...

Je n'aime pas les doublons, c'est source d'erreur.
voir

[2020-08-16 12:55] J9rem commented on #72
Proposition de planning (d'après ce que j'ai entendu + [Wiki-de-la-platefome-Chemins-de-la-Transition](https://github.com/chemins-de-la-transition/plateforme/wiki/Wiki-de-la-platefome-Chemins-de-la-Transition)):
- Mise en place de la plateforme Cdlt V1 en août 2020 : YesWiki + passerelle vers Gogocarto
- Démarrage du développement de la plateforme V2 à l'automne 2020 : SemApps

Points objectifs:
-

[2020-08-16 12:57] J9rem commented on #51
J'ai fait une proposition de Pull-request sur le Readme...
qu'en dites-vous ?
https://github.com/chemins-de-la-transition/plateforme/pull/85

[2020-08-16 13:02] J9rem commented on #50
J'ai indiqué la méthode [ici](https://lescheminsdelatransition.org/plateforme/?Aide_FAQ) pour supprimer une fiche sur YesWiki.
@ircocomat qu'en dis-tu ?

Il reste à définir qui reçoit les e-mails à chaque demande d'appropriation de page.

[2020-08-16 15:55] J9rem opened #86 "Créer les formulaires pour inscrire un utilisateur (V1 Yeswiki)"

[2020-08-16 15:56] J9rem opened #87 "Compatibilité d'affichage sur les smartphone Plateforme V1"

[2020-08-16 15:58] J9rem opened #88 "Rendre la plateforme V1 YesWiki Web semantic"

[2020-08-16 15:59] J9rem commented on #73
Mise à jour de la description:
- extraction des tâches un peu grosse en plusieurs issues distinctes

[2020-08-16 20:32] J9rem commented on #55
Démarrage d'un cahier des charges : [Google Drive Chemins de la Transition\Plateforme Web CDLT\2020 Version 0.1 YesWiki\2020 Spécifications de haut niveau Plateforme Cdlt V0.1](https://docs.google.com/document/d/1q0qdfdT2Gl_bnTkcURRu9bPeJeNl_3LVC52tzTQWk1s)
à vos crayons pour le faire vivre (faites des modifications directement dedans sans me solliciter)

[2020-08-16 21:03] J9rem commented on #79
Bon, pour aller plus vite je vous propose une nouvelle version de [Qui sommes-nous ?](https://lescheminsdelatransition.org/plateforme/?QuiSommesNous)
- [x] ça regroupe ce que vous avez dit tous les deux
- [x] ça ne recopie pas les informations déjà présentes sur le site des Cdlt pour éviter les risques d'oubli de mise à jour
- [x] c'est facile à mettre en place.
Qu'en dites-vous ?

[2020-08-16 21:10] J9rem commented on #80
Fait. @MargauxSchulz qu'en dis-tu ? valides-tu la review ?

[2020-08-16 21:29] J9rem commented on #83
- [x] Type d'accueil est requis

[2020-08-16 23:37] J9rem commented on #77
J'ai essayé de m'approcher au mieux.
https://lescheminsdelatransition.org/plateforme/?AccueiL
Est-ce bon pour vous ? @MargauxSchulz @GuillaumeAV

[2020-08-17 08:01] GuillaumeAV commented on #77
Aah c'est génial !!!!!

[2020-08-17 08:10] GuillaumeAV commented on #72
Super tout ça ! Je viens de te créer un compte WP @J9rem !

[2020-08-17 08:11] GuillaumeAV commented on #51
Goood for me :)

Au passage j'ai pas suivi à propos du gogocarto .. Vous envisagez de l'utiliser dans le cadre de la v1 ?

[2020-08-17 08:47] GuillaumeAV commented on #79
Ca me va comme approche  !

Le dim. 16 août 2020 à 23:03, Jérémy Dufraisse <notifications@github.com> a
écrit :

--
Guillaume Rouyer
+33 (0)6 28 34 54 99
<http://assemblee-virtuelle.org>http://virtual-assembly.org

https://www.facebook.com/grouyer
https://twitter.com/Guillaume_AV

[2020-08-17 12:12] MargauxSchulz commented on #80
Oui, parfait !

[2020-08-17 12:12] #80 closed, assigned to J9rem

[2020-08-17 16:42] J9rem commented on #77
Cool ! merci

[2020-08-17 16:45] J9rem commented on #72
Nickel, j'ai le compte WP.

[2020-08-17 16:47] J9rem opened #89 "Faire une présentation de l'architecture de la plateforme V1"
Si possible avant fin août.
La présentation serait un document écrit visible sur le Wiki du Github.

[2020-08-17 16:49] J9rem commented on #51
Ta question est pertinente, et me fais penser qu'une présentation visuelle de l'architecture de la plateforme V1 -> #89

Pour te répondre de façon textuelle,
- V0 : Gogocarto avec tests d'intération Wordpress
- V1 : YesWiki avec rétrocompatibilité Gogocarto (car je pense que c'est très utile pour Transiscope) et éventuellement intégration Wordpress (pour une histoire d'intégration dans le site vit

[2020-08-18 14:38] J9rem commented on #79
@MargauxSchulz ayant modifié le contenu de la [liste des parcours thématiques](https://lescheminsdelatransition.org/plateforme/?Aide_ListeDesParcoursThematiques), la page Qui sommes-nous ? est impactée.
https://lescheminsdelatransition.org/plateforme/?QuiSommesNous

[2020-08-19 14:02] J9rem commented on #51
Je fais une nouvelle modification pour éviter les soucis d'appellation
- V0.0 : Gogocarto avec tests d'intération Wordpress
- V0.1 : YesWiki avec rétrocompatibilité Gogocarto (car je pense que c'est très utile pour Transiscope) et éventuellement intégration Wordpress (pour une histoire d'intégration dans le site vitrine, mais ça c'est de l'amélioration non prioritaire)
- V1 SemApps

Qu'en dites-vo

[2020-08-20 14:32] J9rem opened #90 "Feedbacks GuillaumeAV 20 août"
Suite à l'échange avec @GuillaumeAV , voici les propositions d'amélioration de la V0.1 YesWiki
- [x] restreindre l'accès pour la création des fiches lieux
- [x] le bouton "ajouter un lieu" devrait être à droite
- [x] seul le propriétaire de la fiche et les modérateurs peuvent modifier une fiche
~~- [ ] créer automatiquement un compte pour le lieu à la création d'une fiche et attribuer la fiche à c

[2020-08-20 14:33] J9rem commented on #90
_EVidemment, je risque d'éclater cette issue si certains points sont trop longs à résoudre_

[2020-08-20 14:35] J9rem opened #91 "Page d'accueil YesWiki : paragraphe d'accroche"
Créer une accroche autour de :  **le sens, la vision, le rêve**
pour l'insérer sur la page d'accueil de la plateforme V0.1 YesWiki avant le bouton Comment ça marche

[2020-08-24 11:39] J9rem commented on #55
J'ai renommé Plateforme V1 à plateforme V0.1 dans le cahier des charges préliminaire.

[2020-08-24 11:52] J9rem opened #92 "Feedback Mathieu"
Prendre en compte les [remarques de Mathieu](https://docs.google.com/document/d/1MmzHfNqByK0uoi_Ab3As-THBMpgt_dKN)
Page d'accueil
- [x] Ajouter un visuel en haut de la page
- [x] bien veiller aux majuscules de Chemins et de Transition (quand on parle de l’asso)
- [x] Possibilité de classer par ordre (ecotourisme, découverte, woofing, compagnonnage) ?
Comment ça marche :
~~- [ ] expliquer brièvemen

[2020-08-24 16:52] J9rem opened #93 "V0.1 gérer l'affichage dynamique des listes de thématiques avec beaucoup d'item"
Lors de l'affichage des thématiques, si la liste est longue, il faudrait voir comment rendre cet affichage plus facile à lire.

[2020-08-24 17:20] bouviermullerp commented on #55
@Mathieu-CdlT sauf objection, je propose de parler de "spécifications haut niveau" pour ce document qui décrira les grandes fonctionnalités sans rentrer dans le détails.
Les spécifications fonctionnelles seront détaillées dans github, via des issues. (bonne pratique, tout le monde fonctionne comme ça dans le logiciel)

[2020-08-24 17:23] J9rem opened #94 "Remplacer le terme de "parcours accueillant" par initiative accueillante et "parcours apprenant" par "voyageur apprenant" ?"
Dans la V0.1 YesWiki, @Mathieu [propose de remplacer « Parcours accueillant » par initiative accueillante.](https://docs.google.com/document/d/1MmzHfNqByK0uoi_Ab3As-THBMpgt_dKN/edit)
et de remplacer parcours apprenant par voyageur apprenant
Qu'en dites-vous ? @GuillaumeAV @MargauxSchulz
(solliciter toute personne opportune pour confirmer le changement d'appellation)

[2020-08-24 17:32] J9rem opened #95 "Remplacer le mot "partenaires" par "ecosystème CdlT ?"
Sur proposition de @Mathieu-CdlT : [ses commentaires](https://docs.google.com/document/d/1MmzHfNqByK0uoi_Ab3As-THBMpgt_dKN/edit)
pour la version 0.1 de la plateforme
Qu'en dites-vous ? @GuillaumeAV @MargauxSchulz
(solliciter toute personne opportune pour confirmer le changement d'appellation)

[2020-08-25 08:25] MargauxSchulz commented on #95
en effet ça semble cohérent si le mot partenariat a une implication juridique, et puis écosystème ça met aussi en avant le fait qu'on cherche à favoriser le lien des divers "partenaires" entre eux :)

[2020-08-25 08:37] MargauxSchulz commented on #94
les deux me vont !

[2020-08-27 14:42] Lussye commented on #92
Petites questions de détail concernant la rédaction, pour recueillir vos avis ou garder une trace et revenir plus facilement en arrière si ça ne convient pas (première contrib sur GitHub, n'hésitez pas si autres méthodes plus pratiques)

- [x] page d'accueil, "la première plateforme d'apprentissage itinérante." je partirais du principe que c'est l'apprentissage qui est itinérant ? -> la première p

[2020-08-27 17:20] J9rem opened #96 "Rendre les pages du site cohérentes avec les travaux UX de Rachel V0.1"
Rendre la page d'accueil cohérente avec [les travaux UX de Rachel V0.1](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT?usp=sharing)

[2020-08-27 17:21] J9rem commented on #73
J'ai sorti la dernière action vers #96, donc cette étape d'installation peut être considérée comme terminée.
Il reste toute la personnalisation évidemment

[2020-08-31 06:24] GuillaumeAV commented on #93
Je pense qu'elle ne sera pas longue si on part sur une approche itérative /
sprint..

Le lun. 24 août 2020 à 18:52, Jérémy Dufraisse <notifications@github.com> a
écrit :

[2020-08-31 06:25] GuillaumeAV commented on #95
Ooh Oui ça me semble pertinent également !

Le mar. 25 août 2020 à 10:25, MargauxSchulz <notifications@github.com> a
écrit :

[2020-08-31 06:26] GuillaumeAV commented on #94
Ça me semble pertinent !

Le mar. 25 août 2020 à 10:37, MargauxSchulz <notifications@github.com> a
écrit :

[2020-09-01 13:59] J9rem commented on #90
Accès restreints au groupe des modérateurs pour la création de fiches : https://lescheminsdelatransition.org/plateforme/?AjouterLieux

[2020-09-02 14:46] Lussye commented on #55
Petite interrogation concernant l'intégration de la charte graphique dans la V1.0 YesWiki,
portant plus spécifiquement sur le logo à utiliser sur le fond vert du bandeau de titre (le logo usuel se fondant dans la masse, sauf à y ajouter un fond blanc ou à en changer la couleur, ce qui amène alors des choix quant à la lisibilité et au design qui sortent du strict cadre technique).
Interrogation pot

[2020-09-02 17:20] J9rem commented on #55
Pour illustrer notre questionnement : https://lescheminsdelatransition.org/plateforme/?Test_Logo

[2020-09-03 15:22] J9rem commented on #95
Je veux bien faire la revue avant de fermer cette issue

[2020-09-04 10:39] #79 closed, assigned to GuillaumeAV, J9rem, MargauxSchulz

[2020-09-04 10:40] J9rem commented on #51
fermé car PR #85 fait le boulot

[2020-09-04 10:40] #51 closed, assigned to J9rem

[2020-09-04 10:41] J9rem commented on #77
Bon je ferme la fiche vu les validations de @GuillaumeAV dans les commentaires

[2020-09-04 10:41] #77 closed, assigned to GuillaumeAV, J9rem

[2020-09-04 10:42] #73 closed, assigned to J9rem

[2020-09-04 10:49] J9rem commented on #95
@Mathieu-CdlT est-ce que ça te convient ainsi ?
https://lescheminsdelatransition.org/plateforme/?EcosytemeCdlT
(pense à fermer l'issue si c'est bon pour toi)

[2020-09-04 11:43] J9rem commented on #55
Sondage de date pour la relecture du cahier des charges/spécifications de haut niveau : ~~https://date.le-filament.com/7v1ofNmTKi8i1N5F~~

[2020-09-04 14:03] #71 closed, assigned to J9rem

[2020-09-08 11:33] J9rem commented on #89
Voir le document Architecture Plateforme CDLT- vision globale - DRAFT.svg dans le dossier sur [GDrive](https://drive.google.com/drive/folders/1MOG6YcUpIzE3MNhTTo2P2_H0itHCOaZp) Chemins de la Transition/Plateforme Web CDLT
que je mets en commentaire jusqu'au 15 septembre.

[2020-09-08 11:56] J9rem opened #97 "créer automatiquement un compte pour le lieu à la création d'une fiche et attribuer la fiche à ce lieu"
créer automatiquement un compte pour le lieu à la création d'une fiche et attribuer la fiche à ce lieu
-> comportement à valider avec l'expérience d'un modérateur de la plateforme

[2020-09-08 11:58] J9rem opened #98 "séparer les évènement en deux rubriques : `prochains parcours découvertes` et `actualités des lieux`"
séparer les évènement en deux rubriques : `prochains parcours découvertes` et `actualités des lieux`
Ceci implique la création d'un nouveau formulaire Yeswiki

[2020-09-08 12:01] J9rem opened #99 "`actualités des lieux` peuvent être créés par les lieux ou les modérateurs"
une fois #98 terminée, appliquer ces ACL :
`actualités des lieux` peuvent être créés par les lieux ou les modérateurs

[2020-09-08 12:04] J9rem opened #100 "les `prochains parcours découvertes` référencent des lieux : les afficher sur une carte"
les `prochains parcours découvertes` référencent des lieux et il est possible d'afficher la carte avec les lieux concernés (idée d'un TAG spécifique)

[2020-09-08 12:05] J9rem opened #101 "les `prochains parcours découvertes` seront créés par des modérateurs uniquement (dont les admins)"
une fois #98 terminée, appliquer ces ACL :
les `prochains parcours découvertes` seront créés par des modérateurs uniquement (dont les admins)

[2020-09-08 12:07] J9rem opened #102 "Envoyer une notification e-mail lors de la modification d'une fiche lieu"
Envoyer une notification e-mail (périodicité à définir) au lieu concerné lors de la modification de sa fiche

[2020-09-08 12:09] J9rem opened #103 "alignement des cases "compagnonnage" sur la plage d'accueil"
La case "compagnonnage" n'est pas alignée sur les autres en partir basse.

[2020-09-08 12:13] J9rem commented on #23
@GuillaumeAV on supprime ? ou toujours valide pour la version YesWiki ?
(sans réponse de ta part, je supprime cette Issue au 22 septembre)

[2020-09-08 12:23] J9rem opened #104 "expliquer brièvement les définitions d'être accueillant et apprenant"
Pour prendre en compte les [remarques de Mathieu](https://docs.google.com/document/d/1MmzHfNqByK0uoi_Ab3As-THBMpgt_dKN)

[2020-09-08 12:24] J9rem commented on #89
@bouviermullerp Qu'en penses-tu Pierre de cette présentation de l'architecture des plateformes ?

[2020-09-08 13:19] bouviermullerp commented on #89
@J9rem , a priori, il y aura toujours un site vitrine (wordpress) pour la V1.
Je ne sais pas s'il est important de mentionner Transiscope à ce stade, qui ne fait pas partie de l'architecture des CdlT au sens propre - ou alors le mentionner "en dehors du cadre" comme n'importe quelle outil qui pourra réutiliser les données.
Le titre me semble aussi trompeur, il y a - je crois - une seule plateforme

[2020-09-08 13:39] J9rem commented on #89
Nickel tes remarques, j'ai fait les mises à jour en conséquences ;-)

[2020-09-08 15:20] GuillaumeAV commented on #23
Supprimons cher @J9rem :)

[2020-09-08 15:20] #23 closed, assigned to nobody

[2020-09-11 14:14] J9rem commented on #72
Comme ça concerne le site vitrine, je propose les modifications suivantes : https://docs.google.com/document/d/1TuRFrmwX0lu5R7ufKejKR7s2br9vq7WuGWUSO4ouuYg/edit
@Mathieu-CdlT @GuillaumeAV ou @bouviermullerp est-ce qu'un de vous peut me relire et me dire si c'est bon avant que j'applique les modifications ?
Je considère qu'au 18 septembre, sans réponse, c'est que c'est bon.

[2020-09-11 14:54] J9rem commented on #75
Je ferme cette Issue Droits d'accès palteforme V1 car j'ai la PR #106 qui permet d'en assurer le suivi

[2020-09-11 14:54] #75 closed, assigned to GuillaumeAV, bouviermullerp, J9rem

[2020-09-11 14:55] J9rem commented on #74
Je ferme cette Issue car j'ai la PR #106 qui permet d'en faire le suivi

[2020-09-11 14:55] #74 closed, assigned to GuillaumeAV, bouviermullerp, J9rem

[2020-09-11 15:26] J9rem commented on #90
@GuillaumeAV je te laisse vérifier si la page https://lescheminsdelatransition.org/plateforme/?AccueiL répond au besoin de retirer la redondance des boutons (les autres modifications étant suivies par d'autres Issues).
Je considère a priori que c'est bon si tu n'as pas répondu au 18 septembre

[2020-09-11 15:30] J9rem commented on #95
Issue fermée. Je considère que c'est OK (délai de relecture de 7 jours écoulé)

[2020-09-11 15:30] #95 closed, assigned to Mathieu-CdlT, J9rem

[2020-09-12 07:10] J9rem commented on #94
Fait !
@GuillaumeAV faut-il aussi mettre à jour la Charte https://lescheminsdelatransition.org/plateforme/?ChartE
je ne pense pas.

[2020-09-12 07:17] J9rem commented on #39
Vu les trois sources suivantes:
- https://fr.wikipedia.org/wiki/Compagnonnage
- https://www.culture.gouv.fr/Recherche?SearchButton=&SearchText=compagnonnage
- https://ich.unesco.org/fr/RL/le-compagnonnage-reseau-de-transmission-des-savoirs-et-des-identites-par-le-metier-00441

Je suis aussi partisan de remplacer Compagnonnage par Apprentissage long

[2020-09-12 07:22] J9rem commented on #39
Fait @GuillaumeAV @bouviermullerp je vous laisse vérifier que ça correspond toujours à l'esprit de la plateforme

[2020-09-12 20:23] J9rem commented on #32
Bon euh, je me perds. Cette fiche concerne normalement le GoGocarto mais je ne la comprends pas.
Des détails s'il vous plait ?
https://lescheminsdelatransition.gogocarto.fr

Je prévois de la clore au 18 septembre

[2020-09-12 20:28] J9rem commented on #56
Bon, je crois que ça n'est pas facile à retirer et je pense que ça n'est plus prioritaire.
On clôt alors ?

[2020-09-12 20:32] J9rem commented on #31
Fait : https://lescheminsdelatransition.gogocarto.fr

[2020-09-12 20:32] #31 closed, assigned to GuillaumeAV

[2020-09-12 20:34] J9rem commented on #45
On oublie cette Issue maintenant que nous sommes passés à YesWiki ?

[2020-09-12 20:44] J9rem commented on #103
Fait ! https://lescheminsdelatransition.org/plateforme/?AccueiL

[2020-09-12 20:44] #103 closed, assigned to J9rem

[2020-09-12 20:45] J9rem commented on #104
Fait :
https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Voyageur_Apprenant
https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Initiative_Accueillante
@Mathieu-CdlT est-ce que c'est mieux ainsi pour toi ?

[2020-09-12 21:00] J9rem commented on #38
Fait : https://lescheminsdelatransition.org/plateforme/?AccueiL
@MargauxSchulz ou @Lussye est-ce que l'une de vous peut vérifier que je n'ai pas oublié un groupe "types de voyage" ?
Merci

[2020-09-12 21:30] J9rem opened #107 "Adapter l'affichage Slideware"
Pour suivre les [remarques de Mathieu](https://docs.google.com/document/d/1MmzHfNqByK0uoi_Ab3As-THBMpgt_dKN)
Si on reste sur cet affichage Slideware, possibilité de séparer le slide en 2 parties Logo + court descriptif ? ou renvoi vers page du partenaire ? Adapter taille logos à taille du slide

[2020-09-12 21:33] J9rem commented on #92
@Lussye si tu as le temps tu peux confirmer que tout est bon dans ce qui est coché.
Pour tes nouvelles propositions, je t'invite à faire des Issues distinctes.

[2020-09-12 21:49] #83 closed, assigned to GuillaumeAV, Mathieu-CdlT, J9rem, MargauxSchulz

[2020-09-14 05:41] Lussye commented on #92
@J9rem Oui oui, ça m'a l'air nickel, et je ferai des issues spécifiques pour le RGPD et inclusion ou pas.

[2020-09-14 13:17] J9rem commented on #55
Cahier des charges validé en réunion https://docs.google.com/document/d/1q0qdfdT2Gl_bnTkcURRu9bPeJeNl_3LVC52tzTQWk1s/edit#

[2020-09-14 13:17] #55 closed, assigned to GuillaumeAV, bouviermullerp, Mathieu-CdlT, J9rem

[2020-09-14 19:27] J9rem commented on #82
C'est réparé. Peux-tu vérifier @MargauxSchulz ? ou @Lussye ?
Test : créer une fiche Lieux en vérifiant que la carte s'affiche correctement dans l'onglet 3.

[2020-09-14 19:30] J9rem opened #108 "Supprimer la page Lieux de la GareCentrale"
Supprimer la page Lieux de la Gare centrale : http://lescheminsdelatransition.org/garecentrale/?LieU
pour éviter les doublons d'informations

[2020-09-14 22:06] J9rem commented on #84
est-ce que @MargauxSchulz @Lussye vous pouvez jeter un coup d'oeil aux éventuelles fautes pour ?
https://lescheminsdelatransition.org/plateforme/?Espace_Moderateurs
https://lescheminsdelatransition.org/plateforme/?Lieux_Sondage
https://lescheminsdelatransition.org/plateforme/?AjouterLieux

@GuillaumeAV est-ce que ça répond à ton besoin ?

[2020-09-15 13:12] MargauxSchulz commented on #82
tout bon pour moi !

[2020-09-15 13:14] MargauxSchulz commented on #38
Je n'ai pas vu d'oubli :)

[2020-09-15 13:14] J9rem commented on #82
Cool, je ferme l'issue

[2020-09-15 13:14] #82 closed, assigned to J9rem

[2020-09-15 13:15] J9rem commented on #38
Super, je clos la fiche, merci

[2020-09-15 13:15] #38 closed, assigned to J9rem

[2020-09-15 13:25] MargauxSchulz commented on #84
- Espace modérateurs : corrigée

- Lieux sondage : je n'arrive pas à modifier la page
"Êtes-vous ou aimeries-vous être référencés sur Transiscope, Près de chez nous ?" à changer vers "Êtes-vous ou aimeriez-vous être référencés sur "Transiscope, Près de chez nous" ? éventuellement + hyperlink ?
"Quelles seraient selon vous les leviers pour améliorer le dynamisme au niveau de votre territoire ?" =>

[2020-09-15 13:27] J9rem commented on #84
Effectivement, pour modifier le sondage, c'est réservé aux développeurs avancés YesWiki comme @Lussye ou moi.
Merci pour ton retour @MargauxSchulz je fais ceci dans la semaine

[2020-09-16 10:00] J9rem commented on #107
@Mathieu-CdlT que penses-tu de l'affichage proposé en bas de page ?
https://lescheminsdelatransition.org/plateforme/?AccueiL
Je te laisse vérifier si c'est mieux qu'avant. Je considère que c'est OK sans réponse de ta part au 26 septembre.

[2020-09-17 10:39] GuillaumeAV commented on #39
Je trouverais dommage d'enlever la référence au compagnonnage qui intègre 3 dimensions fondamentales non présentes dans apprentissage long :

* L'immersion chez des experts métiers
* L'apprentissage par le faire et la contribution
* L'itinérance, la formation par le voyage, à travers plusieurs lieux ..

Apprentissage long, ca peut être un master 2 à la fac ..
Par ailleurs, quand on parle de compag

[2020-09-17 20:40] J9rem commented on #98
Fait !

[2020-09-17 20:46] J9rem commented on #39
Donc effectivement, si je comprends bien, le débat n'a pas avoir lieu. Encore moins ici.
Il existe un document de stratégie et une demande de financement ANCT qui font fois sur les appellations.
Ces documents ont leurs propres espaces de discussion du contenu.
Le débat n'a pas avoir lieu ici.
Je me réfère à l'état actuel de ces documents et donc je remets tout en compagnonnage sans les mots appren

[2020-09-17 21:29] #90 closed, assigned to J9rem

[2020-09-17 21:30] J9rem commented on #84
Fait

[2020-09-17 21:38] J9rem commented on #101
Fait :
https://lescheminsdelatransition.org/plateforme/?Evenements_Ajouter_Parcours
(uniquement accessible en mode connecté)

[2020-09-18 10:41] #89 closed, assigned to J9rem

[2020-09-18 10:50] J9rem commented on #72
Fait

[2020-09-18 10:50] #72 closed, assigned to GuillaumeAV, bouviermullerp, J9rem

[2020-09-18 10:51] #94 closed, assigned to J9rem

[2020-09-18 10:51] #104 closed, assigned to J9rem

[2020-09-18 10:51] #92 closed, assigned to J9rem, Lussye

[2020-09-18 10:52] #84 closed, assigned to J9rem

[2020-09-18 11:35] J9rem commented on #99
Fait : Qui peut tester ?
 - Connecté en tant que Lieux ou Moderateurs : possibilité de créer ou modifier une actualité de Lieux
 - non-connecté : pas possible

[2020-09-18 11:54] J9rem commented on #81
Fait : https://lescheminsdelatransition.org/plateforme/?LaCarte_RechercheAvancee
@GuillaumeAV est-ce que ça te convient ?

[2020-09-18 12:02] J9rem commented on #39
Corrigé: retour à la normal

[2020-09-18 12:05] J9rem commented on #91
@GuillaumeAV @MargauxSchulz j'ai besoin de votre aide pour le texte à écrire pour cette Issue

[2020-09-18 12:30] MargauxSchulz commented on #91
Je peux broder un truc, ça m'aiderait d'avoir deux trois bullet points @GuillaumeAV mais on peut aussi faire ça dans l'autre sens (je brode et guillaume tu ajustes)

[2020-09-22 11:31] Mathieu-CdlT commented on #107
Wow j'avais pas vu les avancées :)! Est ce qu'on pourrait séparer partenaires institutionnels (financeurs) des autres partenaires et ecosystème ?

[2020-09-22 11:39] Mathieu-CdlT commented on #101
Je sais pas si c'est l'endroit mais je trouve pas la fiche, mais je viens de voir les 4 catégories que tu as mis en haut (accueillant, apprenant, partenaire, modérateur) et me pose la question de la cible que l'on vise et de l'impact pour un utilisateur qd il arrive sur le site. J'ai l'impression que partenaires et modérateur en fait sont en trop et qu'il faut aller direct sur la cible que sont le

[2020-09-22 21:41] J9rem commented on #101
C'est changé !

[2020-09-22 21:48] J9rem commented on #107
Oui est-ce que tu peux me donner la liste EXACTE des partenaires financiers ?
(pour t'aider à me répondre, base toi sur la liste de cette page)
https://lescheminsdelatransition.org/plateforme/?EcosytemeCdlT

[2020-09-23 15:07] ValentineMathieu opened #111 "Ajouter une étape de modération pour la fiche de présentation des contributeurs"
Point intéressant relevé par @Mathieu-CdlT, dans un soucis de sécurisation de l'accès à la fiche de présentation. Pour que n'importe quel visiteur du site ne puisse pas la remplir et l'ajouter directement sur le drive sans validation de la part d'un membre actif.

[2020-09-23 15:14] GuillaumeAV commented on #111
Attention à ne pas chercher à résoudre des problèmes inexistants (ou tant
qu'ils ne se posent pas) surtout si ça conduit à complexifier les processus
;)

Le mer. 23 sept. 2020 à 17:08, ValentineMathieu <notifications@github.com>
a écrit :

[2020-09-23 16:13] J9rem commented on #111
T'inquiète @GuillaumeAV ce serait un truc simple déjà mis en place pour les fiches lieux
@ValentineMathieu ça ne concerne pas la fiche sur Wordpress, qui elle est statique

[2020-09-24 15:43] Lussye opened #112 "Harmonisation écriture inclusive"
- [ ] Harmonisation de l'écriture inclusive sur le modèle masculin + féminin mots entiers (pour des motifs de correction automatique)

Détails des modifications à valider :

- [x] Page CommentCaM : "Vous êtes impliqués sur..." -> "Vous vous impliquez dans..."

[2020-09-24 15:55] Lussye opened #113 "Conformation RGPD"
- [x] création page RGPD incluse dans page Mentions légales

- [x] ajout d'un popup RGPD reprenant la page RGPD dans les formulaires demandant le traitement de données personnelles

Critère retenu : dès que le formulaire lie au moins un nom et une adresse mail.
Pour le moment : _Contributeur_ ; _Demande d'appropriation_ ; _Enquête lieux_

Ajout texte et code suivants dans l'espace **Conditions de

[2020-09-24 16:09] GuillaumeAV commented on #112
Coucou @Lussye ! Moi je trouve ça cool l'écriture inclusive :) J'utilise personnellement le "point" comme séparateur..
T'as une autre recommandation peut être ?

[2020-09-24 16:20] J9rem commented on #112
Désolé @Lussye mais les issues Github ne sont pas faites pour les questions. Juste pour les corrections de Bug. Je préfèrerai que nous l'évoquions tous ensembles en réunion ou juste tous les deux de vive voix

[2020-09-24 16:22] J9rem commented on #113
Désolé  @Lussye ton issue n'est pas claire. Ce n'est pas fait pour poser des questions mais des tâches de développements. Reparlons-en de vive voix ce vendredi (je serai dans le train mais je t'appelle)

[2020-09-25 09:45] Lussye commented on #113
Reformulation de l'issue

[2020-09-25 09:49] Lussye commented on #112
Reformulation de l'issue

[2020-09-25 10:19] J9rem commented on #113
Super la reformulation.
Si la classe modalbox te suffit, c'est cool. Si tu as besoin d'une chose qui s'affiche au dessus de la page, c'est possible aussi

[2020-09-28 14:32] Lussye commented on #112
En suspens :

- [ ] mots-titres (ex : voyageur apprenant) -> risque de trop de longueur

- [ ] accord des participes passés pluriels laissés pour l'instant au masculin (pour éviter le problème de correction automatique)

[Edit 28/09 16:42]

- [ ] termes "génériques" comme _acteurs_, _curieux de la transition_, etc... **qui n'identifient pas directement une personne** laissés tels quels

[2020-09-28 14:35] J9rem commented on #112
Bonne proposition pour les pluriels, effectivement ce sera plus simple.
Pour les mots titres, laissons ainsi et nous verrons à l'usage si nous trouvons une formule plus inclusive

[2020-09-28 15:42] J9rem opened #114 "Remplacer “voyageurs apprenants" par “chemineurs”"
cf. [Réunions hedbo du lundi 28/09 17h](https://docs.google.com/document/d/1hrxon0RudLV0qcBEPePYRlxRBasd7RvRai9y2bUQZac/edit#)

[2020-09-28 15:44] J9rem commented on #112
a priori pour `voyageur apprenant` nous allons le gérer avec #114

[2020-09-28 15:45] J9rem commented on #114
Est-ce que ça te motive @Lussye ?

[2020-09-29 08:40] J9rem commented on #107
Rendre l'affichage plus joli des Slideware

[2020-09-29 08:56] J9rem commented on #107
- [x] Partenaires financiers : Région Occitanie, Région Grand Est, ADEME

[2020-09-29 08:58] Lussye commented on #107
Adaptation fichiers ~~https://github.com/chemins-de-la-transition/plateforme/tree/master/v0.1%20YesWiki/src/tools/bazar/presentation/templates~~

[2020-09-29 08:59] J9rem commented on #107
Pense à le mettre à jour sur GitHub aussi quand tu as une version consolidée.

[2020-09-29 09:12] J9rem opened #116 "Remplacer "Parcours découverte" par "voyage apprenant""
En application de la communication faite par exemple [auprès de l'ADEME](https://drive.google.com/drive/folders/18wHCDXFDT7MKOWCJ_j-7xo6RlOx7t8Xp)

[2020-09-29 09:14] #98 closed, assigned to J9rem

[2020-09-29 09:14] #101 closed, assigned to nobody

[2020-09-29 09:15] #39 closed, assigned to J9rem

[2020-09-29 09:47] Lussye commented on #114
- [x] Remplacer "voyageur apprenant" par "chemineur" dans les textes

- [x] Remplacer la page https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Voyageur_Apprenant par https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Chemineur

- [x] MàJ les liens

[2020-09-29 12:33] Lussye opened #117 "Homogénéiser la Charte.pdf téléchargeable et la page du site"
- [ ] Homogénéiser le fichier Charte_Chemins_de_la_Transition.pdf téléchargeable depuis la page https://lescheminsdelatransition.org/plateforme/?ChartE (et devant en être la version "imprimée")

[2020-09-29 12:57] Lussye commented on #116
- [x] Adaptation des textes

- [x] Adaptation des listes

- [x] Remplacement page LaCarte_Decouverte par LaCarte_VoyageApprenant

- [ ] Vérifier / Remplacer les éléments de la page https://lescheminsdelatransition.org/plateforme/?Carte_avec_Facettes/edit

[2020-09-29 13:54] Lussye opened #118 "Coordonnées page Mentions légales"
- [ ] Harmonisation coordonnées, lesquelles retenir ?

 - - [x] page contact https://lescheminsdelatransition.org/plateforme/?Contact :

Association Les Chemins de la Transition
9 rue de la Marquise de Sévigné
31200 TOULOUSE

 - - [ ] page mentions légales https://lescheminsdelatransition.org/plateforme/?MentionsLegales :

Nom : association les Chemins de la Transition
Adresse : 40 rue de Tunis, T

[2020-09-30 02:55] J9rem commented on #107
Finalement le bon lieu c'est https://github.com/chemins-de-la-transition/plateforme/tree/master/v0.1%20YesWiki/src/themes/tools/bazar/templates
pour éviter les écrasements de fichiers à la mise à jour

[2020-10-02 13:31] Lussye commented on #107
tests css en cours, rester responsive, pb de superposition du slide et des indicateurs de carousel. WiP
N'hésitez pas à me remonter vos avis =)

[2020-10-02 14:05] J9rem commented on #107
Ca commence à être pas mal.

[2020-10-02 14:09] J9rem commented on #107
A la fin, tu pourras recopier tout ceci dans themes/tools/bazar/templates/carousel_V2.tpl.html pour que ça ne soit pas présent sur la page de présentation.

[2020-10-02 16:40] Mathieu-CdlT commented on #107
Hé c'est moi ou vous êtes aux Top les DevWiki là ? Bien ouej le slideware en bas :) !

[2020-10-05 16:01] J9rem commented on #113
C'est bon pour moi

[2020-10-05 16:01] #113 closed, assigned to Lussye

[2020-10-05 16:34] J9rem commented on #114
Nickel !

[2020-10-05 16:34] #114 closed, assigned to Lussye

[2020-10-05 16:52] J9rem commented on #112
Bon pour moi, l'harmonisation est suffisante en l'état

[2020-10-05 16:52] #112 closed, assigned to Lussye

[2020-10-05 16:55] J9rem commented on #116
C'est bon pour moi

[2020-10-05 16:55] #116 closed, assigned to Lussye

[2020-10-06 09:45] GuillaumeAV opened #120 "Petit rapport d'étonnement de Guillaume"
NB : Globalement c'est super, j'ai naturellement focusé sur les pistes d'améliorations, c'est pour ça qu'il y en a beaucoup plus que de points positifs ;)

## Points positifs
- Super la homepage avec le types de parcours (+ description & case à cocher) en horizontal et les thématiques en vertical !
- C'est chiadé la mécanique du site !

## Pistes d'amélioration

### HomePage
- Il nous faudrait une

[2020-10-06 13:41] J9rem opened #121 ""Je suis chemineuse ou chemineur" => C'est pas sexy"
[Remarque de](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume) @GuillaumeAV

[2020-10-06 13:42] J9rem opened #122 ""Je suis initiative accueillante" => Pas sexy"
[Remarque de](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume) @GuillaumeAV

[2020-10-06 13:45] J9rem opened #123 ""Les lieux" => "Construisez votre chemin !"
[Remarque de @GuillaumeAV](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume)

[2020-10-06 13:50] J9rem opened #124 "Lien Facebook : une entête du style "Suivez nous, partagez nous !""
[Remarque de](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume) @GuillaumeAV

[2020-10-06 13:52] J9rem commented on #120
Merci pour tous tes commentaires !
Par souci de lisibilité du kanban, et pour avoir des issues unitaires, je préfère fermer cette Issue pour avoir copier tes remarques
[ICI](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume)

[2020-10-06 13:52] #120 closed, assigned to nobody

[2020-10-06 13:53] J9rem opened #125 "Extraire les actions unitaires des remarques de Guillaume du 6/10"
[Remarque de Guillaume](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume)

[2020-10-06 13:56] J9rem opened #126 "Définir une charte graphique"
- une fois le **budget validé et acquis** pour le graphisme de la V0.1 YesWiki
- définir une charte graphique

[2020-10-06 16:56] Lussye opened #127 "Gestion des comptes chemineurs"
[Remarque de](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume) @GuillaumeAV

https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Chemineur

[2020-10-06 16:57] Lussye commented on #127
======Comment ça marche ? - Chemineur======

Vous souhaitez découvrir les diverses initiatives de transition déjà à l’œuvre sur le territoire français ?
Vous avez envie d’acquérir des compétences et des connaissances par le voyage et par le faire ?
Vous pouvez alors rejoindre la communauté des chemineurs et chemineuses et partir ainsi à la rencontre des acteurs de la transition en créant un profil

[2020-10-06 17:05] Lussye opened #128 "Ajouter un bouton de type "Ajouter à mon panier / wishlist / itinéraire" à côté de chaque fiche de chaque lieu..."
[Remarque de](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume) @GuillaumeAV

... avec la possibilité de créer plusieurs wish lists comme on crée plusieurs playlists

[2020-10-06 17:19] Lussye commented on #123
Modifié, mais il s'agit d'un titre ? (pour moi un call to action appelle une action type bouton ?)
À moins que Guillaume tu préfères que le titre soit transformé en lien vers la carte (qui disparaîtrait de la page d'accueil) ? je pense que ça perdrait en visibilité et lisibilité.

Pour la même raison de lisibilité, je propose même plutôt :
"Les lieux : construisez votre chemin"
Ça paraît évident,

[2020-10-06 17:26] Lussye commented on #124
"Suivez nous, partagez nous !" mis en titre de la zone pour garder la clarté de distinction des deux liens Fb

[2020-10-06 17:37] J9rem commented on #125
@Lussye Je préfère faire le tri seul pour être sûr de ne rien oublier, ... ;-)

[2020-10-06 17:40] J9rem commented on #127
@Lussye la gestion des comptes Chemineurs doit être travailler plus finement.
J'ai retiré tes propositions pour éviter les créations de comptes en attendant que je teste la solution à laquelle je pense.

[2020-10-06 17:42] J9rem commented on #128
Cette action ne doit pas être prioritaire car elle est complexe pour une fonctionnalité pas nécessaire dans un premier temps.

[2020-10-06 17:45] J9rem commented on #123
@Lussye le truc est simple pour moi et consiste juste à remplacer "lieux" par "trouvez votre chemin" en titre de la partie où il y a la carte.

[2020-10-06 17:47] #107 closed, assigned to J9rem, Lussye

[2020-10-06 18:10] J9rem commented on #124
Est-ce bon pour toi @GuillaumeAV ?
_Je considère que sans objection au 14/10 ce sera OK_

[2020-10-06 21:43] J9rem opened #129 "Remplacer "Prochains parcours thématiques" par "Prochains voyages apprenants organisés""
[Remarque de](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume) @GuillaumeAV

https://lescheminsdelatransition.org/plateforme/?AccueiL
Changer le nom de la page : https://lescheminsdelatransition.org/plateforme/?Evenements_Prochains_Parcours
et les références associées

[2020-10-06 22:46] J9rem opened #130 "Ajouter un bouton "Tout cocher" pour le choix des mois dans le formulaire Lieux"
Question associée "Quelles sont les périodes propices à l'accueil ?#
Ajouter un bouton "Tout cocher" pour le choix des mois dans le formulaire Lieux https://lescheminsdelatransition.org/plateforme/?AjouterLieux
Ceci passe par une ré-écriture locale du fichier tools\bazar\libs\formulaire\formulaire.fonct.inc.php afin de récupérer les astuces de la fonction checkboxfiche() dans checkbox()

[2020-10-06 22:49] J9rem opened #131 "Mettre Types de parcours, compétences, thématiques sur le même onglet"
[Suite aux remarques](https://github.com/chemins-de-la-transition/plateforme/wiki/Petit-rapport-d'%C3%A9tonnement-de-Guillaume) de @GuillaumeAV
mettre sur un même onglet : Types de parcours, thématiques et compétences. Thématiques devant être normé - compétences pouvant être laissé libre..
Dans l'onglet Parcours thématique de https://lescheminsdelatransition.org/plateforme/?AjouterLieux

(tag form

[2020-10-06 22:50] J9rem commented on #125
@Lussye je le mets en revue. Peux-tu vérifier que je n'ai rien oublié de prendre en compte ? puis clore cette issue.

[2020-10-06 22:58] J9rem commented on #96
J'ai l'impression qu'en dehors de la création d'un compte chemineur, nous avons déjà tout le reste (pour la V0.1)
Il manque peut-être la question des accès PMR / vegan vegetarien friendly / formation certifiante, ...
(cf. #20 #60 )
Dans ce cas, il ne reste plus qu'à adapter le formulaire Lieux dans ce sens.

[2020-10-06 23:04] J9rem commented on #108
Fait

[2020-10-06 23:04] #108 closed, assigned to J9rem

[2020-10-06 23:05] J9rem commented on #121
Remplacé par "Je veux cheminer" https://lescheminsdelatransition.org/plateforme/?CommentCaMarche

[2020-10-06 23:06] J9rem commented on #122
Remplacé par "Je veux accueillir" https://lescheminsdelatransition.org/plateforme/?CommentCaMarche

[2020-10-07 10:58] Lussye commented on #125
@J9rem l'item "Préférences de contact => Mettre dans le bloc (plutôt qu'au dessus) (...) => ça n'est pas facilement faisable."
mérite-t-il une issue, ou le "pas facilement faisable" est-il une litote ?
Sinon tout bon je pense.

[2020-10-07 11:01] J9rem commented on #125
En fait, il est possible de le mettre dans le bloc, mais si la personne ne modifie pas le bloc, alors elle va laisser notre proposition qui sera enregistrée alors que ça ne correspond pas aux intentions de la personne.
Il est toujours possible de faire du javascript personnalisé pour vider le texte s'il n'a pas été modifié.
Mais bon, je n'aime pas rajouter à nouveau ce genre de patch alors qu'il n

[2020-10-07 11:03] #125 closed, assigned to J9rem

[2020-10-07 15:47] J9rem opened #133 "Ecrire un manuel du beta testeur"
Ma proposition de manuel de beta testeur
[Beta testeur V0.1 : comment ça marche ?](https://github.com/chemins-de-la-transition/plateforme/wiki/Beta-testeur-V0.1-%3A-comment-%C3%A7a-marche-%3F)

@Lussye peux-tu vérifier que ceci te semble clair et précis ? J'ai besoin de ta relecture
N'hésite pas à faire les mises à jours si tu en as.

[2020-10-07 17:07] Lussye commented on #96
Pour PMR, vegan, VG et alimentation sans gluten, liste Accessibilité créée et intégrée au formulaire Lieux (onglet 4).
Concernant la formation certifiante : un lieu peut-il proposer plusieurs formations (plusieurs types ou plusieurs thématiques/compétences), dont certaines certifiantes et d'autres pas ? Auquel cas il faudrait ajouter à chaque compétence (?) une "sous-checkbox" "certifiante" ? Des

[2020-10-07 19:42] J9rem commented on #99
@Lussye si tu as l'envie et le temps j'ai trouvé ce que tu pouvais faire pour m'aider ET monter en compétence.
Dans le formulaire Lieux,
- [x] enlève tous les required (sauf titre) => je referai une mise à jour plus tard
- [x] passe la quasi totalité des champs en lecture uniquement moderateurs + propriétaires et admins et écriture idem
- [x] créer une nouvelle fiche en mode déconnecté
- [x] vérif

[2020-10-08 07:11] J9rem commented on #96
Ou sinon, on ajoute une case à cocher : "tout ou une partie des formations proposées sont certifiantes"
Solution simple selon moi

[2020-10-08 15:13] Lussye commented on #96
Fait

[2020-10-08 15:53] J9rem commented on #96
Tu l'as mis en checkbox (effectivement case à cocher) mais je me dis que ce serait mieux en radio button ou list déroulante (choix unique).
@Lussye Veux-tu que je le corrige vu que je me suis trompé dans mon intention ?

[2020-10-08 15:55] Lussye commented on #96
je m'occupe de la  maj, pas de souci, j'avais vu le truc, mais étant en même temps sur #99 j'ai tardé à agir...

[2020-10-08 15:59] J9rem commented on #96
oh tu sais je n'ai pas beaucoup avancé

[2020-10-08 16:00] J9rem commented on #99
Bon j'ai vérifié, nous avons un souci de gestion des droits pour textlong et champ_mail...
Je regarde ceci.
Merci pour le test

[2020-10-08 16:01] J9rem commented on #99
@Lussye  Je veux bien que tu ailles jusqu'au bout du test pour m'assurer qe tu as les mêmes soucis.

[2020-10-08 16:07] Lussye commented on #99
Je vois les champs % moderateur et arrive à créer une fiche en non identifiée :/
et je m'interroge toujours sur des problèmes de temps de prise en compte des modifs... cache ou tache cron ?

[2020-10-08 16:09] J9rem commented on #99
Tout le monde peut créer une fiche. Ma question est : est-ce qu'une fois créée, sans être connecté, certaines informations sont masquées ?

` problèmes de temps de prise en compte des modifs... cache ou tache cron ?` peux-tu détailler le souci pour m'éclairer ?

[2020-10-08 16:13] Lussye commented on #99
Non, toutes les infos sont visibles, les champs modifiables, ce n'est qu'à la validation des modifications que le blocage est effectif (demande d'identification),
et par rapport à la gestion des droits sur le formulaire Lieux, j'aurais pensé que tout le monde peut créer une fiche, mais seulement sur les champs visibles "*"

[2020-10-08 16:18] Lussye commented on #99
Concernant cache ou tache cron, c'était juste parce que ma modification checkbox/radio n'avait pas été prise en compte, mais en fait tout simplement pas enregistrée... j'ai réitéré et c'est pris en compté immédiatement.

[2020-10-08 16:19] J9rem commented on #99
mea culpa, je devais être en train de faire des tests au même endroit en même temps

[2020-10-08 16:21] Lussye commented on #99
no pb, le principal c'est que ce soit enregistré =)

[2020-10-08 16:21] Lussye commented on #96
maj faite => radio plutôt que checkbox

[2020-10-08 16:25] J9rem commented on #96
nickel : tu es maintenant ceinture noire++ YesWiki https://yeswiki.net/?LesCeinturesYeswiki

[2020-10-08 16:26] Lussye commented on #99
Pour les fiches, 2 questions :
- chez moi, la fiche créée par "non identifié", puis dont l'affichage a été validé en tant qu'admin, ne s'affiche pas...
- en création de fiche "non identifé" aussi bien qu'en modif fiche "admin", je n'arrive pas à placer le repère sur la carte (pas de repère tout simplement), sur Firefox pourtant (d'un côté en navigation privée, mais de l'autre non)

[2020-10-08 16:27] J9rem commented on #99
`et par rapport à la gestion des droits sur le formulaire Lieux, j'aurais pensé que tout le monde peut créer une fiche, mais seulement sur les champs visibles "*"`

Moi aussi mais ça ne fonctionne pas ainsi pour le moment, ....
A priori, seul un champ a besoin de cette fonction 'moderation' et j'ai fait ce qu'il fallait pour le masquer

[2020-10-08 16:28] J9rem commented on #99
Pour le placement du point, il te faut une adresse valide. Je suppose que c'est le cas. peux-tu me le confirmer ?

[2020-10-08 16:28] Lussye commented on #96
ça va, c'est pas non plus l'Everest !

[2020-10-08 16:37] Lussye commented on #99
mhh... alors, de mon côté, ça ne fonctionne toujours pas en modifiant avec une adresse valide (admin), ni en créant une nouvelle fiche (non identifié)

[2020-10-08 16:38] J9rem commented on #99
Ah attention, il te faut modérer la fiche (va dans le menu de tête) pour cliquer la case affichable (sinon la fiche ne s'affiche pas)

[2020-10-08 16:47] Lussye commented on #99
Elle l'était. Nouvel essai en créant la fiche Ailleurs, test avec plusieurs adresse (lieu-dit, ou adresse plus citadine), ne fonctionne tjs pas. Par ailleurs, en admin, je ne peux plus modérer une fiche.

[2020-10-08 16:47] J9rem commented on #99
J'ai rajouté cette étape de modération pour que seules les fiches relues soient affichées.
Qu'en penses-tu ?

[2020-10-09 15:14] Lussye commented on #99
Oui, ça me paraît très bien l'étape de modération, mais je ne sais pas ce qui s'est passé hier, y'a eu un bug un moment (peut-être étiez-nous tous les deux sur les mêmes modifs de DB ceci dit).
En admin, je vois les champs, et peux à nouveau modifier et modérer une fiche (et même afficher le repère carto, mais ça c'est parce qu'hier j'étais dans les choux : je cliquais directement dans la carte et

[2020-10-09 15:44] Lussye commented on #96
Concernant l'UX de la création de fiche Lieux,

- [ ] le champs "Domaine Branche Autres thématiques", onglet 1, me pose pb : je ne sais pas à quoi il sert, quoi en faire, et cas échéant comment le compléter...

- [x] dans "type de structure", onglet 2, pour moi c'est pas clair, c'est quoi "indépendant" ? (par rapport à auto-entreprise, EURL ou même SASU)

Je vois que l'issue #60 date de début juin

[2020-10-09 16:20] Lussye commented on #133
Pour moi tout bon, je te laisse voir si les modifs faites sont vraiment pertinentes

[2020-10-11 09:56] J9rem commented on #123
@Lussye je clos l'issue, ça me va comme c'est très bonne proposition

[2020-10-11 09:56] #123 closed, assigned to Lussye

[2020-10-11 09:59] J9rem commented on #133
@Lussye c'est nickel. Je clos l'issue. Bravo

[2020-10-11 11:52] J9rem opened #134 "Réparer extension CheckaccessLink pour la modification d'une fiche"
Les liens qui normalement devraient être masqués par l'extension CheckAccessLink s'affichent lors de la modification de formulaire (Lieux)

[2020-10-11 11:54] J9rem opened #135 "Les champs sécurisés en lecture dans le formulaire Lieux ne s'affichent pas en lecture (mode %)"
Les champs sécurisés en lecture dans le formulaire Lieux ne s'affichent pas en lecture (mode %)
normalement, le créateur d'une fiche, s'il n'est pas modérateur devrait pouvoir lire le contenu de ces champs même s'ils sont masqués aux autres personnes

[2020-10-11 12:12] J9rem commented on #131
J'ai fait la mise à jour.
Est-ce que @GuillaumeAV ça te convient ?
https://lescheminsdelatransition.org/plateforme/?AjouterLieux

[2020-10-11 12:15] J9rem commented on #99
Oui étrange pour la Bretagne. J'ai vu le problème d'affiche des champs masqués #135 .
Je pense que nous sommes allés au bout de cette Issue.
Vu que nous avons fait tous les deux les tests, je clos la fiche sans review.

[2020-10-11 12:15] #99 closed, assigned to J9rem, Lussye

[2020-10-12 20:11] J9rem commented on #135
@Lussye peux-tu vérifier que tout fonctionne à nouveau ?

[2020-10-12 20:17] J9rem commented on #135
C'est grâce au fichier modifié : https://github.com/chemins-de-la-transition/plateforme/blob/master/v0.1%20YesWiki/src/includes/YesWiki.php

[2020-10-13 09:11] GuillaumeAV opened #136 "Cocher par défaut les cases types de parcours"
Sur la homepage, les cases types de parcours ne sont pas cochées, on pourrait s'attendre à ne rien voir sur la carte, et à voir apparaitre les lieux en cochant les cases ...

Proposition : Que les cases soient cochées ...

[2020-10-13 09:14] GuillaumeAV opened #137 "Avoir des blocs fixes pour Ecosystème & Partenaires financiers"
Leur dimensions sont actuellement variables en fonction des contenus, ce serait plus joli si les dimensions des blocs étaient fixes ;)

[2020-10-13 10:18] J9rem commented on #133
@Lussye : ajouter un petit texte ves les spec.

[2020-10-13 10:23] J9rem commented on #127
@Lussye crée un formulaire

[2020-10-13 10:25] Lussye commented on #127
- [x] Créer formulaire chemineur
-> concernant le partage des données, séparation du consentement entre 1-diffusion des infos au sein de l'écosystème CDLT ; et 2-diffusion des infos (publiquement) sur la plateforme ?
->première base formulaire chemineur, bug affichage des onglets + pb formatage date

- [x] Relecture par Jérémy

- [x] Tests

- [ ] Svgde BD

- [ ] Ajout champs id et mp

[2020-10-13 12:34] Lussye opened #138 "Lien vers le Recherche avancée"
Voir si opportun de la mettre en avant (déjà dans menu La Carte),
définir où,
alors intégrer les liens nécessaires

[2020-10-13 13:20] J9rem commented on #138
Je mettrais bien un lien ou un bouton au sein de la page https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Chemineur

[2020-10-13 13:25] Lussye commented on #135
- [ ] Test1 : je crée une fiche lieu sans me connecter (Fiche Test#135_1A sur navigation privée Firefox) ;
A/ je ne semble pas être reconnue comme propriétaire de la fiche que je viens de créer (en passant par la page "5 dernières fiches créées à modérer" sur laquelle on arrive après création de fiche, même non connecté, ou en passant par la carte)
B/ je modifie ensuite cette fiche sans me connect

[2020-10-13 13:52] Lussye commented on #135
Remarque : il est possible de contacter les lieux (par mail) qui ne souhaitent pas être contactés directement, veux-tu que je  crée une issue pour cela, ou est-ce seulement un peu précoce ?

[2020-10-13 16:58] J9rem commented on #135
Crée une issue dédiée, ce sera plus facile à suivre

[2020-10-13 17:45] J9rem commented on #127
Que dis-tu de ceci ?
https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Chemineur
Je te laisse faire les tests.
Nous ne ferrons pas d'ajout automatique de compte

[2020-10-13 17:55] J9rem commented on #133
C'est nickel merci @Lussye

[2020-10-13 17:55] #133 closed, assigned to Lussye

[2020-10-14 06:19] bouviermullerp opened #139 "Ajouter une info-bulle sur "Type d'apprentissage""
Je suis un utilisateur non connecté, j'ai cliqué sur "comment ça marche" puis "initative accueillante", "ajouter un lieu", "accepter", "valider".

Dans la fiche d'ajout de lieu, il est fait mention des type d'apprentissage. Je pense que c'est un vocabulaire qui nous parle à nous, mais pas forcément aux lieux.

Je suggère une info-bulle (ou autre) qui décrirait un peu plus précisément chacun des ty

[2020-10-14 06:20] bouviermullerp commented on #139
@J9rem

[2020-10-14 08:11] J9rem commented on #139
Merci @bouviermullerp pour ta remarque.
Dans la page dont tu parles
https://lescheminsdelatransition.org/plateforme/?AjouterLieux
Il y a juste au-dessus du champ en question un texte qui explique ce dont tu parles et qui renvoie vers le lien suivant :
https://lescheminsdelatransition.org/plateforme/?AideTypeDApprentissage
Est-ce suffisant ?
Je viens d'ajouter une info-bulle pour inviter à lire cet

[2020-10-14 08:19] bouviermullerp commented on #139
Ha oui, ok je n'avais même pas vu :o
Pas besoin d'infobulle alors, mais peut être de faire davantage ressortir l'info ? Ou alors peut être que je pourrai faire plus attention :D

[2020-10-14 08:19] J9rem opened #140 "Retirer la question sur les formations certifiantes"
Je crée cette Issue dans l'idée de nous assurer d'avoir suivi la réponse à la question avant le 25 octobre.
Question:
dans le formulaire Lieux :
https://lescheminsdelatransition.org/plateforme/?AjouterLieux

On pose la question " Tout ou une partie des formations proposées sont certifiantes" -> Est-ce que cette information nous servira réellement à qqc dans l'immédiat?

Si la réponse est non, alor

[2020-10-14 08:27] J9rem commented on #139
Si tu ne l'as pas vu, d'autres ne le verrons pas.

Oui, j'ai fait une nouvelle proposition dans ce sens.
Qu'en dis-tu ? @bouviermullerp

[2020-10-14 12:15] Lussye opened #141 "Issue discussion Parcours : disponibilités différenciées selon type de parcours sur fiche lieux ?"
Différencier les disponibilités d'accueil selon le type de parcours, partant du principe que selon l'activité du lieu accueillant, ses disponibilités ne seront peut-être pas les mêmes pour accueillir et accompagner des chemineurs en écotourisme ou pour accueillir des wwoofers... :
créer une zone "disponibilités" pour chacun des quatre types de parcours sur le formulaire Lieux

[2020-10-14 12:20] Lussye opened #142 "Formulaire Lieux : suivi et modération des modes de contact des lieux (Direct / indirect)"
Il est possible de contacter les lieux (par mail) qui ne souhaitent pas être contactés directement.
Créer une modération pour éviter cela.

[2020-10-14 12:24] Lussye commented on #127
Merci pour ton aide Jérémy !
J'ai encore un petit bug d'affichage : superposition partielle de deux champs, non résolu par l'ajout d'une div, as-tu une piste ?
Revoit-on la pertinence et adaptation des champs présents dans le formulaire dès maintenant ?

[2020-10-14 14:28] Lussye commented on #127
Ça me semble être une très bonne solution pour éviter les problèmes de double inscription et les gloubiboulga de ce genre.
As-tu moyen d'inclure une info-bulle sur le format du NomWiki ?
As-tu moyen d'inclure un paramètre qui permettrait d'inclure un lien vers la page d'origine (quand on est sur son compte, vers CommentCaMarche_Chemineur, ou redirection directe après création du compte vers cette

[2020-10-14 14:47] J9rem commented on #127
Tu peux mettre des infobulles où tu veux dans le formulaire.
Effectivement, nous pourrions voire comment ajouter une info bulle là où tu le précises (-> Issue dédiée mais non prioritaire #143 )
Le lien de redirection serait possible si j'avais résolu le problème de la création de fiche directement depuis le formulaire, .......
Donc pas d'issue dédié au lien de redirection mais plutôt une issue pou

[2020-10-14 15:33] MargauxSchulz commented on #91
J'ai écrit deux trucs :
- version 1 : classique

"	C’est en parcourant les chemins de Saint Jacques de Compostelle que l’idée des Chemins de la Transition est née. Et si l’on pouvait faciliter la mise en mouvement des citoyens du monde par la mobilisation non pas de l’imaginaire chrétien mais de l'imaginaire de la Transition ? Les Chemins de la Transition agissent pour participer à la découverte,

[2020-10-14 15:34] MargauxSchulz commented on #91
si c'est plus simple, mon doc de travail est ici : https://docs.google.com/document/d/1y6gcw0AwXdFesHrKwXpaSBoJA8rfACICDE-rGMabUrU/edit

[2020-10-15 07:41] J9rem commented on #127
J'ai viré les balises <br> dans le formulaire.
Est-ce que c'est ok maintenant ?

[2020-10-15 07:47] J9rem commented on #127
J'ai apporté quelques modifications aussi

[2020-10-15 08:01] J9rem commented on #111
Fait : https://lescheminsdelatransition.org/plateforme/?AjouterUneFiche_Contributeur

[2020-10-15 08:01] #111 closed, assigned to J9rem

[2020-10-15 10:40] Lussye opened #143 "Ajouter une info-bulle sur le format du NomWiki dans le formulaire d'inscription"
Pour préciser aux non-initiés

[2020-10-15 10:42] Lussye commented on #127
Oui, nickel. Merci @J9rem !
Puis-je réessayer avec la phase de création de compte préliminaire ?

[2020-10-15 11:00] Lussye opened #144 "Picto forêt pour la thématique Agroforesterie + harmoniser les autres thématiques"
Pour répondre aux exigences Grand est : [2020 Spécifications de haut niveau Plateforme Cdlt V0.1](https://docs.google.com/document/d/1q0qdfdT2Gl_bnTkcURRu9bPeJeNl_3LVC52tzTQWk1s/edit#) 6.1

[2020-10-15 12:07] J9rem commented on #127
Tu peux tout essayer (sauf ajouter le module de création de compte dans le formulaire)

[2020-10-15 12:26] Lussye commented on #127
Je ne ferais pas ce genre de choses sans t'en parler avant ;)

[2020-10-15 12:55] Lussye commented on #96
### Reprise de l'issue #60 point par point, création d'issues séparées :
`- Activités, métiers, compétences à séparer en : o Activités du lieu   o Compétences proposées ->`
- `Compétences recherchées -> _Résolue par "Recherche avancée", ou je n'ai pas compris la question ?_` Fait
- `THEMATIQUES : Beaucoup trop long, complexe et abstrait => Faire disparaitre les thématiques dans la fiche d'affichag

[2020-10-15 15:30] Lussye opened #145 "Prévoir inscription en double opt-in"
pour meilleure conformité RGPD =)

[2020-10-15 15:55] J9rem commented on #96
Waouh, bon je propose de prendre chaque ligne et de soit faire la modification (simple) soit créer une issue.
Et merci pour le taff

[2020-10-15 15:56] J9rem commented on #118
@Lussye peus-tu faire le point avec Mathieu. Il aura les informations exactes.

[2020-10-15 15:57] J9rem commented on #91
@MargauxSchulz est-ce que tu peux valider ton texte avec @GuillaumeAV (en direct, sur Github ce sera long) ?
Dès que c'est bon, je le copie (ou tu le copies ;-) )

[2020-10-15 16:00] J9rem commented on #26
A priori c'est bon avec cette page : https://lescheminsdelatransition.org/plateforme/?Evenements_Prochains_Voyages_Apprenants
(évidemment améliorable)
Qu'en dis-tu @GuillaumeAV ?

[2020-10-15 16:00] J9rem commented on #32
N'est plus applicable

[2020-10-15 16:00] #32 closed, assigned to GuillaumeAV

[2020-10-15 16:01] J9rem commented on #56
N'est plus nécessaire

[2020-10-15 16:01] #56 closed, assigned to nobody

[2020-10-15 16:01] J9rem commented on #45
Couvert par la page : https://lescheminsdelatransition.org/plateforme/?LaCarte_RechercheAvancee

[2020-10-15 16:01] #45 closed, assigned to nobody

[2020-10-15 16:03] J9rem commented on #86
Qu'en penses-tu @Lussye ?
Je pense que nous avons assez de formulaires non ? pour tous les types d'utilisateurs.
Je te laisse clore si tu es d'accord.

[2020-10-15 16:05] Lussye commented on #127
Nouveaux tests : prise en compte inscription Ok puis création fiche chemineur => ok =D
-> possibilité inclure redirection vers la fiche Lieux après la création d'une nouvelle compétence ? sinon l'utilisateur peut se sentir un peu perdu (ou préciser que la création se compétence se fait dans un nouvel onglet plus simplement ? ; UX du nouvel onglet ?) -> #147
-> formats dates (naissance et adhésion)

[2020-10-15 16:06] J9rem commented on #76
Cette problématique de saisie est maintenant gérée par le cercle Ingénierie des parcours

[2020-10-15 16:07] Lussye commented on #96
Attends, y'a peut-être des trucs qui vont se contredire (je voulais confronter avec #60 et #20 pour meilleure visibilité et simplifier les tâches à accomplir, qu'en penses-tu ?)

[2020-10-15 16:08] laurecoplo commented on #76
C est à dire ?
Pas au courant...

[2020-10-15 16:10] Lussye commented on #86
Oui on est pas mal là =)
Bien joué !

[2020-10-15 16:13] J9rem commented on #76
Clarification de mon point de vue : mais je peux me tromper.
- il y a des données sur un gogocarto mais elles doivent être relues
- il y a des données de Lieux dans un ou plusieurs fichiers Excel.

Si j'ai bien compris, le cercle Ingénierie des parcours va définir quel est le premier parcours mis en place et il va utiliser ces données pour les vérifier et les saisir directement dans l'interface.

[2020-10-15 16:15] #86 closed, assigned to J9rem, Lussye

[2020-10-15 16:16] J9rem commented on #96
Oui faisons d'abord #60 et #20 pour mardi avant de découper le reste

[2020-10-15 16:17] J9rem commented on #127
J'aimerais trouver le moyen de rendre cette création de compétences plus dynamique (javascript et compagnie) mais c'est un peu lourd.

[2020-10-15 16:21] laurecoplo commented on #76
Merci @J9rem de tes precisions !
Je comprends q si on les met en attente de moderation elles ne sont ni visibles ni affichees c est bien ca ?
Dans ce cas j aurais tendance à dire q un import auto nous ferait gagner du tps ms si ca t en fait perdre bcp... ca vaut ptet pas le coup ;)

[2020-10-15 16:30] Lussye commented on #96
Je redécoupe ici pour plus de clarté : on verra tout de suite si les notes de #20 et #60, plus récentes, supplantent des remarques du doc de Rachel

[2020-10-15 16:35] J9rem commented on #76
OK, donc j'ouvre à nouveau l'issue pour l'import

[2020-10-15 16:36] J9rem commented on #76
on le fait en automatique

[2020-10-15 16:44] GuillaumeAV commented on #26
Très rapidement ...  Aah ouais ca a l'air pas mal du tout !
De mon point de vue, on pourrait même la simplifier, en n'affichant que les
thématiques et les lieux ! Puis en ayant une fiche descriptive des voyages
plus fouillée .. Avec les condtions tarifaires, logement, transports etc.

Le jeu. 15 oct. 2020 à 18:00, Jérémy Dufraisse <notifications@github.com> a
écrit :

--
Guillaume Rouyer
+33 (0)6

[2020-10-15 16:45] Lussye commented on #60
Modifs pas encore faites re-passées sur #96 pour ré-aiguillage issues dédiées

[2020-10-15 16:47] Lussye commented on #20
Modifs pas encore faites re-passées sur #96 pour ré-aiguillage issues dédiées

[2020-10-15 17:20] Mathieu-CdlT commented on #118
@Lussye Hello, alors le Siege est 9 rue de la MArquise de Sévigné (40 rue de Tunis c'est chez moi, c'est pour de la correspondance).
Je propose de ne pas mettre de téléphone si pas obligatoire
On a aussi un SIRET: 851 073 221 00018
"Toutes" les infos dans [Infos Asso CdlT](https://docs.google.com/spreadsheets/d/1QXMgi0_f6e9NPOwUsnH4vARiJK75keecrPjz8squNro/edit#gid=235672948) que je viens de mettre

[2020-10-15 17:35] Lussye commented on #118
@Mathieu-CdlT Pour relecture : https://lescheminsdelatransition.org/plateforme/?MentionsLegales
"Dénomination : association les Chemins de la Transition
Adresse : 9 rue de la Marquise de Sévigne, 31200 Toulouse
Courriel : bonjour@lescheminsdelatransition.org
SIRET : 851 073 221 00018
Identification RNA : W313031847
Responsable de la publication : ..... en cours de rédaction"

Si validé, restera ju

[2020-10-15 17:41] J9rem commented on #118
Pour le responsable de la publication : je propose:
- le président de l'association
Pour le référent RGPD, normalement il faudrait quelqu'un différent du développeur principal mais qui s'y connait sur le développement informatique et le côté RGPD
@Lussye
sinon
moi-même

[2020-10-15 17:42] J9rem commented on #118
NB : il faudrait créer une fiche référent RGPD plateforme dans le cercle Plateforme, ....

[2020-10-15 17:56] Lussye commented on #96
Extraction terminée, je finis par me demander si le gain est réel tellement ça reste gros pavé ^^'

[2020-10-16 11:03] Lussye commented on #138
@J9rem J'ai ajouté le lien directement dans CartoLieux, donc il apparaît aussi au sein de CommentCaMarche_Chemineur.
En revanche, j'aurais bien aimé que ce lien se place (directement) en-dessous des filtres, mais sans casser le script ni bidouiller qqch qui ne serait pas responsive... aurais-tu une idée ?

[2020-10-16 11:11] Lussye commented on #144
Docu (avec Bootstrap) https://getbootstrap.com/docs/3.3/components/

- Agroforesterie : "glyphicon glyphicon-tree-conifer" ou "glyphicon glyphicon-tree-deciduous"

Si je comprends bien, Agroforesterie correspond à une Thématique selon l'ontologie ? Quels sont les autres thématiques (pour en trouver les picto en but d'harmonisation)
 ? Recycleries, économie circulaire : "glyphicon glyphicon-refresh

[2020-10-16 18:45] J9rem commented on #138
Je l'avais déjà mis dans CartoLieux mais Guillaume ne souhaite pas le voir présent sur la page d'accueil.
Je préfèrerais que tu le retires et que tu le mettes plutôt dans la page Chemineur uniquement.
Est-ce possible ?
Pour l'idée de le mettre à droite, c'est possible avec une classe CSS.
Mais franchement, un simple class="pull-right" sera amplement suffisant à mon goût

[2020-10-16 18:49] J9rem commented on #144
Est-ce que tu peux voir dans la librairie Font Awesome ?
Normalement, elle est plus jolie et nous l'avons déjà dans YesWiki.
Pour la liste des éventuelles thématiques, nous avons https://lescheminsdelatransition.org/plateforme/?Archive2020_ListeDesThematiques mais ça n'est pas vérifié. Les thématiques vont se déterminer au fil de l'eau.

[2020-10-16 18:51] J9rem commented on #96
Le gain est que tu t'es approprié le contenu. C'est ENORME.

[2020-10-19 12:53] J9rem commented on #130
Et aussi pour la partie questionnaire du formulaire Chemineur !

[2020-10-19 14:01] Lussye commented on #138
Bouton recherche avancée repassé de CartoLieux à CommentCaMarche_Chemineur =)

[2020-10-19 14:08] Lussye opened #146 "S'assurer qu'une personne non connectée ne peut avoir accès à un formulaire Lieux (en mode modification)"
Après avoir créé une nouvelle fiche lieu, un utilisateur connecté tombe sur une page l'informant que le formulaire a bien été pris en compte ([AjouterLieux_Reussite](https://lescheminsdelatransition.org/plateforme/?AjouterLieux_Reussite)), avec lien vers les dernières fiches Lieux créées (par l'utilisateur ou non) :

- [x] faire disparaître ce lien,

- [x] s'assurer que l'utilisateur tombant "par

[2020-10-19 14:10] Lussye commented on #135
-> #146

[2020-10-19 14:20] Lussye opened #147 "Ajouter une nouvelle compétence par modalbox + prise en compte auto dans le formulaire en cours"
- [ ] Vérifier le bon fonctionnement de la modalbox jusqu'au retour sur le formulaire en cours (Lieux ou Chemineur) ;

- [ ] Ajouter le code nécessaire pour une prise en compte de cette nouvelle compétence par rafraichissement auto (en informant : Attention, perte des données non enregistrées) du formulaire en cours.

[2020-10-19 14:26] Lussye opened #148 "Formatage de la date dans les formulaires"
formats dates (naissance et adhésion) à améliorer :

1/ aujourd'hui (et l'affichage aujourd'hui revient malgré effacement de cette précision = bug) pour la date de naissance ?

2/ précise le moment de la journée **et** l'heure, double-affichage que @J9rem m'a signalé être un bug, + est-ce pertinent ?

[2020-10-19 14:44] Lussye opened #149 "Nouvelle fiche Chemineur validée malgré champs obligatoires non remplis"
Une nouvelle fiche Chemineur validée malgré champs obligatoires non remplis :
les champs obligatoires dans Informations utiles ne sont pas bloquants s'ils ne sont pas remplis (les autres champs — prénom, nom, mail — ville sont bien bloquants)

[2020-10-19 14:51] Lussye commented on #127
Concernant la protection des données sensibles, et leur affichage, quid du champ "Nom auto" {{bf_prenom}} {{bf_nom}} ?

[2020-10-19 15:07] Lussye opened #150 "Ajouter une info-bulle sur "Thématiques supplémentaires""
Sur le même modèle que "Ajouter une info-bulle sur "Type d'apprentissage"" (#139), ajouter une info-bulle invitant à consulter l'aide https://lescheminsdelatransition.org/plateforme/?Aide_ListeDesParcoursThematiques, en renormalisant si nécessaire le nom de la page (en ?Aide_ParcoursThematiques par exemple ?) et les liens associés

[2020-10-19 16:18] Lussye commented on #144
@J9rem Pourrais-tu me préciser quelle version de Font Awesome ? Comment se fait le lien avec la librairie, je n'ai pas trouvé dans l'arborescence du YesWiki (pas forcément cherché au bon endroit non plus...)?

Et merci pour la liste des thématiques !!

[2020-10-19 16:23] J9rem commented on #144
En gros, tu cherches dans https://fontawesome.com/icons?d=gallery un icône qui correspond.
Tu notes son nom : genre `tree`
Dans YesWiki, tu tapes ceci {{button icon="fa fa-tree" link="Lien.php" nobtn="1"}} (je te laisse faire les adaptions) et tu as un beau bouton prêt à l'emploi.
(ou sinon juste le code suivant
[code]

[2020-10-19 16:24] J9rem commented on #144
idem pour glyficon
icon="glyficon glyficon-nom"

[2020-10-19 16:30] Lussye commented on #144
OK merci ! je ne savais pas si l'intégration était automatisée de la même façon qu'avec glyficon. Plus clair pour moi grâce à tes explications =) et comme ça je pourrai préparer les class à ajouter avec les bons intitulés.
Peux-tu en revanche confirmer ou infirmer : on bosse sur la version gratuite, pas pro... (?)

[2020-10-19 16:39] J9rem commented on #144
Oui version gratuite, mais dans le doute regarde le contenu de :
https://github.com/YesWiki/yeswiki/tree/development/tools/templates/libs/vendor/fontawesome-5

[2020-10-21 11:38] J9rem opened #152 "BUG gestion des champs requis dans les formulaires"
- Pas de prise en compte des boutons radio
- pas de prise en compte des champs masqués

[2020-10-21 14:21] #124 closed, assigned to Lussye

[2020-10-21 14:23] J9rem commented on #138
Nickel

[2020-10-21 14:23] #138 closed, assigned to Lussye

[2020-10-21 14:33] #129 closed, assigned to Lussye

[2020-10-21 14:33] #139 closed, assigned to J9rem

[2020-10-21 14:35] Lussye commented on #118
-> #153 =)

[2020-10-21 14:48] Lussye commented on #118
À ce jour :
Paragraphe Propriétaire
"Responsable de la publication : Guillaume Rouyer, Président de l'association"
Paragraphe RGPD :
"Délégué à la Protection des Données : en cours de définition"

[2020-10-21 16:08] J9rem commented on #93
A prendre en compte pour la liste des compétences sur la page de recherche avancée
https://lescheminsdelatransition.org/plateforme/?LaCarte_RechercheAvancee
Proposer une liste sous-forme de menu déroulant par exemple

[2020-10-21 16:10] J9rem commented on #91
En revue pour la version 2 sur la page d'accueil
https://lescheminsdelatransition.org/plateforme/?AccueiL
sera considéré comme OK à partir du 29 octobre si pas d'objections d'ici là

[2020-10-21 17:37] J9rem opened #154 "Adapter le processus de création d'une page Lieux"
- [x] Une page Lieux ne devrait être créée que par un Lieu ou un modérateur
- [x] Une fois créée, la fiche doit être affichée
- [x] Un message évident doit montrer qu'il va y avoir modération.
- [x] un e-mail doit être envoyé à la création de la fiche.
- [ ] un e-mail doit être envoyé à l'affichage de la fiche sur la carte.

[2020-10-21 17:38] J9rem commented on #148
Et gérer aussi le passage automatique de ce champ à 1 pour les e-mails

[2020-10-21 17:40] J9rem opened #155 "mettre cliquer sur ce bandeau pour la carte dans les formulaires"
https://lescheminsdelatransition.org/plateforme/?AjouterLieux

la zone de positionnement du point n'est pas assez.
Mettre en labelhtml avant chaque zone de ce genre pour inviter à cliquer sur le bandeau

[2020-10-21 17:41] J9rem opened #156 "Pour la page Ecosystème, mettre un lien direct vers le site de la structure"
https://lescheminsdelatransition.org/plateforme/?EcosytemeCdlT

(demande à travailler un nouveau template bazar)

[2020-10-21 17:43] J9rem opened #157 "Page Recherche avancée, les menu de reherche devraient être repliés par défaut"
https://lescheminsdelatransition.org/plateforme/?LaCarte_RechercheAvancee

[2020-10-22 08:29] J9rem opened #158 "Pour une fiche Lieux, répertorier les compétences présentes associées à chaque parcours thématique"
Ceci permettra de faciliter la lecture des compétences pouvant être acquises avec un parcours thématique.
_Fonction non implémentée dans le V0.1 YesWiki_

[2020-10-22 18:15] Lussye commented on #126
Petite pause dans la technique -> exploration de pistes charte graphique, recherche sur les couleurs in progress et au tout début ^_^
vos idées, réflexions et retours sont cependant bienvenus !
@GuillaumeAV @Mathieu-CdlT
CDLT Pistes charte graphique | Brouillon 2020-10-22.pdf : (pas réussi à charger sur le drive de mon côté mais n'hésitez pas à transférer !!) https://cloud.lautrecotedumiroir.net/i

[2020-10-22 20:28] J9rem commented on #126
@Lussye fichier déposé sur le Drive : https://drive.google.com/file/d/1K4pOQEl1lutfVZkVacmFwPDrVbFBbsRC/view?usp=drive_open
Pas mal les premiers tests

[2020-10-22 21:09] J9rem commented on #157
résolu

[2020-10-22 21:09] #157 closed, assigned to J9rem

[2020-10-23 10:59] Mathieu-CdlT opened #159 "Page AccueiL Centrer les liens FB et le texte suivez-nous"
o	Suivez nous, partagez nous + FB  centrer ?
#175
`o	Créer Rubrique « témoignages » des voyageurs, lieux (format texte / vidéo) pour donner envie – ou c’est pas ds le CDC ?`
#167
`o	Carte : pas de possibilité de zoomer via pad souris ? `

[2020-10-23 11:00] Mathieu-CdlT opened #160 "Contact"
-	Nous contacter : formulaire de contact bien mais pas top car pas traité régulièrement. Indiquer adresse mail : bonjour@.....org mieux ?

[2020-10-23 11:01] Mathieu-CdlT opened #161 "Modifs Page qui sommes nous"
-	Qui sommes nous ?
o	Les parcours thématiques déjà couverts… on s’avance un peu là 😉 ?
o	Nous contacter, en savoir plus (…) – centrer ?

[2020-10-23 11:05] Mathieu-CdlT opened #162 "Améliorer la phrase de validation des conditions de saisie des formulaires Lieux (+ autres ?)"
o	Initiative accueillante – saisir une fiche fiche lieux
Validation politique confidentialité : lien manquant
Veuillez lire et valider la charte : ou est ce qu’on valide ladite charte ? est ce qu’en cochant « j’accepte les conditions de saisie » on valide (charte + politique de confidentialité) ?  pas clair pour moi
Qd on valide on arrive directement à la saisie d’une fiche lieu, mais qui s’engage

[2020-10-23 11:08] Mathieu-CdlT opened #163 "Modifs sur la Carte"
-	La Carte :
o	Recherche avancée :
Restauration / logement ? (intégrer la restauration et pas que le logement) /
Compétences proposées plutot que Compétences ?
Texte court (affichage)
Ajouter un lieu :  passage par login d’abord ?

[2020-10-23 11:11] Mathieu-CdlT opened #164 "Améliorer le processus de complétion du fiche Lieux"
o	Dernière partie :
CdlT fait réservations : module de réservation paiement ? on est prêt ?
CdlT s’occupe de l’accueil : comment ca marche 😉 ?

-------
[code]

[2020-10-23 11:39] J9rem commented on #160
En fait, le formulaire de contact envoie directement les e-mails sur l'adresse bonjour @, .......
je préférai la cacher grâce à ce formulaire plutôt que de laisser l'adresse accessible aux spammeurs

[2020-10-23 11:39] #160 closed, assigned to J9rem

[2020-10-23 11:48] J9rem opened #165 "Rendre plus claire l'étoile rouge dans les formmulaires"
L’étoile rouge, elle veut dire quoi ?
(ajouter un labelhtml dédié en début de chaque formulaire)

[2020-10-23 11:48] J9rem opened #166 "Remplacer Dénomination sociale --> Dénomination / raison sociale"
ds les docs admin on parle davantage de raison sociale que de dénomination sociale

[2020-10-23 11:49] J9rem opened #167 "Pouvoir zoomer sur la carte avec le pad souris en mode remplissage de formulaire"
Partout où il y a une carte dans une formulaire

[2020-10-23 11:51] J9rem opened #168 "Pouvoir ajouter manuellement un point sur la carte en saisie de formulaire"
et aussi en mode affichage de carte

[2020-10-23 11:51] J9rem commented on #164
@Mathieu-CdlT
peux-tu détailler ce que tu veux dire par
_CdlT fait réservations : module de réservation paiement ? on est prêt ?
CdlT s’occupe de l’accueil : comment ca marche wink ?_

[2020-10-23 11:53] J9rem opened #169 "Fiche sondage : mettre le choix du lieu avec de l'autocomplétion"
https://lescheminsdelatransition.org/plateforme/?Lieux_Sondage

et réparer l'affichage

[2020-10-23 11:54] J9rem opened #170 "Clarifier les conditions de saisie Sondage lieu"
Pour Mathieu : 	Enquête lieu :
J’accepte les conditions de saisie : pas clair pour Mathieu
https://lescheminsdelatransition.org/plateforme/?Lieux_Sondage

[2020-10-23 11:55] J9rem opened #171 "Améliorer quelques questions du sondage Lieux"
- [x] Auriez vous des acteurs / lieu (+ de transition) à nous recommander (dans votre réseau / près de chez vous) ?

- [x] Aimeriez vous devenir ambassadeur / référent. Explications ?

- [x] Aimeriez vous être référencés sur (+la plateforme) Transiscope (+slash) pres de chez nous ?

https://lescheminsdelatransition.org/plateforme/?Lieux_Sondage

[2020-10-23 11:58] J9rem commented on #164
A part la question précédente, tout est pris en compte dans des Issues dédiées

[2020-10-23 12:16] J9rem opened #172 "Fiche Lieux : bug affichage description courte"

[2020-10-23 12:16] J9rem commented on #163
Tout est pris en compte

[2020-10-23 12:16] #163 closed, assigned to J9rem

[2020-10-23 12:21] J9rem opened #173 "Fusionner pages Contributeurs et Moderateurs"
https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Contributeur
https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Mod%C3%A9rateur

et ajouter un texte explicatif Moderateurs/Contributeurs

[2020-10-23 12:23] J9rem opened #174 "Améliore l'affichage des boutons sur la page Chemineurs"
https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Chemineur

o Chemineur :
Connectez vous – Se connecter ou créez votre compte – mettre 2 boutons similaires + corriger espace entre « ou » et « créez votre compte »
en profiter pour ajouter `choisissez votre forme de voyage`
avant les 4 pavés

[2020-10-23 12:27] J9rem opened #175 "Créer Rubrique « témoignages » des voyageurs, lieux (format texte / vidéo) pour donner envie sur AccueiL"

[2020-10-23 12:29] J9rem opened #176 "Cacher les rubriques actus et voyages apprenants si pas d’actu ou de voyage apprenant ?"
sur https://lescheminsdelatransition.org/plateforme/?AccueiL

[2020-10-23 16:31] J9rem commented on #137
Fait

[2020-10-23 16:31] #137 closed, assigned to J9rem

[2020-10-23 17:09] J9rem commented on #143
Qu'en dis-tu @Lussye ?
https://lescheminsdelatransition.org/plateforme/?ParametresUtilisateur

[2020-10-23 17:49] J9rem commented on #174
Fait

[2020-10-23 17:49] #174 closed, assigned to J9rem

[2020-10-23 17:49] J9rem commented on #174
Pour info @Mathieu-CdlT c'est fait

[2020-10-23 18:00] Lussye commented on #143
J'en dis que t'as sacrément bossé !!
Sur la forme, je trouve l'infobulle nickel (juste un petit bug d'affichage, la balise "em" pas reconnue en html).
Sur le fond, je me demande si "formater en NomWiki (ex: CapitaineHaddock)" est assez explicite... Est-ce que "votre nom d'utilisateur (tout attaché) doit comporter au moins deux majuscules (ex: CapitaineHaddock, ou NomWiki)" ne serait pas plus parla

[2020-10-23 18:02] J9rem commented on #143
En fait j'ai repris le contenu de la variable `USERNAME_MUST_BE_WIKINAME` située dans le fichier suivant :
https://github.com/YesWiki/yeswiki/blob/development/lang/yeswiki_fr.php#L214

Nous pouvons faire des propositions d'amélioration (tant qu'elles sont courtes et traduites)

[2020-10-23 18:05] J9rem commented on #136
@GuillaumeAV C'est fait

[2020-10-23 18:08] Lussye commented on #143
Je crois que j'avais envisagé cette piste, mais loin d'être sûre de mon coup ^_^
Ce texte d'info-bulle n'apparaît pas aussi pour la connexion ? ça risque pas d'être confusant ?

[2020-10-23 18:13] J9rem commented on #155
Qu'en penses-tu @Lussye ?
assez parlant pour toi  ?

[2020-10-23 18:31] J9rem commented on #156
C'est résolu.
Qu'en dis-tu @MargauxSchulz ?

[2020-10-23 18:43] J9rem commented on #143
Pour la connexion, nous pourrions changer le texte et mettre
E-mail ou NomWiki (identifiant)
et pour la saisie
NomWiki (Identifiant)

si tu es d'accord, je regarde pour faire des propositions de fichiers de langue à l'équipe YesWiki.
Et si ça t'intéresse, tu peux m'aider à le faire

[2020-10-23 19:03] Lussye commented on #143
E-mail ou NomWiki (identifiant)
et pour la saisie
NomWiki (Identifiant)

Tu veux dire jouer sur deux variables différentes à l'inscription et à la connexion ? *je suis perdue*

Et si ça t'intéresse, tu peux m'aider à le faire

Avec plaisir, j'en profiterais bien pour faire une relecture complète du fichier lang, deux ou trois trucs m'ont sauté à la figure, mais là j'ai plus le courage de m'y colle

[2020-10-23 19:09] Lussye commented on #166
Où dis-tu ?

[2020-10-24 08:44] J9rem commented on #166
@Lussye https://lescheminsdelatransition.org/plateforme/?AjouterLieux
onglet 2
Tu fais la modification ?

[2020-10-24 08:53] J9rem commented on #169
Fait

[2020-10-24 08:53] #169 closed, assigned to J9rem

[2020-10-24 09:00] J9rem commented on #165
code ajouté
`labelhtml***<i><span class="symbole_obligatoire"></span> : champs requis</i>*** *** ***`
Fait

[2020-10-24 09:00] #165 closed, assigned to J9rem

[2020-10-24 09:02] J9rem commented on #87
En fait, je le vérifie régulièrement, donc je ferme l'issue

[2020-10-24 09:02] #87 closed, assigned to J9rem

[2020-10-26 15:59] Lussye commented on #144
Donc... _propositions avec Fontawesome_

- Agroforesterie : **"fas fa-tree"**

##### + Liste des thématiques (https://lescheminsdelatransition.org/plateforme/?Archive2020_ListeDesThematiques) :

- Agriculture (soutenable, locale, permaculture, viticulture, apiculture, micro-brasserie) : **"fas fa-seedling"** ; "fas fa-tractor"

- Énergie (production renouvelable, performance énergétique, autonomie

[2020-10-26 17:30] Lussye commented on #126
@ircocomat Pour ton retour aussi =) (mais je répète... exploration très très très basique et à ses débuts)

[2020-10-27 10:50] Lussye commented on #171
Concernant les explications ambassadeur / référent, aurait-on une définition claire (et courte) dispo qq part ?
-> https://lescheminsdelatransition.org/plateforme/?BazaR&vue=listes&action=modif_liste&idliste=ListeTypeDeContribution

[2020-10-27 11:23] Lussye commented on #150
Remplacé par [[Aide_ListeDesParcoursThematiques Liste des parcours thématiques]] par [[Aide_ParcoursThematiques Liste des parcours thématiques]] pour un intitulé qui me semblait plus clair.
+ infobulle et explication/lien vers cette page d'aide

En revanche, question sur les Thématiques : "Si aucune vous concerne  patientez jusqu'à l'apparition de la thématique manquante." mais c'est un "required"

[2020-10-28 10:27] Lussye opened #177 "Champs supplémentaires formulaire Lieux"
Depuis #96 UX : ajouter dans Formulaire lieu :

- [x] Capacité d’hébergement ;

- [x] Capacité de restauration ;

- [x] Accès transports en commun ;

- [x] Sans expérience requise ;

- [x] Visites ponctuelles ;

- [ ] Participation financière ou pas, don ou participation libre et consciente

[2020-10-28 10:37] J9rem commented on #177
@Lussye je préfère prendre la main sur cette issue pour faire le tri entre ce que nous pouvons ajouter et ce qu'il ne faut pas ajouter car ça n'est pas l'objectif de la version V0.1
et aussi pour tenir compte des remarques faites avant que tu arrives.
OK pour toi ?

[2020-10-28 10:38] J9rem commented on #62
N'est plus d'actualité

[2020-10-28 10:38] #62 closed, assigned to GuillaumeAV

[2020-10-28 10:42] Lussye commented on #177
Tout à fait d'accord. Je crois que c'est pour cette raison que j'ai du mal à avancer sur l'UX, trop de décisions sous-jacentes dont j'ignore l'historique ou même si elles ont été fixées.
À revoir ensemble la semaine prochaine si tu veux bien =)

[2020-10-28 14:18] J9rem commented on #177
en fait, il y a un maître-mot dans le formulaire Lieux : simplicité, et j'ai l'impression que tes propositions, selon leur façon d'être implémentée, peuvent nous éloigner de cette simplicité

[2020-10-28 15:14] #81 closed, assigned to J9rem

[2020-10-28 15:15] J9rem commented on #121
mettre je veux voyager

[2020-10-28 15:16] #122 closed, assigned to J9rem

[2020-10-28 15:19] J9rem commented on #131
renommer type d'apprentissage vers type de voyage
et mettre ajout compétences en dessous + cadre

[2020-10-28 15:23] J9rem opened #178 "réduire le nombre d'occurence de "Chemins de la Transition" sur la page d'accueil V0.1"

[2020-10-28 15:43] J9rem opened #179 "logo ecosystème carousel éviter la transition vers le bas"

[2020-10-28 15:59] #121 closed, assigned to J9rem

[2020-10-28 16:08] J9rem opened #180 "bug au rafraichissement de la page d'accueil 'checked' dans thématique"

[2020-10-30 09:03] GuillaumeAV commented on #144
Peut-être utiliser la librairie qu'utilise gogocarto ? Elle est pas mal je trouve :)

[2020-10-30 09:48] J9rem commented on #144
La librairie Gogocarto est sûrement très jolie mais j'ai envie de faire simple et
Fontawesome est déjà présente donc je ne souhaite pas que nous cherchions une nouvelle librairie pour le moment, ....

[2020-10-31 17:35] J9rem commented on #148
Résolu.
Peux-tu confirmer que c'est bon @Lussye ?

[2020-11-02 09:43] Lussye commented on #177
C'est justement le fond du problème que je rencontre ici à l'application de #96 sur l'UX : ce n'est pas ici une proposition que je fais, mais uniquement l'application en issue d'une remarque sur l'UX ressortant directement de #96 ; une des rares qui ne me semblait pas soumise à interprétation, et qui pose cependant problème. C'est pour cette raison que je me permets d'insister sur l'importance de

[2020-11-02 09:53] Lussye commented on #148
- pas de date préremplie pour la date de naissance, ok pour moi (possibilité d'enlever ce "toute la journée" ?)
- idem pour date d'adhésion (Rq : est-ce qu'ici indiquer la date d'aujourd'hui ne serait pas une incitation à adhérer dès aujourd'hui ? si une telle cette incitation est désirée et désirable ?)

[2020-11-02 09:55] J9rem commented on #148
En fait, si la date d'aujourd'hui est pré-remplie, elle va être enregistrée alors que la personne n'est pas adhérente...
Donc nous devons le laisser vide par défaut.

Merci pour le test @Lussye

[2020-11-02 09:55] #148 closed, assigned to J9rem, Lussye

[2020-11-02 10:17] Lussye commented on #161
<del>Création class .center</del>
+ transformation lien en bouton : {{button link="https://lescheminsdelatransition.org/..." text="Texte" class="no-space-after btn btn-link center"}}[[NomPage  ]]

[2020-11-02 10:59] Lussye commented on #159
Création d'une div entourant les boutons pour un flex: row + nowrap -> voir si possibilité de coder ça plus proprement ?
et application de la class .center et ajout d'un fit-content pour éviter que les boutons s'étalent sur toute la largeur...

[2020-11-02 11:09] J9rem commented on #159
@Lussye est-ce que tu préfères ceci ? https://lescheminsdelatransition.org/plateforme/?wiki=AccueiL%2Fdiff&fastdiff=on&a=2297&b=2291

code :
[code]

[2020-11-02 11:14] J9rem commented on #161
je n'aime pas trop la création de la classe center, il y a trop de risque de conflit de classe

[2020-11-02 11:15] Lussye commented on #159
Ça me semble plus propre en effet ! Merci !!

[2020-11-02 11:17] J9rem commented on #159
Est-ce qu'on peut supprimer les classes .fit et .center car j'ai vraiment l'impression que nous allons vers un risque de conflit avec des classes de YesWiki ?
sauf si on en a besoin ailleurs

[2020-11-02 11:17] Lussye commented on #161
Maintenant que je vois mieux comment appliquer {{col}} et {{grid}}, peut-être y a-t-il des pistes à explorer par là ?

[2020-11-02 11:18] J9rem commented on #161
J'ai fait la modif. dans ce sens

[2020-11-02 11:19] Lussye commented on #159
.fit et .center supprimées

[2020-11-02 11:25] Lussye commented on #178
1. "Bienvenue sur les Chemins de la Transition, la première plateforme d'apprentissages itinérants." -> "Bienvenue sur la première plateforme d'apprentissages itinérants"

2. je modifierais bien le bandeau gris "Les Chemins de la Transition vous proposent d’apprendre en voyageant comme le font les compagnons depuis des siècles !" -> "pour apprendre en voyageant comme le font les compagnons depuis

[2020-11-02 11:38] J9rem commented on #178
Je m'en charge pour celle-ci (car j'ai échangé avec Guillaume sur le sujet)

[2020-11-02 11:41] Lussye commented on #162
@J9rem je propose de faire une modif dans ce sens :

Préalablement à la création ou la modification d'une fiche, nous vous demandons de prendre connaissance de la Charte et de la politique de confidentialité. Accepter les conditions de saisie vaut acceptation de ces deux éléments. Merci.
"En savoir plus..."
checkbox J'accepte...

[2020-11-02 14:47] Mathieu-CdlT opened #181 "Fiche descriptive Lieu"
Fiche descriptive des lieux (trop longue et informations non essentielles) :

Pour moi, l'affichage de la fiche lieu doit mettre en avant les informations qui intéressent le visiteur, sa recherche dans une optique ""Commerciale"". Pas les informations qui nous intéressent en interne. Objectif, donner envie aux chemineurs de rentrer dans la danse.

-	Adresse : possibilité de mettre Adresse, CP, Vil

[2020-11-02 15:39] ircocomat opened #182 "Rubrique "Recherche avancée""
- Pouvoir scroller sur les régions concernées pour sélectionner des initiatives accueillantes par région et départements voisins/limitrophes

- Créer une recherche par filtre/fonctionnalité par région  exemple Occitanie .

- Idéalement lire sur la carte une segmentation des départements et région en plaçant le curseurs sur les zones concernées .

[2020-11-02 15:57] Lussye opened #183 "Problème d'affichage en passant de la page "S'inscrire" à "Se connecter""
Bascule impossible chez moi en utilisant le lien "Se connecter" disponible sur la page "S'inscrire".
"Se connecter" dans la barre de menu reste cependant accessible.

[2020-11-03 11:06] #118 closed, assigned to Lussye

[2020-11-03 11:11] #91 closed, assigned to MargauxSchulz

[2020-11-03 11:21] #155 closed, assigned to J9rem

[2020-11-03 11:26] #166 closed, assigned to Lussye

[2020-11-03 11:33] J9rem commented on #144
@Lussye peux-tu essayer de mettre les icones en
```<i class="fa fa-"></i>``` dans le titre

[2020-11-03 11:35] J9rem commented on #171
pas d'explication + référent -> référent local

[2020-11-03 11:36] #159 closed, assigned to Lussye

[2020-11-03 11:39] J9rem commented on #161
@Lussye retirer parcours thematique LowTech
créer deux entrées Thème Exemple 1 et Thème Exemple 2

[2020-11-03 12:31] Lussye opened #184 "Créer un template pour lister les chemineurs -18 ans"
Page à retrouver dans la partie "backoffice" pour les modérateurs

[2020-11-03 13:15] Lussye opened #185 "Révision de tous les formulaires pour ACLS champs"
Revoir tous les formulaires en vérifiant :
- pas d'envoi automatique de mail
- champs date cohérents
- afficher / pas afficher dans l'optique RGPD
- +Acls du formulaire : % moderateur proprietaire en écriture + en lecture pour Chemineurs et Contributeurs

[2020-11-04 10:12] Lussye opened #186 "Changer l'image d'accueil + disposition grid avec le paragraphe d'accroche"
image extraite du fichier Présentation CDLT ANCT V4.pdf

[2020-11-04 10:16] Lussye commented on #186
@J9rem qu'en penses-tu ?
J'aurais aimé centrer verticalement le paragraphe, mais ne vois pas comment faire, si tu as une piste.
panneau_CDLT.png a été déposé : https://drive.google.com/drive/folders/1ZD7lKEsvUJpY2VUJckTkRq7ARCnuPexF

[2020-11-04 10:30] Lussye commented on #161
Entrées créées dans les fiches Parcours thématiques ;
Texte modifié en dur sur la page https://lescheminsdelatransition.org/plateforme/?Aide_ParcoursThematiques
en attendant développement d'un template permettant d'automatiser l'affichage ?

[2020-11-04 11:44] Lussye commented on #185
Formulaire Demande appropriation mis de côté : formulaire de contact ?

Pas d'ACLS général au formulaire pour Enquête Lieu ?

Lieux : champs peuvent être saisis par : "Membre du groupe Lieux"

[2020-11-04 11:53] Lussye opened #187 "Formulaires Chemineur et Lieux : créer un cadre autour des champs relatifs aux compétences..."
... pour en améliorer lisibilité et compréhension,
Placer la phrase d'ajout d'une compétence en-dessous des compétences déjà existantes.

[2020-11-04 12:18] Lussye commented on #187
Le formulaire Chemineurs contenait un champs "Thématiques supplémentaires - sous-domaines et compétences"
- j'y ai ajouté un cadre d'explication,
- j'ai aussi ajouté le cadre des thématiques comme pour les Lieux (bien entendu adapté quant au texte) : est-ce pertinent ou mieux vaut-il enlever ce qui concerne les thématiques ?

[2020-11-04 12:21] Lussye opened #188 "Formulaire Lieux : aide Dénomination / Raison sociale"
Remplacer le lien d'aide vers un site externe marchand par un texte d'aide en interne en modalbox, que l'on peut retrouver dans la FAQ

[2020-11-04 14:18] Lussye commented on #144
A-t-on une description définie à utiliser concernant l'agroforesterie ? (le besoin en picto concerne directement cette thématique, mais elle n'est pas encore renseignée, et je l'ai ajoutée, mais sans description)

[2020-11-04 14:18] Lussye commented on #144
Résultat visible sur : https://lescheminsdelatransition.org/plateforme/?BazaR&vue=consulter&action=recherche&id=6

[2020-11-04 14:55] Lussye commented on #188
Fait.
À noter cependant que l'ancre  [[Aide_DenominationRaisonSociale ]] ne fonctionne pas dans le formulaire

[2020-11-04 15:01] Lussye commented on #186
@Mathieu-CdlT j'ai déposé le png du panneau inséré sur la page d'accueil de la plateforme ici : https://drive.google.com/drive/folders/1ZD7lKEsvUJpY2VUJckTkRq7ARCnuPexF ,
est-ce le bon endroit ?

[2020-11-06 12:26] Mathieu-CdlT opened #189 "Travail Budget plateforme SemApps CdlT"
Actualiser le budget prévisionnel de SemApps CdlT

- Budget total et fonctionnalités
- Calendrier de développement (MVP - V1 - V2)
- Financements

https://docs.google.com/spreadsheets/d/126ZQasbsG1xJm1RL9llbHWPjagfYWbPLKNGVhQFHtvk/edit?usp=drive_web&ouid=101719736006433887263

[2020-11-07 07:46] bouviermullerp commented on #189
Salut @Mathieu-CdlT , j'ai pas mal avancé sur le budget.
- J'ai taillé dans le gras pour avoir des lignes proches de la réalité.
- Je me suis focalisé sur le budget TOTAL (faisant fi de la ventilation par année, MVP, V1, V2)
- 350 euros J/H c'est vraiment, vraiment pas cher. Je pense que si on veut coller à la réalité, il faut augmenter à 400 minima
- Pour être vraiment dans le juste, je devrais f

[2020-11-09 15:01] MargauxSchulz opened #190 "Ajouter un titre sur la page d'acceuil"
Je trouverai la lisibilité plus simple si un simple titre "La carte" (avec la meme typo que les titres "actualité des lieux" par exemple) annonçait le début de la carte (en dessous des boutons verts des types de parcours).

[2020-11-09 15:03] MargauxSchulz opened #191 "Page d'accueil : modifier les boutons types de parcours"
Je pense que l'interface serait plus simple d'utilisation si les boutons types de parcours n'étaient pas en lien avec la carte et que cliquer dessus revoyait directement à la page affichée sur "détails"

[2020-11-09 15:04] MargauxSchulz commented on #191
en lien avec l'issue #190

[2020-11-09 15:07] MargauxSchulz opened #192 "Page d'accueil : enlever la fonctionnalité "bouton" sur l'image des panneaux"
J'ai été perturbée par le fait que l'on puisse cliquer sur l'image des panneaux et que cela renvoie sur la même page, je pense donc qu'il n'est pas nécessaire que l'on puisse cliquer sur ce dessin.

[2020-11-09 15:08] MargauxSchulz opened #193 "Types de parcours : enlever les parenthèses"
L'italique suffit pour la durée des parcours, les parenthèses ne sont pas nécessaires.

[2020-11-09 15:09] MargauxSchulz commented on #193
(quand on clique sur "détails" sur les bulles vertes des types de parcours de la page d'accueil)

[2020-11-09 15:11] MargauxSchulz opened #194 "Changer ordre menu qui sommes-nous"
En tant qu'utilisateurs, nous sommes utilisés à trouver les "contacts" en dernière partie des menus déroulant, je pense donc qu'il pourrait être préférable d'inverser l'ordre entre la charte et les contacts.

[2020-11-09 15:27] MargauxSchulz opened #195 "Changer qql contenus de la fiche chemineur"
- [x]   supprimer la mention de l’heure pour la date de naissance, pareil pr la date d’adhésion.

- [x] préciser que la donnée du nom de famille ne sera pas visible (comme déjà fait pr le mail) / Voire supprimer la catégorie "nom de famille" (?)

- [x] remplacer la catégorie "jeune/en étude" par "en étude" (comme on peut etre pas jeune et en étude, ou jeune et en reconversion).

- [x] mettre la me

[2020-11-09 15:30] MargauxSchulz opened #196 "Modifier 4 boutons "types de parcours""
Généraliser le saut à la ligne entre le nom du parcours et sa description ou le supprimer partout.

[2020-11-09 15:32] MargauxSchulz opened #197 "Recherche avancée la carte : ajouter un menu déroulant "capacité d'accueil""
Pour les chemineurs souhaitant partir en famille ou entre amis.

[2020-11-10 07:47] J9rem commented on #186
Je comprends ton envie. C'est faisable mais pas si simple. Je me dis que pour la V0.1 ça n'est pas grave si le texte n'est pas centré verticalement. Donc je clos l'issue.
Très bien pour le reste. Merci

[2020-11-10 07:47] #186 closed, assigned to Lussye

[2020-11-10 07:49] J9rem commented on #161
OK

[2020-11-10 07:49] #161 closed, assigned to Lussye

[2020-11-10 07:58] J9rem commented on #185
J'ai fait la modification dans ce sens. Suppression du formulaire et lien vers le formulaire de contact

je viens d'ajouter le bloc acls

exact, j'ai retiré le groupe moderateurs, qui est déjà inclus dans le groupe lieux sur la page
https://lescheminsdelatransition.org/plateforme/?AjouterLieux

[2020-11-10 07:58] #185 closed, assigned to Lussye

[2020-11-10 07:59] J9rem commented on #187
Tout est bon comme ça . Parfait

[2020-11-10 07:59] #187 closed, assigned to Lussye

[2020-11-10 07:59] J9rem commented on #188
oui, dans un formulaire, il faut entrer le code html à la main

[2020-11-10 08:00] J9rem commented on #188
Parfait ta modification :+1:

[2020-11-10 08:00] #188 closed, assigned to Lussye

[2020-11-10 08:04] J9rem commented on #144
Bon c'est OK pour la création de cette thématique agroforesterie.
Très bon choix des icônes.
On oublie pour la description pour le moment car c'est facultatif.

[2020-11-10 08:04] #144 closed, assigned to Lussye

[2020-11-10 08:08] J9rem commented on #190
Alors, ce que tu proposes serait de revenir en arrière.
Il y a avait avant "les lieux" (cf. [ce lien d'archive](https://lescheminsdelatransition.org/plateforme/?AccueiL/show&time=2020-10-06+15%3A48%3A49&facette=checkboxListeTypeDAccueiltype_accueil=Ecotourisme,VoyageApprenant,WoofingChantiers,Compagnonnage|checkboxfiche10=LowtechLabFabLabRecyclerie))

Mais @GuillaumeAV a proposé de rajouter une in

[2020-11-10 08:08] #190 closed, assigned to J9rem

[2020-11-10 08:11] J9rem commented on #191
Ce que tu proposes revient à revenir en arrière.
L'idée de @GuillaumeAV qui semble aussi validée par @Mathieu-CdlT est que ces boutons permettent de choisir les thématiques directement sur la carte.

Nous pouvons tous avoir des points de vue différents à l'usage du site.

Donc, je garde bien ton point de vue ici pour le ressortir et appuyer une éventuelle décision de retirer la fonctionnalité.
Tou

[2020-11-10 08:11] #191 closed, assigned to J9rem

[2020-11-10 08:15] J9rem commented on #192
C'est corrigé en remplaçant
`{{attach file="CDLT_panneau.png" desc="image CDLT_panneau.png (0.1MB)" width="400" class="left"  link="?AccueiL"}}`
par
`{{attach file="CDLT_panneau.png" desc="image CDLT_panneau.png (0.1MB)" width="400" class="left"  nofullimagelink="1"}}`

_Commentaire pour @Lussye_

[2020-11-10 08:15] #192 closed, assigned to J9rem

[2020-11-10 08:18] J9rem commented on #193
Fait:
- https://lescheminsdelatransition.org/plateforme/?LaCarte_Ecotourisme
- https://lescheminsdelatransition.org/plateforme/?LaCarte_VoyageApprenant
- https://lescheminsdelatransition.org/plateforme/?LaCarte_Woofing
- https://lescheminsdelatransition.org/plateforme/?LaCarte_Compagnonnage

[2020-11-10 08:18] #193 closed, assigned to J9rem

[2020-11-10 08:19] J9rem commented on #194
fait:
- https://lescheminsdelatransition.org/plateforme/?PageMenuHaut

[2020-11-10 08:19] #194 closed, assigned to J9rem

[2020-11-10 08:29] J9rem commented on #195
Pour répondre à :

sur la page https://lescheminsdelatransition.org/plateforme/?AjouterUneFiche_Chemineur

ajout de
`labelhtml***<script>document.querySelector('select.form-control.select-allday[name=date_naissance_allday]').style.display = "none" ;</script>*** *** ***`
et
`labelhtml***<script>document.querySelector('select.form-control.select-allday[name=bf_date_adhesion_allday]').style.display =

[2020-11-10 08:30] J9rem commented on #195
non configurable, désolé, mais j'approuve ta remarque

[2020-11-10 08:31] J9rem commented on #195
Pourquoi ? en effet, nous n'avons pas mis de modération de la liste des compétences.
Nos devons accepter que des personnes aient entré ce genre de compétence.

Bon, j'ai retiré pour cette fois mais il faudrait travailler la modération des compétences

[2020-11-10 08:31] J9rem commented on #195
@Lussye je te laisse faire les autres points

[2020-11-10 08:36] J9rem commented on #196
En fait, pour répondre à la demande de @GuillaumeAV , j'ai fait des boutons qui ont presque tout le temps la même hauteur.
J'ai fait le choix que le texte commence toujours au même endroit pour avoir un alignement.
Tu proposes @MargauxSchulz que le texte puisse commencer plus haut, ... je ne trouve pas ceci joli mais je peux le faire.

[2020-11-10 08:37] J9rem commented on #197
Euh oui effectivement, il manque des choses aussi dans le formulaire.

[2020-11-12 15:42] Lussye commented on #162
Formulaires Lieux et Chemineur modifiés selon proposition ci-dessus.
et aussi :
- Agenda des Voyages Apprenants
- Formulaire Actualité d'un lieu :
"Préalablement à la création ou la modification d'une actualité, nous vous demandons de prendre connaissance de la Charte et de la politique de confidentialité. Accepter les conditions de saisie vaut acceptation de ces deux éléments. Merci."

[2020-11-12 16:06] Lussye commented on #195
@J9rem Ajout d'une condition de nombre maximal de caractères (test avec 900 et 600) sur les 3 questions ouvertes de Mes envies. Ne semble pas être pris en compte. Testé en mode html non interprété et en mode wysiwyg.

[2020-11-12 16:23] Lussye commented on #170
idem #162 :
"Préalablement à la création ou la modification d'une fiche, nous vous demandons de prendre connaissance <del>de charte et</del> de la politique de confidentialité. Accepter les conditions de saisie vaut acceptation de <del>ces deux éléments</del> celle-ci. Merci."

Ai modifié en conséquence le formulaire Contributeur qui se présentait de la même façon.

[2020-11-12 16:27] Lussye commented on #127
champ "Nom auto" {{bf_prenom}} {{bf_nom}} transformé en "Nom auto" {{bf_prenom}} de {{bf_ville}}

A-t-on autre chose à faire sur cette issue ?

[2020-11-13 17:16] Lussye commented on #173
Tout rapatrié sur ?CommentCaMarche_Contributeur avec le texte suivant, **qui sera sans doute à revoir** :

@J9rem je te laisse vérifier avant de supprimer la page _Mod%C3%A9rateur

[2020-11-13 17:32] Lussye commented on #176
@J9rem Avant d'éventuellement m'assigner cette issue, j'ai fait des recherches dans la doc YesWiki, mais rien trouvé concernant l'affichage conditionnel... une piste ?

[2020-11-13 18:00] J9rem commented on #189
Salut @Mathieu-CdlT et @bouviermullerp
je suis en train de relire le budget SemApps.
Beau travail.

Je ne suis pas un habitué de ces calculs de budget. Donc @bouviermullerp je te serai reconnaissant de rebondir sur mes propos pour les corriger.
Pour moi, il manque clairement les temps de réunions : environ 2h par semaines, si on compte 3 personnes pendant 1 an, ça donne :
3 x 2 x 52 = 312 H  = 39

[2020-11-14 18:07] J9rem commented on #171
Nickel @Lussye merci !

[2020-11-14 18:07] #171 closed, assigned to Lussye

[2020-11-14 18:15] J9rem commented on #150
Le plus simple dans ce cas est que le lieu mette les autres thématiques dans le champ tag.
Le message d'aide l'indique déjà.
Je considère que tout est bon.
J'ai enlevé le champ requis pour éviter de bloquer la création de fiche mais il faudra bien que les modérateurs n'affichent pas de lieux sans thématiques...
Formation à prévoir

[2020-11-14 18:15] #150 closed, assigned to Lussye

[2020-11-14 18:15] J9rem commented on #150
Pour le reste des prises de contacts des lieux, j'attends la clarification du processus par le cercle parcours pour savoir comment nous sommes conformes.

[2020-11-14 18:21] J9rem commented on #195
a priori il n'est pas possible de configurer un nombre maximum de caractères pour les champs à plusieurs lignes.
On peut juste choisir la largeur maximale de la zone.

Donc je considère qu'on ne peut pas aller plus en sachant que ça n'est pas bloquant.

@Lussye merci pour le test ;-)

[2020-11-14 18:21] #195 closed, assigned to Lussye

[2020-11-14 18:24] J9rem commented on #173
Parfait @Lussye très efficace.
J'ai supprimé l'ancienne page.

[2020-11-14 18:24] #173 closed, assigned to Lussye

[2020-11-14 18:41] J9rem commented on #127
- J'ai retiré une balise <br> qui était revenu pour le label du champ mail.
 - j'ai remis le window.resize pour que ça s'active pour l'onglet 1 ça sert à ce que la carte s'affiche correctement
 - @Lussye je me demande si c'est pertinent de mettre l'éditeur wysiwig.
Qu'en penses-tu ?
Le texte sans mise en forme me semble suffisant

[2020-11-14 18:44] J9rem commented on #178
Vu nos derniers échanges, je trouve que c'est bon maintenant.
Es-tu d'accord @Lussye ?

[2020-11-14 18:46] J9rem commented on #30
N'est plus applicable.
C'est une issue concernant gogocarto en fait.

[2020-11-14 18:46] #30 closed, assigned to GuillaumeAV

[2020-11-14 18:48] J9rem commented on #25
@ircocomat , il me semble que tu te charges en ce moment de recueillir le processus de modération au sein du cercle parcours.
Je t'affecte cette issue que tu pourras lier à la PR quand tu auras rédigé tes notes.
Merci

[2020-11-14 18:49] J9rem commented on #50
Cette issue est en fait un peu flou.
Elle est déjà prise en compte par #25

[2020-11-14 18:49] #50 closed, assigned to nobody

[2020-11-14 18:50] J9rem commented on #34
C'est fait pour la version YesWiki !

[2020-11-14 18:50] #34 closed, assigned to nobody

[2020-11-14 18:52] J9rem commented on #140
Après réflexion, les travaux UX de Rachel sont une base de travail issue d'une concertation de plusieurs mois.
Ne revenons pas dessus sauf pour les questions de blocage techniques ou pour s'adapter à un changement effectif de la gestion des Lieux.

[2020-11-14 18:52] #140 closed, assigned to nobody

[2020-11-14 18:56] J9rem commented on #175
Rubrique en home page: “Ils y sont allés, ils nous en parlent”.
@Lussye peux-tu créer cette page dédiées avec un lien dans le menu haut ?
et aussi un lien sur le contenu de la page d'accueil, soit juste avant, ou juste après la carte.
Qu'en dis-tu ?
Je te laisse carte blanche sur le contenu et le choix des emplacements.
Je veux bien être sollicité à la fin pour vérifier le côte technique et t'aide

[2020-11-14 19:11] J9rem opened #198 "Mettre en place un système d'envoi d'e-mail dans le form-item champ_mail"
Ajouter une fonctionnalité de copie e-mail dans le php du serveur

[2020-11-14 19:12] J9rem opened #199 "Mettre en place une copie des e-mails envoyés par la plateforme"
Intention : pouvoir suivre l'utilisation de la palteforme par les usagers

- [ ] en lien avec le cercle Communication : créer une adresse e-mail dédiée
- [ ] déterminer en lien avec le cercle Communication ou parcours qui est le référent de cette adresse e-mail
- [ ] vérifier la mise en place de l'issue #198

[2020-11-14 19:12] J9rem commented on #199
@Lussye je t'ai affectée cette issue. Toutefois, si elle ne te motive pas ou que tu ne te sens pas à la hauteur. Fais le moi savoir pour voir qui d'entre nous la fera.

[2020-11-14 19:13] J9rem commented on #181
@Lussye je crois que tu as bien fait attention à ce que juste les champs nécessaires s'affichent pour les fiches chemineurs et lieux.
Peux-tu me le confirmer ?
(a priori pour moi c'est bon mais je n'ai pas fait de tests poussés, je te fais confiance. Je les ferai si tu me demandes explicitement de le tester)

Pour le reste, c'est de la mise en forme que je ne trouve pas prioritaire pour la V0.1.
J

[2020-11-15 07:25] J9rem commented on #136
Bon, j'ai enlevé cette fonctionnalité d'avoir les cases déjà cochées car ce que j'avais fait ajoute des bugs et complexifie l'adresse contenue dans la barre d'adresse.

[2020-11-15 08:00] J9rem commented on #176
En fait, l'affichage se fait dans tous les cas puis un code javascript peut supprimer l'élément si rien n'est affiché.
C'est la version la plus simple (même si ça n'est pas la plus propre).
J'ai implémenté la fonctionnalité avec ce code sur la page d'accueil :
[code]
@Lussye

[2020-11-15 08:00] #176 closed, assigned to nobody

[2020-11-15 08:06] J9rem commented on #180
J'ai tout simplement retiré la fonctionnalité nouvelle de #136 , le bug a disparu

[2020-11-15 08:06] #180 closed, assigned to J9rem

[2020-11-15 18:23] J9rem commented on #135
Bon a priori, il n'y a plus de problème d'affichage des champs en lecture ou écriture.

Pour le test 1 cf #146.
Est-ce que tu confirmes @Lussye sur c'est bon ?

[2020-11-15 18:26] J9rem commented on #146
@Lussye je viens d'implémenter un correctif php (qui sera propager à la prochaine mise à jour aussi dans YesWiki) pour les acls soient effectivement prises en compte.
Peux-tu vérifier ?
- création d'une fiche lieu : vérifier que les droits d'accès sont bien configurés à `% @Moderateurs` pour la lecture et l'écriture
- vérifier que la fiche n'est pas accessible aux personnes connectées ou au person

[2020-11-16 08:10] bouviermullerp commented on #189
@J9rem merci d'avoir pris le temps de lire et de partager tes commentaires.
Il y a 1001 et façons de rédiger un budget (de manière général, mais aussi pour les logiciels), cela dépend un peu de l'émetteur, beaucoup du récepteur (par exemple, beaucoup de récepteurs type ADEME ne financeront pas forcément du fonctionnement, et les postes que tu désignes en sont).
Le budget proposé ici est orienté "f

[2020-11-16 08:41] J9rem commented on #189
super @bouviermullerp pour tes remarques précieuses.

Je suis d'accord avec toi. Merci pour les clarifications.

Alors effectivement en partant sur le tarif 350 € /jour, il va être difficile de trouver des développeurs si ce tarif comprend tout.
400 € serait plus réaliste à mon avis.

Et dans ce cas, je trouve que la case Facilitation est sous estimée avec 30 jours/an
40 jours / an me semble aussi

[2020-11-16 08:43] J9rem commented on #189
L'idée est de ne pas prendre de risque sur le projet en sous-estimant les dépenses que nous pouvons déjà anticiper.
Je ne cherche pas à grossir les tarifs dans le but de faire monter les prix, juste de réduire les risques de non réussite.

[2020-11-16 09:00] bouviermullerp commented on #189
@J9rem Petit apparté : l'expérience montre que c'est vraiment très très compliqué de faire un budget viable pour du développement de plateforme, en particulier dans les conditions semapps (mutualisation, R&D). De plus en plus d'entreprises utilisent des contrats "Agile" qui sont plus orienté obligation de moyen, qu'obligation de résultat.
Tout ça pour dire que je suis bien d'accord pour tout faire

[2020-11-17 12:00] Lussye opened #200 "Préparer l'onglet dédié du fichier CSV Lieux pour les imports"
mémo :
depuis https://docs.google.com/spreadsheets/d/1peIgrPsgxA3p33vtoA8HSOB96WH2hKNdcAM-FsNGFKM/edit#gid=286846562
penser au remplacement des virgules par tirets
télécharger csv local puis import,
vérifier les infos affichées sur fiche/raw
compléter les formules
doc : https://yeswiki.net/?BazarImportExport ; https://github.com/YesWiki/yeswiki/pull/539

[2020-11-17 12:10] Lussye opened #201 "Préparer doc pour automatisation svgde sécurisée par ssh"
https://github.com/chemins-de-la-transition/plateforme/wiki/Notes-sur-l%27archivage-automatique-de-la-plateforme

cf. site Wordpress
cf. doc Filezilla ?

[2020-11-17 12:12] Lussye commented on #175
notes :  https://lescheminsdelatransition.org/plateforme/?Blog_avecUne

Formulaire Id = 3

[2020-11-17 12:17] J9rem commented on #201
J'ai ajouté des liens pour t'aider https://github.com/chemins-de-la-transition/plateforme/wiki/Notes-sur-l'archivage-automatique-de-la-plateforme

[2020-11-17 12:19] J9rem commented on #175
Pense peut-être à sécuriser les accès à la page tant que ça ne sont que des tests.

[2020-11-18 14:12] Lussye opened #202 "Largeur de champs non prise en compte dans les champs texte longs"
cf. exemple formulaire Chemineurs

[2020-11-18 14:13] Lussye commented on #127
Suite à nos échanges, remis le champ en html non interprété, reste la question de largeur du champs -> #202

[2020-11-18 14:14] Lussye commented on #127
@J9rem je te laisse clore l'issue si ok pour toi

[2020-11-18 14:15] #178 closed, assigned to Lussye

[2020-11-18 14:42] J9rem commented on #202
C'est plus un ajout d'une nouvelle fonctionnalité qu'un bug car le chap textelong n'est pas conçu pour limiter la longueur d'un champ

[2020-11-18 14:43] #127 closed, assigned to J9rem, Lussye

[2020-11-18 14:50] Lussye commented on #146
@J9rem
- les droits d'accès sont configurés à % @Moderateurs pour l'édition (modif), mais pas pour la lecture : Tout le monde. Les droits d'accès sont ensuite gérés par champ, selon la sensibilité des données qu'ils contiennent, alors soit "Tout le monde", soit "Membres du groupe moderateurs, propriétaires et admins" % @Moderateurs ; me semble ok

- concernant le champ "Fiche suivie en interne par

[2020-11-18 15:00] Lussye commented on #172
@J9rem
Signalement complémentaire : en faisant des tests par ailleurs, je m'aperçois qu'il s'agit plus largement de l'affichage des champs textes longs (cf. fiche Lieux "NouveauLieu" https://lescheminsdelatransition.org/plateforme/?NouveauLieu , Chemineur "Az ERty" https://lescheminsdelatransition.org/plateforme/?AzErty

[2020-11-18 15:00] Lussye commented on #135
A priori on est bon

[2020-11-18 15:00] #135 closed, assigned to Lussye

[2020-11-18 15:16] J9rem commented on #146
Effectivement, une erreur de clic, je voulais mettre `@moderateurs`

[2020-11-18 15:16] #146 closed, assigned to J9rem

[2020-11-18 16:26] Lussye commented on #177
@JereM69

Repris l'issue suite à nos échanges.
- revoir visites ponctuelles : Acceptez-vous ou organisez-vous des visites ponctuelles ? -> à préciser
- où en est-on avec la question de la participation financière ? (stand by création champs associé)

Affichage moche (encore ces petits soucis d'alignement et chevauchement des titres de champs)

[2020-11-18 16:27] J9rem commented on #177
pense à vérifier qu'il n'y ait pas `<br>` dans le mode code pour l'édition de formulaire

[2020-11-18 16:52] Lussye commented on #177
bien vu ;) modifié

[2020-11-18 17:50] Lussye commented on #175
mémo perso : intégration en cours sur l'accueil
 + https://lescheminsdelatransition.org/plateforme/?Blog_Temoignages
adaptation avec un form #4 ?

[2020-11-19 12:06] J9rem commented on #172
C'est corrigé par ce [commit](https://github.com/chemins-de-la-transition/plateforme/commit/d26f2512f6bf1d85251fd54a49729abe7dca8dad)

@Lussye est-ce que tu confirmes que tout est bon (SI OK tu peux clore l'issue) ?

[2020-11-19 12:09] J9rem commented on #175
Juste pour un souci de lecture, je trouve que ça aurait plus ça place sur un nouveau menu dans la barre de navigation en haut de la plage.
Car ça surcharge la plage d'accueil.
Toutefois, si c'est proposé par les travaux UX de Rachel c'est nickel.
Est-ce qu'on peut le déplacer en dessous des listes de prochains parcours ?

Est-ce que tu veux que j'ajoute un affichage conditionnel si la rubrique est

[2020-11-19 12:10] J9rem commented on #175
Sinon ça semble prendre forme :+1:

[2020-11-19 13:02] J9rem commented on #177
Bon pour moi, tout est nickel, on laisse de côté la question sur` la participation financière `jusqu'à ça s'éclaircisse.

Pour info. j'ai fait un commit sur le code pour le formulaire Lieux.
Tu verras que j'ai déplacé du code javascript depuis le formulaire vers la pageTite pour éviter les bugs de disparition régulière des virgules dans le code

https://github.com/chemins-de-la-transition/platefor

[2020-11-19 13:02] #177 closed, assigned to J9rem

[2020-11-20 08:31] Lussye commented on #172
C'est nickel !! =D

[2020-11-20 08:31] #172 closed, assigned to Lussye

[2020-11-20 08:44] Lussye commented on #175
C'est en effet une demande de l'UX :
"Rubrique en home page: “Ils y sont allés, ils nous en parlent”. Site de Nomade aventure
Coups de Coeur (???)"

En effet, mettre deux ou trois articles en home page me paraît important pour attirer l'attention et faire envie, dans la mesure où une personne qui visitera pour la première fois le site n'épluchera probablement pas le menu sans y être invitée. Ça pe

[2020-11-20 08:55] J9rem commented on #175
OK, je trouve ta remarque pertinente sur la position avant la liste des parcours.
Je m'occupe d'ajouter l'affichage conditionnel.

[2020-11-20 11:47] ircocomat opened #203 "Page d'accueil retirer le doublon > "LA PLATEFORME LES CHEMINS DE LA TRANSITION" et mettre directement le message de Bienvenue ."
Page d'accueil retirer le doublon > "LA PLATEFORME LES CHEMINS DE LA TRANSITION" et mettre directement le message de Bienvenue .

[2020-11-20 11:50] ircocomat opened #204 "Dans "Je veux voyager""
- [x] Remplacer  "créer fiche chemineur” --> “créer une fiche voyageur”

- [x] Dans créer fiche "chemineur" onglet "MES ENVIES" remplacer par <del>"SE PRESENTER" </del>? par "Faire connaissance"

- [x] Dans créer fiche "chemineur" onglet "MES ENVIES" dans rubrique "je suis..." : <del>Ajouter des majuscules +</del>  permettre de se décrire en manuscrit/rédaction

- [x] Dans créer fiche "chemineur"

[2020-11-20 11:52] J9rem commented on #203
salut @ircocomat je clos cette issue car elle fait directement référence à #178 qui a déjà été traité par moi et @Lussye et nous sommes convaincu qu'il faille garder le nombre d’occurrences qu'il reste.
Si jamais tu souhaites ré-ouvrir la discussion, je t'invite à plutôt ajouter tes commentaires dans#178

[2020-11-20 11:52] #203 closed, assigned to JereM69, Lussye

[2020-11-20 11:53] ircocomat opened #205 "Dans INITITIATIVE ACCEUILLANTE"
Saisir fiche lieux>Présentation

- Courte description >Présentation>Courte description du lieu- ajouter- mots clés possible
- Dans la partie modération je ne comprends pas les caches à cocher …? Peu compréhensible . (Toujours pas d'infos pertinent concernant la modération du point de vue cercle parcours)
- Type d’accueil-d’hebergement : Ajouter ”Capacité d'accueil”

[2020-11-20 11:54] J9rem commented on #204
Bien vu, merci @ircocomat , @Lussye as-tu envie de faire ces modifications ? (je te laisse en assignee)

[2020-11-20 11:59] ircocomat opened #206 "Dans informartions utiles “chemineur” et “initiative acceuillante""
Fautes d’orthographes

Accepteriez-vous que l’on **voie** combien de chemineuses et chemineurs ont visité votre lieu ? (fréquentation)

corriger par

Accepteriez-vous que l’on **voit** combien de chemineuses et chemineurs ont visité votre lieu ? (fréquentation)

[2020-11-20 12:01] ircocomat opened #207 "Changer le terme "Chemineur" par terme "Voyageur" sur la plateforme"

[2020-11-20 12:02] ircocomat opened #208 "Dans informations utiles > "fiche suivie en interne par" > que veut dire cet onglet ?"

[2020-11-20 12:03] ircocomat opened #209 "Dans Description des types d'apprentissage : retirer les durées indicative"

[2020-11-20 12:05] ircocomat opened #210 "Texte de présentation alléger le texte"
la formation et la mise en réseau des personnes souhaitant s’engager dans la Transition afin que le rêve de voir éclore,
mûrir et s’entrelacer des mondes solidaires et écologiques s’enracine dans notre réalité.

 par

[2020-11-20 12:06] J9rem commented on #209
@ircocomat peux-tu me dire la raison ?

[2020-11-20 12:07] J9rem commented on #208
C'est pour savoir qui est le contact de la structure aux chemins de la transition.
Faut-il reformuler ?

[2020-11-20 12:07] J9rem commented on #208
Je préfère que tu poses ces questions sur notre canal dédié plutôt que de poser des questions par les Issues

[2020-11-20 12:07] #208 closed, assigned to J9rem, Lussye

[2020-11-20 12:09] J9rem commented on #205
- [x] Courte description >Présentation>Courte description du lieu- ajouter- mots clés possible  @Lussye est-ce que tu prends ?
- [x] Dans la partie modération je ne comprends pas les caches à cocher …? Peu compréhensible . (Toujours pas d'infos pertinent concernant la modération du point de vue cercle parcours) je m'en occupe
- [x] Type d’accueil-d’hebergement : Ajouter ”Capacité d'accueil” déjà e

[2020-11-20 12:13] ircocomat opened #211 "Mettre un lien CONTACT plus visible"

[2020-11-20 12:22] ircocomat opened #212 "Texte introduction chemins de la Transition"
**PAR**

En utilisant la plateforme, les utilisateurs peuvent alors partir à la découverte d'initiatives et de lieux alternatifs, découvrir et se former à de nombreuses compétences utiles à la transition.

[2020-11-20 12:23] J9rem commented on #211
@ircocomat peux-tu me donner des détails pour l'endroit où tu ne vois pas bien le lien CONTACT ?

[2020-11-20 12:25] J9rem commented on #210
pour modifier https://lescheminsdelatransition.org/plateforme/?CommentCaM/edit

[2020-11-20 12:26] J9rem commented on #212
pour modifier https://lescheminsdelatransition.org/plateforme/?QuiSommesNous/edit

[2020-11-20 15:05] ircocomat commented on #178
Ui on sait déjà que nous sommes sur la plateforme des Chemins de la Transition, si on peut retirer le doublon ça me parait plus pertinent .
Bienvenue sur la première plateforme d'apprentissages itinérants c'est très bien .

[2020-11-20 15:06] J9rem commented on #178
@Lussye Es-tu d'accord avec @ircocomat ?

[2020-11-20 15:13] ircocomat commented on #209
Ces durées ont été posées de manières arbitraire sans vraiment savoir quelles sont les durées des voyages suite à une série d'entretiens en Normandie avec plusieurs lieux selon leurs besoins, par Guillaume. Ça n'a pas été validé par la communauté, et ces infos sont floues . Les voyages peuvent être itinérants ou non . Longs ou courts, ponctuels ou continus .
Ce n'est pas pertinent de mettre une du

[2020-11-20 15:15] ircocomat commented on #208
Je ne comprends toujours pas la réponse .

[2020-11-20 15:17] ircocomat commented on #211
Ce n'est pas que je ne vois pas le lien contact , il est préférable d'avoir un accès plus visible au lien de contact par exemple avec les onglets/liens partagez nous . Ne pas hésiter a le mettre à chaque page .

[2020-11-20 15:21] J9rem commented on #209
Super, là j'ai une bonne justification.
OK pour les retirer.

merci ;-)
C'est dans le flux.
Celui qui fait pense bien à s'attribuer l'issue

[2020-11-20 15:22] J9rem commented on #211
OK, c'est noté dans les tâches non prioritaires qui seront faites si nous avons du temps ou du budget

[2020-11-20 15:57] J9rem commented on #162
@Lussye c'est nickel et parfait Bravo :clap:

[2020-11-20 15:57] #162 closed, assigned to J9rem

[2020-11-20 15:57] J9rem commented on #170
@Lussye nickel aussi :clap:

[2020-11-20 15:57] #170 closed, assigned to J9rem

[2020-11-20 19:09] J9rem commented on #164
@Lussye j'ai fait les [modifications suivantes](https://github.com/chemins-de-la-transition/plateforme/commit/57e82d84be47c337b60346911e86dae45a61e2ec)
est-ce que tu penses que ça répond aux questions de Mathieu ?
Si oui, tu peux fermer l'issue.

[2020-11-20 19:11] J9rem commented on #179
https://lescheminsdelatransition.org/plateforme/?AccueiL
Le logo et le lien internet font une petite transition vers le bas qui est superflue.

[2020-11-20 20:09] #212 closed, assigned to ircocomat

[2020-11-20 20:10] #210 closed, assigned to ircocomat

[2020-11-21 07:28] J9rem commented on #212
C'est super ta proposition

[2020-11-21 07:42] J9rem commented on #209
Ancien texte pour sauvegarde :
[code]

[2020-11-21 08:04] J9rem commented on #209
Fait : https://lescheminsdelatransition.org/plateforme/?AideTypeDeVoyage

[2020-11-21 08:04] #209 closed, assigned to J9rem

[2020-11-21 08:08] J9rem commented on #131
- remplacement de `https://lescheminsdelatransition.org/plateforme/?AideTypeDApprentissage` par https://lescheminsdelatransition.org/plateforme/?AideTypeDeVoyage
- remplacement du mot apprentissage par voyage
- [changement dans les formulaires](https://github.com/chemins-de-la-transition/plateforme/commit/3e82a4ebab8d8a2b9bb021e92f6ab56ab8875ecd)

pour info @Lussye

[2020-11-21 08:08] #131 closed, assigned to J9rem

[2020-11-21 09:51] ircocomat commented on #212
aux enjeux sociétaux et écologiques de notre époque, la Transition se fait languir. Des îlots d’alternatives existent pourtant, mais ils sont bien souvent invisibilisés et isolés. Via la création de Chemins de la Transition, ces îlots pourront être repeuplés, démultipliés et connectés en Archipels. Agissons ensemble pour participer à la découverte, la formation et la mise en réseau des personnes s

[2020-11-22 10:23] J9rem opened #213 "[UX] ajouter un lien contact dans le menu haut et changer blog en 'le blog'"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT) profil Marie (en lien avec #96)
Le menu haut contient
- [x] logo
- [x] Qui sommes-nous ?
- [x] Comment ça marche ?
- [x] La carte
- [x] Le blog
- [x] contact

[2020-11-22 10:52] J9rem opened #214 "[UX] Ajouter une barre d'en-tête"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT) profil Marie (en lien avec #96)
Il y devrait y avoir une barre d'en-tête supplémentaire contenant
- [x] Logo lien Twitter
- [x] Logo lien Facbook
- [x] Je m'inscrits / je me connecte (qui sera à retirer du menu roue crantée)

[2020-11-23 10:23] #164 closed, assigned to Lussye

[2020-11-23 10:41] Lussye commented on #175
Juste retravaillé le questionnaire en cours.
- ajout de tags avec la fonction dédiée suivant tes conseils. La question qui se pose alors : la liste Tags Blog est-elle appropriée ou vaut-il mieux proposer un affichage des tags existant (en y ajoutant Côté voyageur, voyageuse et Côté initiative accueillante, à moins de gérer cela par attribution de catégories ?) ?
- tentative d'ajout de modération,

[2020-11-23 11:11] Lussye commented on #204
@ircocomat

Je me demande si cette formulation n'induit pas un positionnement différent : l'expression des envies venant de la personne en démarche de voyage, le Se présenter me semble induire une sorte de rapport de force, même ténu (mettant les CdlT en position de demande plutôt que de proposition)... ou alors " Faire connaissance" ?

Effectivement, ça manquait !! merci de l'avoir vu. En revanch

[2020-11-23 11:16] Lussye commented on #205
@J9rem @ircocomat
- description du lieu + tags, -> je prends
- capacité d'accueil -> #177 (affichage conditionnel : le champ ne paraît qu'après avoir coché un type d'hébergement)

[2020-11-23 11:50] Lussye commented on #206
@ircocomat

usage du subjonctif présent : http://www.conjuguons.fr/conjugaison/verbe/voir

[2020-11-23 12:26] Lussye commented on #207
Chemineuses et chemineurs partis, y compris dans les formulaires (espérant n'en avoir oublié), bienvenue au voyageuses et voyageurs !

[2020-11-23 13:14] J9rem commented on #206
OK on ferme cette issue.
argument valide

[2020-11-23 13:14] #206 closed, assigned to ircocomat, Lussye

[2020-11-23 13:59] Lussye commented on #213
Concernant Contact, ajouté (déplacé, puisqu'auparavant dans Qui sommes-nous) en fin de MenuHaut, voir si préférable comme icône avec recherche et login ?

[2020-11-23 14:54] ircocomat commented on #206
Ok merci @Lussye  instructif 👍

[2020-11-23 15:03] ircocomat commented on #204
Faire connaissances  ++++ oui ! C'est une belle solution ! Merci @Lussye

Je pense qu'elles peuvent être justifiées car on peut commencer une phrase par "Je suis.." .

Je pense que c'est une bonne proposition,
en revanche dans la question "Pourquoi utiliser les CdlT" il y a cette dimension de récolte d'infos , pourquoi utiliser une plateforme comme la nôtre ? Voilà le sens !

Peut être que les deu

[2020-11-23 15:22] Lussye commented on #204
Justement, je ne comprends pas... Pour moi, ça donnerait qqch du type :
Je suis... en étude
Je suis... (une) personne en insertion / en reconversion
Je suis... professionnel en transition
Je suis... (un) autre profil

plus cohérent sans ajout de majuscule ? plutôt que

Je suis... En étude
Je suis... (une) Personne en insertion / en reconversion
Je suis... Professionnel en transition
Je suis... (un

[2020-11-23 15:46] J9rem commented on #213
Nickel, je ferme cette issue.
Toutefois, si tu as envie de rajouter un icône de courrier comme pour les thématiques, fais-toi plaisir

[2020-11-23 15:46] #213 closed, assigned to J9rem

[2020-11-23 15:48] J9rem commented on #204
Je vous laisse argumenter. Je ne m'intéresserai qu'à la relecture.

[2020-11-23 16:35] J9rem commented on #207
Désolé @ircocomat
Il est vivement conseillé que je vérifie la mise en application de cette issue car elle modifie le contenu de certains formulaires

[2020-11-23 17:57] J9rem opened #215 "[UX] vérifier les entrées manquantes dans le bandeau supérieur"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)
Créer les entrées manquantes dans le bandeau supérieur pour correspondre au fichier [Commentaires Marie](https://docs.google.com/document/d/1aArmNT7ppu8yy5AZkSh9EWKJbaVaOKGOMVLGc3G-oTI/edit)

[2020-11-23 18:00] J9rem opened #216 "[UX] créer les pages manquantes du menu haut"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)
#215 a créé des entrées manquantes dans le bandeau supérieur pour correspondre au fichier [Commentaires profil Marie](https://docs.google.com/document/d/1aArmNT7ppu8yy5AZkSh9EWKJbaVaOKGOMVLGc3G-oTI/edit)

- [x] Créer une page avec un minimum de contenu (comme par

[2020-11-23 18:06] J9rem opened #217 "[UX] liste dynamique des lieux en fonction du centrage de la carte"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)
Afficher une liste des lieux sous la carte, liste mise à jour dynamiquement en fonction du centrage de la carte.

[2020-11-23 18:07] J9rem commented on #96
@Lussye j'ai modifié ton commentaire pour ajouter des découpages supplémentaires et affecter de nouvelles issues, je te laisse relire à volonté ;-)

[2020-11-23 18:15] J9rem opened #218 "[UX] tester ajout, création, modification suppression d'un profil"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)
En tant que Marie, je peux créer, éditer et supprimer mon profil

- [x] profil du site
- [x] une fiche Lieu
- [x] une fiche Contributeur
- [x] une fiche réponse au sondage
- [x] une fiche ~~Chemineur~~ Voyageur, voyageuse
- [x] un événement lieu
- [x] un fiche sur

[2020-11-23 18:16] ircocomat commented on #207
Entendu ma faute je pensais bien faire mais avec mais j'ai commis une erreur par ignorance .
Au temps pour moi .
Merci @J9rem

[2020-11-23 18:16] J9rem commented on #218
@Lussye je nous ai attribué cette issue à tous les deux car nous devons faire le test en double selon moi

[2020-11-23 18:17] J9rem commented on #207
Pas de souci ;-)

[2020-11-23 18:20] J9rem opened #219 "[UX] créer un profil de compétences voyageur, voyageuse et de certification par les pairs"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)

Créer un système de compétences qu'il serait possible de faire valider par des badges.

YesWiki est en train d'implémenter un système de réactions et de commentaires protégés des spams, ... attendre la sortie de cette fonctionnalité.

[2020-11-23 18:22] J9rem opened #220 "[UX] créer une vue administrateur des compétences"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)

Créer une vue administrateur des compétences des voyageurs
à faire après #219
et il serait souhaitable d'attendre la sortie du module LMS de YesWiki qui permettra d'avoir de nombreuses fonctionnalités

[2020-11-23 18:27] ircocomat commented on #204
Entendu je suis d'accord si on peut rédiger sa réponse + système de tag en cohérence avec le semantique  est top !

Oui les deux questions sont pertinentes il me semble , la formulation du terme outil/plateforme me parait juste peut être qu'en récoltant des infos d'utilisateurs ou attentes d'utilisateurs on peut trouver de nouvelles fonctionnalités à la plateforme on sort du cadre et on peut tombe

[2020-11-23 18:28] J9rem commented on #60
Je clos cette issue car son contenu est en cours de traitement dans #96

[2020-11-23 18:28] #60 closed, assigned to nobody

[2020-11-23 18:28] J9rem commented on #20
Je clos cette issue car son contenu est en cours de traitement dans #96

[2020-11-23 18:28] #20 closed, assigned to J9rem

[2020-11-24 08:52] GuillaumeAV commented on #212
Super !

[2020-11-24 10:11] ircocomat commented on #209
Coucou lorsque l'on regarde les différents types de voyages au dessus de la carte > Lieux choisissez votre chemin> on affiche les détails des types de voyages> les durées indicatives sont toujours présentes ...

[2020-11-24 10:30] J9rem commented on #209
OUPS j'avais oublié cet endroit :
corrigé :
https://lescheminsdelatransition.org/plateforme/?LaCarte_VoyageApprenant
https://lescheminsdelatransition.org/plateforme/?LaCarte_Woofing
https://lescheminsdelatransition.org/plateforme/?LaCarte_Compagnonnage
https://lescheminsdelatransition.org/plateforme/?LaCarte_Ecotourisme

Merci pour ta vigilance

[2020-11-24 10:51] J9rem commented on #200
Je peux expliquer comment faire les importations, pour faire des tests.
Je l'ai aussi montré à @Lussye

ATTENTION : nous avons rajouté des nouveaux champs dans le formulaire Lieux.
Ceci a décalé les colonnes, il va falloir faire une mise à jour à la main de l'onglet importation pour tout recaler au bon endroit.

[2020-11-24 10:55] J9rem opened #221 "[ADMIN] faire la mise à jour de YesWiki par Jérémy"
Une nouvelle version de YesWiki est enfin sortie.
- [x] tester la mise à jour sur une copie
- [x] faire la mise à jour automatique sur la plateforme
- [x] ajouter manuellement les fichiers de personnalisation pour la plateforme

En raison de cette dernière étape d'ajout manuel de fichiers de personnalisation, il serait souhaitable que seul @J9rem fasse cette mise à jour pou éviter l'apparition de

[2020-11-24 11:25] Lussye commented on #204
@ircocomat j'ai modifié la description de l'issue dans le sens de nos échanges, es-tu ok avec ces nouvelles précisions ?

[2020-11-24 21:36] Mathieu-CdlT opened #222 "Sondage : ajouter une question sur les apports CdlT et les difficultés"
Création de lieu :
-	Pas de possibilité de choix / création de thématique par le lieu / suggestion de thématiques ?
`-	Ajout de nouvelles compétences : « Attention, si vous êtes en train de créer une fiche lieu, la nouvelle compétence n'apparaitra qu'une fois que vous aurez validé la fiche du lieu. Il faudra alors revenir la modifier pour ajouter la nouvelle compétence » + bug ((obligation de tout

[2020-11-24 21:40] Mathieu-CdlT opened #223 "Créer un template pour un affichage allégé des fiches sur la carte"
CONNEXION « MODERATEUR »
Modération :

Home Page - Affichage fiche (ex : itinéraire bis – Toulouse)
-	`Sous-domaines : affichage compliqué (barre bleue – obligé de passer dessus pour voir de quel sous domaine il s’agit)`
-	Rubriques :
o	Remonter les compétences au dessus de « tout ou partie des formations proposées sont certifiantes » ?
o	Quelles sont les infos qu’on veut avoir qd on se place ds l

[2020-11-24 21:42] Mathieu-CdlT opened #224 "Amélioration de la fiche Voyageur Voyageuse"
CONNEXION « VOYAGEUR »
Création fiche chemineur :
`-	Bas de pages : bouton «  sauvegarder et continuer » ? ou une présauvegarde automatique en cliquant sur page suivante ? (valable pour création de lieu aussi) `

[code]
-	Mes envies :
`o	Je suis… Autre profil ? case à remplir avec précision ?`
-	Mon parcours :
o	Thématiques :
	`Thématiques / centres d’intérêt plutôt ?`
	`Justice ? Discussion et

[2020-11-24 21:45] Mathieu-CdlT commented on #224
Toutes mes observations sur le [drive ](https://docs.google.com/document/d/1iv_O5IKstlG9P3rhZLtBpMUwOMwXxTpi/edit)

[2020-11-24 21:46] Mathieu-CdlT commented on #223
Toutes mes observations sur le [drive ](https://docs.google.com/document/d/1iv_O5IKstlG9P3rhZLtBpMUwOMwXxTpi/edit)

[2020-11-24 21:46] Mathieu-CdlT commented on #222
Toutes mes observations sur le [drive ](https://docs.google.com/document/d/1iv_O5IKstlG9P3rhZLtBpMUwOMwXxTpi/edit)

[2020-11-25 07:52] J9rem opened #225 "Fiches : ajouter une pré-sauvegarde automatique"
cf. #224 ajouter un bouton « sauvegarder et continuer » ? ou une présauvegarde automatique en cliquant sur page suivante ?

ATTENTION : fonctionnalité pas encore présente dans YesWiki donc non applicable YesWiki pour le moment

[2020-11-25 07:52] J9rem commented on #224
non applicable YesWiki cf #225

[2020-11-25 08:01] J9rem commented on #224
https://lescheminsdelatransition.org/plateforme/?MesFiches

[2020-11-25 08:02] J9rem commented on #224
Je soupçonne que tu étais connecté en Profil Modérateur (c'est ce que me raconte les suiveurs automatiques du site).
Et donc c'est normal

[2020-11-25 08:05] J9rem commented on #224
	N’entre pas en contradiction avec case cochée RGPD ?

Justement non. Cette case fait partie de la RGPD. Nous devons demander à chacun la confirmation d'être d'accord pour diffuser ses informations.
Valides-tu ? @Lussye

[2020-11-25 08:10] J9rem opened #226 "Affichage des choix de dates : corriger la position du calendrier + format français ?"
cf #224

[2020-11-25 08:10] J9rem commented on #224
o	Date de naissance :  pb de calendrier (affichage Nov 2020 et on remonte ds le tps mois par mois. Vaut mieux être jeune.. 😉) – saisie libre et calendrier possible ?
o	Date d’adhésion : format date français ?

cf #226

[2020-11-25 08:14] J9rem opened #227 "Fiche voyageur : Mes envies/Je suis… Autre profil ? case à remplir avec précision ?"
cf #224

Dans Fiche voyageur : Mes envies/Je suis… Autre profil ? case à remplir avec précision ?

 - solution la plus simple : reformuler "autre profil" dans la liste associée pour ne pas inviter à rajouter un champ de type case à remplir
 - solution la plus compliquée, ajouter un champ de type case à remplir (mais dont je ne suis pas sûr de l'utilité)

[2020-11-25 08:15] J9rem commented on #224
cf #227

[2020-11-25 08:15] J9rem commented on #224
 Si on clique sur oui, QUID du traitement des particularités ?

C'est du ressort de cercle Parcours et de la modération, .... le cercle plateforme ne s'en charge pas.

[2020-11-25 08:19] J9rem opened #228 "Menu Login Modal : ajouter le lien vers "mes Fiches""
cf # 224

_Concerne le template Login.tpl.html_

[2020-11-25 08:19] J9rem commented on #224
cf #228

[2020-11-25 08:21] J9rem commented on #224
	J’ai peut-être buggé, mais pas d’incrémentation de la compétence ajoutée. Donc une fois créée pas possible de l’ajouter directement.  J’ai actualisé pr tenter de la voir apparaitre, ca a planté. « La fiche n’a pas pu être sauvée car elle ne possède pas de titre ». Possibilité de mettre un pop-up lors de l’actualisation pour inviter l’utilisateur à sauvegarder avant de « sortir de la page » ? ou

[2020-11-25 08:30] J9rem commented on #223
Résolu

[2020-11-25 08:31] J9rem commented on #223
pour le template, pensez à inclure un lien vers une page détaillée de la fiche lieu

[2020-11-25 08:33] J9rem commented on #222
Transiscope ne permet pas de saisir sa propre fiche, Près de chez nous le permet, ...

[2020-11-25 08:35] J9rem opened #229 "Ajouter demande SIRET + retrait catégorie indépendant"
cf . #222

Dans formulaire Lieux

et retirer le mot "indépendant" qui est trop vague et déjà couvert par les autres éléments de la liste.

_SIRET champ non requis_

[2020-11-25 08:36] J9rem commented on #222
cf #229

[2020-11-25 08:37] J9rem commented on #222
oui, RGPD, il vaut mieux demander pour chaque formulaire.

[2020-11-25 08:38] J9rem commented on #222
C'est possible mais je ne pense pas que ce soit si utile.

[2020-11-25 08:40] J9rem commented on #222
@Lussye pour cette issue, il ne reste qu'à ajouter les questions proposées par @Mathieu-CdlT dans le formulaire sondage.
Ensuite, je fais la revue puis nous pourrons la clore.

[2020-11-25 09:35] Lussye commented on #224
En effet, l'objet du RGPD n'est pas d'empêcher la collecte et le traitement d'informations, dont la publication, mais de prendre en compte et respecter les volontés d'une personne quant à ses données personnelles, d'où le rôle central du consentement. RGPD = informer de la nature des données et des traitements auxquels elles seront soumises + demander le consentement.
N'hésitez pas cependant à com

[2020-11-25 12:41] J9rem commented on #200
C'est OK pour les colonnes, j'ai fait le tour.
Il faudra y être vigilant quand on modifie le formulaire Lieux

[2020-11-25 13:05] ircocomat commented on #204
Oui c'est super, excepté pour mes envies n'avions nou spas convenu qu'il est plus juste de mettre FAISONS CONNAISSANCES ?

[2020-11-25 13:41] J9rem commented on #207
@Lussye je viens de changer les droits d'éditions des pages suivantes à editeurs.
Je suppose que tu avais oublié de le faire (enfin j'espère que c'est bien ceci et non l'apparition d'un bug de sécurité).
https://lescheminsdelatransition.org/plateforme/?AjouterUneFiche_Voyageur
https://lescheminsdelatransition.org/plateforme/?CommentCaMarche_Voyageur

[2020-11-25 13:48] J9rem commented on #207
Il rester une trace ici :
https://lescheminsdelatransition.org/plateforme/?wiki=Aide_OpenBadges%2Fdiff&a=2724&b=1587
et
là
https://lescheminsdelatransition.org/plateforme/?wiki=ChartE%2Fdiff&a=2723&b=2038
C'est bon maintenant :
https://lescheminsdelatransition.org/plateforme/?wiki=RechercheTexte&phrase=chemineur
https://lescheminsdelatransition.org/plateforme/?wiki=RechercheTexte&phrase=chemineuse

[2020-11-25 13:48] #207 closed, assigned to J9rem

[2020-11-25 13:53] J9rem commented on #204
OK, à part pour le "faisons connaisance", le reste est OK.
je remets l'issue en "in progress" tant que vous n'avez pas statué sur le faisons connaissance.
N'hésitez pas à vous appeler pour cet échange ou à solliciter un avis de  la communauté sur le canal plateforme

[2020-11-25 13:54] J9rem commented on #229
OK (+ [ma mise à jour](https://github.com/chemins-de-la-transition/plateforme/commit/6652db96c8eb58fff6d6deb040d59544d49a00e0))

[2020-11-25 13:54] #229 closed, assigned to Lussye

[2020-11-25 13:55] J9rem commented on #222
Nickel @Lussye

[2020-11-25 13:55] #222 closed, assigned to J9rem

[2020-11-25 16:15] Lussye commented on #204
La modif avait pourtant été faite, mais vraisemblablement pas prise en compte :/
Refait, donc...

[2020-11-25 16:16] J9rem commented on #204
Aïe peut-être un problème de modification en même temps par mes soins oups

[2020-11-25 16:17] Lussye commented on #204
grr ;)
Mais je viens de vérifier, ça semble bien pris en compte cette fois-ci

[2020-11-25 16:19] J9rem commented on #204
oui nickel (j'ai archivé dans le Github comme ça on pourra retrouver les modif au besoin)

[2020-11-25 16:19] #204 closed, assigned to ircocomat, J9rem

[2020-11-25 16:22] Lussye commented on #207
Bien vu ! merci =)

[2020-11-25 16:36] Lussye commented on #227
sans certitude de la pertinence de la deuxième proposition, est-ce qu'elle ne résout pas malgré tout un pb qui reste à mon sens de persister avec la première : quelle que soit la précision, est-ce qu'il sera possible d'englober tous les profils ?

[2020-11-25 18:35] J9rem commented on #227
ah vous avez deux heures, sujet de philo bac 2021 ;-)

[2020-11-26 17:21] J9rem commented on #96
@Lussye pour ce point :

J'ai envie de dire que nous n'avons pas besoin de rentrer aussi loin dans le détail sur la V0.1 car ça va rendre un peu compliqué l'interface.
Es-tu d'accord ?

[2020-11-26 17:24] J9rem commented on #96
je dirai qu'un logo suffirait

Ca n'est pas encore possible avec YesWiki.

Bug YesWiki corrigé

[2020-11-26 17:27] J9rem opened #230 "[UX] Réfléchir à un système de Badges (notation des lieux)"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)

- Réfléchir à un système de Badges (notation des lieux). Notamment pour permettre le référencement de restos / logements qui ne sont pas nécessairement CDLT mais pourraient dépanner les gens de passage, avec un badge, référencé mais pas nécessairement social et e

[2020-11-26 17:28] J9rem opened #231 "Ajouter un lien pour s'abonner à la Newsletter"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)

[2020-11-26 17:31] J9rem commented on #96
- Créer Rubrique : Objectifs de la formation ->
- Créer Rubrique : Acquisition des compétences (liste des compétences qui viennent incrémenter le profil de compétences de l’utilisateur en fin de formation + reco/ validation par formateur) ->
- Créer Rubrique : Programme de formation (théorique / pratique) ->
- Créer Rubrique : Bio du formateur / formatrice ->
- Créer Rubrique : Public concerné ->

[2020-11-26 17:32] J9rem opened #232 "STATISTIQUES ET EVALUATION IMPACT DES CDLT (ADMIN)"
En s'inspirant des [Travaux UX de Rachel](https://drive.google.com/drive/folders/1nUZy8WPyGA6OzxKT-5U_TSiLahp-1ReT)  (en lien avec #96)

STATISTIQUES ET EVALUATION IMPACT DES CDLT (ADMIN) : récupérer un maximum d’infos sur l’impact de la plateforme et des CDLT et en particulier sur Impact sur développement territorial, pérennisation des projets & Impact sur la formation des apprenants / insertion

[2020-11-26 17:33] J9rem commented on #96
@Lussye que penses-tu de la couverture de cette Issue ?
Suffisamment découpée en petits morceaux ou considérés comme non applicable.
Ai-je oublier un truc à traiter ?

[2020-11-26 17:44] J9rem commented on #175
Pour la rubrique Blog, je pense que nous n'avons pas besoin de modération en fait.

[2020-11-26 17:52] J9rem commented on #175
Cf. https://github.com/chemins-de-la-transition/plateforme/commit/1058d575f4c80be2c9db5d1d2867ab1723aed6b2

Pour le reste tout est bon sur la structure, mais je me demande s'il ne faudrait pas appeler cette partie la “témoignages”
Si tu es OK @Lussye avec cette appellation, je te laisse faire la modi.

Pour les vidéos, dès que j'ai fait la mise à jour de YesWiki, ce sera super facile.

[2020-11-27 09:37] J9rem opened #233 "Pour les compétences des voyageurs, saisie libre des compétences et affichage 3 niveaux après (débutant, intermédiaire, expert) ? + savoir être ?"
Pour les compétences des voyageurs, saisie libre des compétences et affichage 3 niveaux après (débutant, intermédiaire, expert) ? + savoir être ?

[2020-11-27 09:37] J9rem commented on #224
ça va être compliqué dans un premier temps donc Issue non prioritaire -> #233

[2020-11-27 09:43] J9rem commented on #224
Je préfère ne rien toucher au thème YesWiki de base. Ca n'est pas l'objectif de la V0.1. Juste le choix des couleurs.

[2020-11-27 09:46] J9rem commented on #224
@Lussye si tu es d'accord et/ou motivée, je te propose de faire ce qui reste de cette Issue:
**Formulaire Voyageur**
Compétences* :
	Titre : Remplacer par « mes compétences »
	Thématiques / centres d’intérêt plutôt ? -> renommer
Thématiques supplémentaires – sous domaines et compétences
	Enlever compétences (il est ds le pavé « Compétences » du dessous (ou est ce voulu ?)
  **ma proposition** :

[2020-11-27 09:48] J9rem commented on #224
Je me dis que nous pouvons laisser sans risque dans l'état avec la V0.1. Quand le cercle parcours aura pu avancer, il nous aidera à reformuler.

[2020-11-27 09:53] J9rem commented on #25
@ircocomat que penses-tu de cette page ? https://lescheminsdelatransition.org/plateforme/?Espace_Moderateurs
Est-ce qu'elle est suffisamment complète et claire pour la présenter au cercle Parcours pour discussion ?
Est-ce que tu t'en charges ?

[2020-11-27 10:48] ircocomat opened #234 "Processus de modération - Info"
Modération des fiches lieux sur la plateforme

Les modérateurs n’ont pas été désignés. Les coordinateurs régionaux peuvent être les modérateurs mais ils ne sont peut-être pas les mieux placés (risque arbitraire et autoritaire). Ils sont en revanche en première ligne pour prendre contact avec les initiatives et assurer le SAV.
Le comité de régulation des parcours peut-il jouer un rôle de régulateur

[2020-11-27 10:51] J9rem commented on #234
@ircocomat je crois que tu n'as pas vu l'issue existante qui couvre ce que tu viens d'écrire.
peux-tu recopier ceci dans l'issue #25  ? et clore celle-ci.

Merci pour ton retour.

[2020-11-27 10:53] ircocomat commented on #234
Pardon oui je m'en charge !

[2020-11-27 10:54] #234 closed, assigned to ircocomat

[2020-11-27 10:55] ircocomat commented on #25
Modération des fiches lieux sur la plateforme

Les modérateurs n’ont pas été désignés. Les coordinateurs régionaux peuvent être les modérateurs mais ils ne sont peut-être pas les mieux placés (risque arbitraire et autoritaire). Ils sont en revanche en première ligne pour prendre contact avec les initiatives et assurer le SAV.
Le comité de régulation des parcours peut-il jouer un rôle de régulateur

[2020-11-27 15:10] Lussye commented on #96
@J9rem les apports UX sur les écrans Admin peut-être ?

Sinon ça me paraît nickel : soit traité par une issue, soit non réalisable, soit trop tôt pour un alignement au Cercle Parcours

[2020-11-27 15:16] Lussye commented on #175
@J9rem Juste modifier l'intitulé Le blog-> Témoignages, ou Témoignages peut être considéré comme une catégorie du blog ? Quelle structure vois-tu pour le blog, à articuler avec le Wiki How aussi ?

et cool pour les vidéos ! =D

[2020-11-27 15:26] ircocomat opened #235 "Construction de parcours/voyages pour les voyageurs"
- Création de parcours au fil du voyage  pour les voyageurs

- Concevoir son propre voyage sur mesure ? Notamment pour les typologies de voyage comme WOOFING & ecotourisme

Note : La question des parcours pré-construit ne réduit elle pas la possibilité de nouveaux parcours ?

[2020-11-27 15:27] Lussye opened #236 "Modération (?) des champs de mots-clés"
Trouver une solution pour ne pas se retrouver avec le même mot avec accent, sans, majuscules, minuscules, singulier, pluriel, avec ou sans tiret, etc...

[2020-11-27 15:28] ircocomat opened #237 "Recherche par autocomplétion"
Barre de recherche en autocomplétion

[2020-11-27 15:38] Lussye commented on #224
@J9rem @Mathieu-CdlT

Compétences -> Mes compétences
Thématiques supplémentaires — sous-domaines et compétences -> Mes mots-clés (le "Mes" est un essai, mais si convient pas, hésitez pas !!)

Concernant : Thématiques à renommer en Centres d'intérêt, je demande éclaircissement car pour moi pas même question :
- Thématique fait lien avec les thématiques (appellation des CdlT) qui auraient été abordé

[2020-11-27 16:31] J9rem commented on #96
Dans ce cas, je clos l'issue (trop grosse et je te laisse faire une issue dédiée écran ADmin si tu en sens le besoin)

[2020-11-27 16:31] #96 closed, assigned to Lussye

[2020-11-27 16:32] J9rem commented on #175
Comme tu le sens, pour moi les témoignages sont une catégorie du blog, mettre tout en vrac

[2020-11-27 16:36] J9rem commented on #224
Je suis plutôt pour garder Thématiques.
@Mathieu-CdlT on te laisse jusqu'au 4 décembre pour te prononcer sinon on considère que c'est bon en létat.

Super tes modifs. @Lussye

[2020-11-27 16:42] Lussye commented on #215
- [x] Création d'une page LeProjet au lieu du doublon QuiSommesNous

- L'équipe : lien vers https://lescheminsdelatransition.org/lequipe/ (depuis la page QuiSommesNous) -> on perd les gens sur le Wp -> issue #238

@J9rem  Sinon, désolée, besoin d'éclaircissements :p

- [x] Comment ça marche > Utilisation de la plateforme et Comment ça marche > Participation consciente me semblent plus appropriées